{% extends 'products/base.html' %}

{% block container_subtitle %}Wijzig contactgegevens{% endblock container_subtitle %}
{% block container_title %}Contact gegevens voor de gemeente Buren{% endblock container_title %}

{% block inner %}
    <form class="form">
        <div class="form__block">
            <fieldset class="form__group">
                <label class="form__label" for="">Organisatienaam</label>
                <input class="form__input" type="text" value="Gemeente Buren">
            </fieldset>
            <fieldset class="form__group">
                <label class="form__label" for="">Website</label>
                <input class="form__input" type="text" value="Gemeente Buren">
            </fieldset>
            <fieldset class="form__group">
                <label class="form__label" for="">Telefoonnummer</label>
                <input class="form__input" type="text" value="Gemeente Buren">
            </fieldset>
            <fieldset class="form__group">
                <label class="form__label" for="">E-mail adres</label>
                <input class="form__input" type="text" value="Gemeente Buren">
            </fieldset>
            <fieldset class="form__group">
                <label class="form__label" for="">LUA-code</label>
                <input class="form__input" type="text" value="Gemeente Buren">
            </fieldset>
        </div>

        <div class="form__subforms">
            <div class="form__subform">
                <h3 class="form__subtitle">
                    Locatie 1
                    <a class="form__delete" href="#">
                        <i class="far fa-trash-alt"></i>
                        Locatie verwijderen
                    </a>
                </h3>

                <div class="form__block-group">
                    <div>
                        <fieldset class="form__group">
                            <label class="form__label" for="">Locatienaam</label>
                            <input class="form__input" type="text" value="Gemeente Buren">
                        </fieldset>
                        <fieldset class="form__group">
                            <label class="form__label" for="">Adres + huisnummer</label>
                            <input class="form__input" type="text" value="Gemeente Buren">
                        </fieldset>
                        <div class="form__table form__special-group">
                            <fieldset class="form__group">
                                <label class="form__label" for="">Postcode</label>
                                <input class="form__input" type="text" value="Gemeente Buren">
                            </fieldset>
                            <fieldset class="form__group">
                                <label class="form__label" for="">Plaats</label>
                                <input class="form__input" type="text" value="Gemeente Buren">
                            </fieldset>
                        </div>
                    </div>
                    <div class="form__table">
                        <div class="form__table-header">Dag</div>
                        <div class="form__table-header">Openingstijden</div>
                        <label for="">Maandag</label>
                        <input class="form__input" type="text">
                        <label for="">Dinsdag</label>
                        <input class="form__input" type="text">
                        <label for="">Woensdag</label>
                        <input class="form__input" type="text">
                        <label for="">Donderdag</label>
                        <input class="form__input" type="text">
                        <label for="">Vrijdag</label>
                        <input class="form__input" type="text">
                        <label for="">Zaterdag</label>
                        <input class="form__input" type="text">
                        <label for="">Zondag</label>
                        <input class="form__input" type="text">
                    </div>
                </div>
            </div>

            <div class="form__add-subform">
                <i class="fas fa-plus"></i>
                Nog een locatie toevoegen
            </div>
        </div>

        <div class="form__actions">
            <input class="form__action-button button" type="submit" value="Opslaan">
            <p class="form__action-help">Wijzigingen worden direct gepubliceerd</p>
        </div>
    </form>
{% endblock inner %}
