{% extends 'organisaties/roles/base.html' %}
{% load i18n producten utils humanize %}

{% block page_title %}{% blocktrans with user=role.user %}Gebruiker {{ user }} verwijderen{% endblocktrans %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% blocktrans with user=role.user organisation=role.lokale_overheid %}
            Je staat op het punt om gebruiker "{{ user }}" te verwijderen uit organisatie "{{ organisation }}".
        {% endblocktrans %}
    </p>
{% endblock %}



{% block inner_content %}
    <form method="post">
        {% csrf_token %}
        <p>{% blocktrans with user=object.user %}Weet je zeker dat je <span class="primary text-bold">{{ user }}</span> wilt verwijderen?{% endblocktrans %}</p>
        <hr class="divider">
        <div class="form__actions">
            <button type="submit" class="button">{% trans "Verwijderen" %}</button>
            <a href="{% url 'organisaties:roles:list' pk=lokaleoverheid.pk %}" class="button button--light">
                {% trans 'Annuleren' %}
            </a>
        </div>
    </form>
{% endblock inner_content %}
