{% extends 'organisaties/roles/base.html' %}

{% load i18n %}
{% load producten %}
{% load utils %}
{% load humanize %}

{% block title %}SDG | {% trans "Gebruiker" %} "{{ role.user }}" {% trans "verwijderen" %}{% endblock %}
{% block notifications %}{% endblock %}

{% block inner_content %}
    <form method="post">
        {% csrf_token %}
        <div class="subheading">
            <p>{% trans "Weet je zeker dat je" %} <span class="primary text-bold">{{ object.user }}</span> {%  trans "wilt verwijderen?" %}</p>
        </div>
        <hr class="divider">
        <input type="submit" class="button" value="{% trans 'Verwijderen' %}">
        <a href="{% url 'organisaties:roles:list' pk=lokaleoverheid.pk %}">
            <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
        </a>
    </form>
{% endblock inner_content %}
