{% extends 'organisaties/roles/base.html' %}
{% load i18n producten utils humanize %}

{% block page_title %}{% trans "Gebruikersbeheer" %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% trans "Hieronder staan alle gebruikers die gekoppeld zijn aan de organisatie. Redacteuren kunnen alleen teksten beheren en beheerders kunnen ook andere instellingen en gebruikers beheren. Raadplegers kunnen hetzelfde als redacteuren maar kunnen teksten niet opslaan." %}
    </p>
{% endblock %}



{% block inner_content %}
    <div class="roles">
        {% with role_list.all as roles %}
            <div class="tabs">

                <div class="tabs__tab-contents">
                    <div class="tabs__tab-content tabs__tab-content--active"
                         id="roles">
                        <table class="tabs__table">
                            <thead>
                            <tr>
                                <th class="tabs__table-header">{% trans "Naam" %}</th>
                                <th class="tabs__table-header">{% trans "Beheerder" %}</th>
                                <th class="tabs__table-header">{% trans "Redacteur" %}</th>
                                <th class="tabs__table-header">{% trans "Raadpleger" %}</th>
                                <th class="tabs__table-header" width="25%">{% trans "Acties" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for role in roles %}
                                {% with role.user as user %}
                                    {% include "organisaties/roles/_user.html" %}
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr class="divider">
                        <div class="roles__control">
                            {% if request.user|is_manager:lokaleoverheid %}
                                <a class="button"
                                   href="{% url 'organisaties:roles:invitation_create' pk=lokaleoverheid.pk %}">
                                    <i class="far fa-envelope"></i>
                                    {% trans "Nieuwe gebruiker toevoegen" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock inner_content %}
