{% extends 'organisaties/roles/base.html' %}
{% load i18n producten utils humanize %}

{% block page_title %}{% blocktrans %}Gebruiker {{ role.user }} wijzigen{% endblocktrans %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% trans "Je kan de rol van de gebruiker hieronder wijzigen." %}
    </p>
{% endblock %}

{% block inner_content %}
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form__block">
            <div class="form__block-inline">
                {% for field in form %}
                    {% checkbox field %}
                {% endfor %}
            </div>
        </div>
        <input type="hidden" name="next" value="{{ redirect_field_value }}">
        <hr class="divider">
        <div class="form__buttons">
            <input type="submit" class="button" value="{% trans 'Opslaan' %}">
            {% if request.user.email == role.user.email and role.is_beheerder is not True %}
                {% url 'organisaties:roles:update' pk=lokaleoverheid.pk role_pk=role.pk as cancel_url %}
            {% else %}
                {% url 'organisaties:roles:list' pk=lokaleoverheid.pk as cancel_url %}
            {% endif %}
            <a href="{{cancel_url}}">
                <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
            </a>
        </div>
    </form>
{% endblock inner_content %}
