@import 'reseter.css/css/reseter.css';

// General styling:
body {
  color: #212121;
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

html, body {
  scrollbar-gutter: stable;
}

input, textarea {
  color: #212121;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #0B71A1;
}

.mt-m {
  margin-top: 24px;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-none {
  display: none;
}

.readonly {
  pointer-events: none;
}

a[href="https://vng.nl/"] {
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(1.3);
  }
}

@import 'settings';
@import 'components';
@import 'views';
