@import 'reseter.css/css/reseter.css';
@import 'settings';
@import 'components';
@import 'views';
@import 'mocks';
// General styling:
body {
  color: #212121;
  background-color: #F2F2F2;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

input, textarea, button {
  color: #212121;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #0B71A1;
}

blockquote {
  border-left: 5px solid #ccc;
  padding-left: 1.5em;
  font-style: italic;
}

.mt-m {
  margin-top: 24px;
}

.hidden {
  display: none !important;
}

.animated {
  transition: 300ms all ease-in-out;
  opacity: 1;
  visibility: visible;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-none {
  display: none;
}

.readonly {
  pointer-events: none;
}

.shine {
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(1.5);
  }
}

.text-small {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.heading {
  font-size: 20px;
}

.subheading {
  font-size: 16px;
  color: $color_grey_darker;
  margin: 16px 0;

  svg {
    margin-right: 6px;
  }
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline !important;
}