{% extends 'core/base_home.html' %}
{% load i18n %}

{% block inner %}
    {% with namespace=request.resolver_match.namespaces|last pk=lokaleoverheid.pk %}
        <div class="breadcrumbs">
            <div>
                <a href="{% url 'core:home' %}">{% trans 'Homepage' %}</a>
                {% with kwargs=request.resolver_match.kwargs %}
                    {% if kwargs.pk %}
                        <a href="{% url 'organisaties:catalogi:list' pk=kwargs.pk %}">{{ lokaleoverheid }}</a>
                    {% endif %}
                    {% if kwargs.catalog_pk %}
                        <a href="{% url 'organisaties:catalogi:list' pk=kwargs.pk %}">{% trans 'Productenlijst' %}</a>
                    {% endif %}
                {% endwith %}
                {% if breadcrumbs_title %}
                    <span>{{ breadcrumbs_title }}</span>
                {% elif namespace == "roles" %}
                    <span>{% trans "Gebruikers" %}</span>
                {% elif namespace == "organisaties" %}
                    {% if view.template_name == "organisaties/update.html" %}
                        <span>{% trans "Organisatie instellingen" %}</span>
                    {% else %}
                        <span>{% trans "Locaties" %}</span>
                    {% endif %}
                {% else %}
                    <span>{{ object|capfirst|default:namespace|capfirst }}</span>
                {% endif %}
            </div>
        </div>
        <h2 class="products__title primary">
            {% block page_title %}
                <span>{{ object|capfirst|default:namespace|capfirst }}</span>
            {% endblock %}
        </h2>
        {% block page_intro %}{% endblock %}

        <hr class="divider">

        {% if SDG_CMS_PRODUCTS_DISABLED %}
            {% trans "Je kan producten niet beheren in het CMS maar enkel via de API. Je kan wel via het menu bovenin de organisatie gegevens, locaties en bevoegde organisaties beheren." %}
        {% else %}
            {% block inner_content %}
            {% endblock inner_content %}
        {% endif %}
    {% endwith %}
{% endblock inner %}
