{% extends 'core/base_home.html' %}
{% load i18n %}

{% block inner %}
    {% with namespace=request.resolver_match.namespaces|last pk=lokaleoverheid.pk %}
        <div class="tabs">
            <div class="tabs__tabs">
                <a href="{% url 'organisaties:catalogi:list' pk=pk %}"
                   class="tabs__tab tabs__tab{% if namespace in "catalogi,producten" %}--selected{% endif %}">
                    {% trans "Catalogi" %}
                </a>
                <a href="{% url 'organisaties:edit' pk=pk %}"
                   class="tabs__tab tabs__tab{% if namespace == "organisaties" %}--selected{% endif %}">
                    {% trans "Locaties" %}
                </a>
                <a href="{% url 'organisaties:roles:list' pk=pk %}"
                   class="tabs__tab tabs__tab{% if namespace == "roles" %}--selected{% endif %}">
                    {% trans "Gebruikers" %}
                </a>
            </div>
        </div>
        <div class="notifications">
            {% include "core/_notifications.html" %}
        </div>
        <div class="breadcrumbs">
            <div>
                <a href="{% url 'core:home' %}">{% trans 'Home' %}</a>
                {% with kwargs=request.resolver_match.kwargs %}
                    {% if kwargs.pk %}
                        <a href="{% url 'organisaties:catalogi:list' pk=kwargs.pk %}">{{ lokaleoverheid }}</a>
                    {% endif %}
                    {% if kwargs.catalog_pk %}
                        <a href="{% url 'organisaties:catalogi:list' pk=kwargs.pk %}">{% trans 'Catalogi' %}</a>
                    {% endif %}
                {% endwith %}
                {% if namespace == "roles" %}
                    <span>{% trans "Gebruikers" %}</span>
                {% elif namespace == "organisaties" %}
                    <span>{% trans "Locaties" %}</span>
                {% else %}
                    <span>{{ namespace|title }}</span>
                {% endif %}
            </div>
        </div>
        <h2 class="products__title primary">{{ object|title|default:namespace|title }}</h2>
        <hr class="divider">
        {% block inner_content %}
        {% endblock inner_content %}
    {% endwith %}
{% endblock inner %}
