{% extends 'master.html' %}
{% load static i18n utils %}
{% block title %}{% block head_title %}{% endblock head_title %} | SDG{% endblock title %}

{% block extra_css %}
    <script src="{% static 'bundles/fontawesome.js' %}"></script>
{% endblock %}

{% block outer_content %}
    <header class="header {% block header_classes %}{% endblock header_classes %}">
        <div class="container header__top">
            <div class="logo">
                <h1 class="logo__title logo__title-medium">
                    <a href="{% url 'core:home' %}">
                        <span class="logo__uncolored">SD</span><span class="logo__colored">G</span>
                    </a>
                </h1>
                <h2 class="logo__subtitle logo__subtitle-medium">voor {{ org_type_cfg.name_plural }}</h2>
            </div>
            <div class="header__user header__dropdown">
                <i class="fas fa-user"></i>

                <span class="header__username">
                    {{ request.user }}
                </span>

                <div class="header__dropdown-list">
                    {% with pk=lokaleoverheid.pk %}

                        {% if not pk %}
                            <a class="header__dropdown-text">
                                {% trans "Selecteer eerst een organisatie voor meer opties." %}
                            </a>
                        {% else %}
                            {% if request.user|is_manager:lokaleoverheid %}
                                <a class="header__dropdown-action" href="{% url 'organisaties:edit' pk=pk %}">
                                    <i class="fas fa-building"></i> {% trans "Organisatie instellingen" %}
                                </a>
                                <a class="header__dropdown-action" href="{% url 'organisaties:locaties' pk=pk %}">
                                    <i class="fas fa-compass"></i> {% trans "Locaties" %}
                                </a>
                                <a class="header__dropdown-action"
                                   href="{% url 'organisaties:bevoegde_organisaties' pk=pk %}">
                                    <i class="fas fa-handshake"></i> {% trans "Bevoegde organisaties" %}
                                </a>
                            {% endif %}
                            <a class="header__dropdown-action" href="{% url 'organisaties:roles:list' pk=pk %}">
                                <i class="fas fa-users"></i> {% trans "Gebruikersbeheer" %}
                            </a>
                        {% endif %}

                        {% if siteconfig.documentatie_link %}
                            <a class="header__dropdown-action" href="{{ siteconfig.documentatie_link }}" target="_blank"
                               rel="noopener" id="documentation">
                                <i class="fa fa-book"></i> {{ siteconfig.documentatie_titel|capfirst|default:_("Documentatie") }}
                            </a>
                        {% endif %}

                        <hr>

                        <a class="header__dropdown-action" href="{% url 'notificaties' %}">
                            <i class="fa fa-bell"></i> {% trans "Notificaties" %}
                        </a>

                        <hr>

                        <a class="header__dropdown-action" href="{% url 'account_logout' %}">
                            <i class="fas fa-sign-out-alt"></i> {% trans "Uitloggen" %}
                        </a>

                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="container">
            <p class="header__subtitle">{% block container_subtitle %}{% endblock container_subtitle %}</p>
            <p class="header__title">
                {% block container_title %}
                    {% if lokaleoverheid %}
                        <b>{{ lokaleoverheid }}</b>
                        {% include "core/_municipality_switch.html" %}
                    {% else %}
                        <div class="header__title">
                            <b>SDG</b> {% trans "Invoervoorziening" %}
                        </div>
                    {% endif %}
                {% endblock container_title %}
            </p>
        </div>
    </header>
{% endblock %}


{% block content %}
    {% block notifications %}
        <div class="notifications">
            {% include "core/_notifications.html" %}
        </div>
    {% endblock %}

    {% block inner %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer__left">
            Een initiatief van
            {% with logo=org_type_cfg.footer_logo %}
                <a href="{{ org_type_cfg.url }}" target="_blank" rel="noopener" class="shine">
                    <img class="footer__logo" src="{% static logo %}"/>
                </a>
            {% endwith %}
        </div>
        <div class="footer__right">
            <a class="footer__link" href="{{ org_type_cfg.accessibility_url }}" rel="noopener noreferrer">{% trans "Toegankelijkheid" %}</a>
            <a class="footer__link" href="{{ org_type_cfg.privacy_policy_url }}" rel="noopener noreferrer">{% trans "Privacybeleid" %}</a>
        </div>
    </div>
{% endblock footer %}
