{% extends 'master.html' %}
{% load static i18n utils %}
{% block title %}{% block head_title %}{% endblock head_title %} | SDG{% endblock title %}

{% block extra_css %}
    <script src="{% static 'bundles/fontawesome.js' %}"></script>
{% endblock %}

{% block outer_content %}
    <header class="header {% block header_classes %}{% endblock header_classes %}">
        <div class="container header__top">
            <div class="logo">
                <h1 class="logo__title logo__title-medium">
                    <a href="{% url 'core:home' %}">
                        <span class="logo__uncolored">SD</span><span class="logo__colored">G</span>
                    </a>
                </h1>
                <h2 class="logo__subtitle logo__subtitle-medium">voor {{ org_type_cfg.name_plural }}</h2>
            </div>
            {% user_dropdown %}
        </div>
        <div class="container">
            {% navigation %}
        </div>
    </header>
{% endblock %}


{% block content %}
    {% block notifications %}
        <div class="notifications">
            {% include "core/_notifications.html" %}
        </div>
    {% endblock %}

    {% block inner %}
    {% endblock %}
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer__side footer__side--left">
            Een initiatief van
            {% with logo=org_type_cfg.footer_logo %}
                <a href="{{ org_type_cfg.url }}" target="_blank" rel="noopener" class="shine">
                    <img class="footer__logo" src="{% static logo %}"/>
                </a>
            {% endwith %}
        </div>
        <div class="footer__side footer__side--right">
            <a class="footer__link" href="{{ org_type_cfg.accessibility_url }}" rel="noopener noreferrer">{% trans "Toegankelijkheid" %}</a>
            <a class="footer__link" href="{{ org_type_cfg.privacy_policy_url }}" rel="noopener noreferrer">{% trans "Privacybeleid" %}</a>
        </div>
    </div>
{% endblock footer %}
