{% extends 'core/base_home.html' %}
{% load i18n %}

{% block inner %}
    {% with namespace=request.resolver_match.namespaces|last pk=lokaleoverheid.pk %}
        <div class="notifications">
            {% include "core/_notifications.html" %}
        </div>
        <div class="breadcrumbs">
            <div>
                <a href="{% url 'core:home' %}">{% trans 'Homepage' %}</a>
                {% with kwargs=request.resolver_match.kwargs %}
                    {% if kwargs.pk %}
                        <a href="{% url 'organisaties:catalogi:list' pk=kwargs.pk %}">{{ lokaleoverheid }}</a>
                    {% endif %}
                    {% if kwargs.catalog_pk %}
                        <a href="{% url 'organisaties:catalogi:list' pk=kwargs.pk %}">{% trans 'Productenlijst' %}</a>
                    {% endif %}
                {% endwith %}
                {% if namespace == "roles" %}
                    <span>{% trans "Gebruikers" %}</span>
                {% elif namespace == "organisaties" %}
                    <span>{% trans "Locaties" %}</span>
                {% else %}
                    <span>{{ object|capfirst|default:namespace|capfirst }}</span>
                {% endif %}
            </div>
        </div>
        <h2 class="products__title primary">
            {% block page_title %}
                {{ object|capfirst|default:namespace|capfirst }}
            {% endblock %}
        </h2>
        {% block page_intro %}{% endblock %}

        <hr class="divider">
        {% block inner_content %}
        {% endblock inner_content %}
    {% endwith %}
{% endblock inner %}
