{% extends "core/base_home.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block notifications %}{% endblock %}
{% block container_title %}
    <div class="header__title text-center">
        <b>SDG</b> {% trans "Home Panel" %}
    </div>
{% endblock container_title %}

{% block inner %}
    <div class="tabs">
        <div class="tabs__tabs">
            <a href="#{{ value }}" data-id="{{ value }}"
               class="tabs__tab tabs__tab--selected">
                {% trans "Overheden" %}
            </a>
        </div>
        <div class="notifications">
            {% include "core/_notifications.html" %}
        </div>
        <div class="products">
            {% if lokale_overheden %}
                <div class="cards">
                    {% for lokaleoverheid in lokale_overheden %}
                        <a class="cards__card"
                           href="{% url 'organisaties:catalogi:list' pk=lokaleoverheid.pk %}">
                            <i class="fa fa-landmark"></i>
                            <span>
                    {{ lokaleoverheid }}
                </span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <div class="notifications__notification notification__accent">
                        <i class="fas fa-info-circle"></i>
                        <span>{% trans "Je hebt geen toegang tot enige lokale overheid." %}</span>
                        <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock inner %}
