{% extends "core/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block container_title %}Home{% endblock container_title %}

{% block inner %}
    <div class="products">
        <h2 class="products__title">Lokale Overheden</h2>
        <div class="cards">
            {% for lokaleoverheid in lokale_overheden %}
                <a class="cards__card"
                   href="{% url 'organisaties:overheid_detail' pk=lokaleoverheid.pk %}">{{ lokaleoverheid }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock inner %}
