{% load utils %}
{% load i18n %}

<div class="form__subforms">
    <h3 class="form__subtitle">
                    <span class="formset__title">{% trans "Locatie" %} __prefix__</span>
                    <a class="formset__remove" href="#">
                        <i class="far fa-trash-alt"></i>
                        {% trans "Locatie verwijderen" %}
                    </a>
                </h3>
    <div class="form__block-group">
        <div>
            <div class="form__table-header-left">{% trans "Locatie" %}</div>
            {% field formset.empty_form.naam %}
            {% field formset.empty_form.straat %}
            {% field formset.empty_form.nummer %}
            <div class="form__table form__special-group">
                {% field formset.empty_form.postcode %}
                {% field formset.empty_form.plaats %}
            </div>
            {% field formset.empty_form.land %}
            {% field formset.empty_form.openingstijden_opmerking %}
        </div>
        <div class="form__table">
            <div class="form__table-header">Dag</div>
            <div class="form__table-header">Openingstijden</div>
            {% table_grid_field formset.empty_form.maandag %}
            {% table_grid_field formset.empty_form.dinsdag %}
            {% table_grid_field formset.empty_form.woensdag %}
            {% table_grid_field formset.empty_form.donderdag %}
            {% table_grid_field formset.empty_form.vrijdag %}
            {% table_grid_field formset.empty_form.zaterdag %}
            {% table_grid_field formset.empty_form.zondag %}
        </div>
    </div>
</div>
