{% load utils %}

<div class="form__subforms">
    <div class="form__block-group">
        <div>
            <div class="form__group">
                {% field formset.empty_form.naam %}
                {% field formset.empty_form.straat %}
                {% field formset.empty_form.nummer %}
                {% field formset.empty_form.plaats %}
                <div class="form__table form__special-group">
                    {% field formset.empty_form.postcode %}
                    {% field formset.empty_form.land %}
                </div>
            </div>
        </div>
        <div class="form__table">
            <div class="form__table-header">Dag</div>
            <div class="form__table-header">Openingstijden</div>
            {% field formset.empty_form.maandag no_fieldset=True %}
            {% field formset.empty_form.dinsdag no_fieldset=True %}
            {% field formset.empty_form.woensdag no_fieldset=True %}
            {% field formset.empty_form.donderdag no_fieldset=True %}
            {% field formset.empty_form.vrijdag no_fieldset=True %}
            {% field formset.empty_form.zaterdag no_fieldset=True %}
            {% field formset.empty_form.zondag no_fieldset=True %}
        </div>
    </div>
</div>
