<div>
    <div class="form__subform">
        <div class="form__block-group">
            <div>
                <div class="form__group">
                    <div id="div_id_form-__prefix__-naam" class="control-group"><label for="id_form-__prefix__-naam"
                                                                                       class="control-label requiredField">
                        Naam<span class="asteriskField">*</span> </label>
                        <div class="controls"><input type="text" name="form-__prefix__-naam" value="" maxlength="40"
                                                     class="form__input textinput textInput"
                                                     id="id_form-__prefix__-naam">
                            <p id="hint_id_form-__prefix__-naam" class="help-block">De naam van de lokatie.</p></div>
                    </div>
                    <div id="div_id_form-__prefix__-straat" class="control-group"><label for="id_form-__prefix__-straat"
                                                                                         class="control-label requiredField">
                        Straat<span class="asteriskField">*</span> </label>
                        <div class="controls"><input type="text" name="form-__prefix__-straat" value="" maxlength="256"
                                                     class="form__input textinput textInput"
                                                     id="id_form-__prefix__-straat">
                        </div>
                    </div>
                    <div id="div_id_form-__prefix__-nummer" class="control-group"><label for="id_form-__prefix__-nummer"
                                                                                         class="control-label requiredField">
                        Nummer<span class="asteriskField">*</span> </label>
                        <div class="controls"><input type="number" name="form-__prefix__-nummer" value="" min="0"
                                                     class="form__input numberinput" id="id_form-__prefix__-nummer">
                        </div>
                    </div>
                    <div id="div_id_form-__prefix__-plaats" class="control-group"><label for="id_form-__prefix__-plaats"
                                                                                         class="control-label requiredField">
                        Plaats<span class="asteriskField">*</span> </label>
                        <div class="controls"><input type="text" name="form-__prefix__-plaats" value="" maxlength="256"
                                                     class="form__input textinput textInput"
                                                     id="id_form-__prefix__-plaats">
                        </div>
                    </div>

                    <div class="form__table form__special-group">
                        <div id="div_id_form-__prefix__-postcode" class="control-group"><label
                            for="id_form-__prefix__-postcode"
                            class="control-label requiredField">
                            Postcode<span class="asteriskField">*</span> </label>
                            <div class="controls"><input type="text" name="form-__prefix__-postcode" value=""
                                                         maxlength="6"
                                                         class="form__input textinput textInput"
                                                         id="id_form-__prefix__-postcode"></div>
                        </div>
                        <div id="div_id_form-__prefix__-land" class="control-group"><label for="id_form-__prefix__-land"
                                                                                           class="control-label requiredField">
                            Land<span class="asteriskField">*</span> </label>
                            <div class="controls"><input type="text" name="form-__prefix__-land" value=""
                                                         maxlength="128" class="form__input textinput textInput"
                                                         id="id_form-__prefix__-land"></div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="form__table">
                <div class="form__table-header">Dag</div>
                <div class="form__table-header">Openingstijden</div>
                <label for="id_form-__prefix__-maandag" class="control-label ">
                    Maandag
                </label> <input type="text" name="form-__prefix__-maandag" maxlength="16"
                                class="form__input textinput textInput"
                                id="id_form-__prefix__-maandag"> <label for="id_form-__prefix__-dinsdag"
                                                                        class="control-label ">
                Dinsdag
            </label> <input type="text" name="form-__prefix__-dinsdag" maxlength="16"
                            class="form__input textinput textInput"
                            id="id_form-__prefix__-dinsdag"> <label for="id_form-__prefix__-woensdag"
                                                                    class="control-label ">
                Woensdag
            </label> <input type="text" name="form-__prefix__-woensdag" maxlength="16"
                            class="form__input textinput textInput"
                            id="id_form-__prefix__-woensdag"> <label for="id_form-__prefix__-donderdag"
                                                                     class="control-label ">
                Donderdag
            </label> <input type="text" name="form-__prefix__-donderdag" maxlength="16"
                            class="form__input textinput textInput"
                            id="id_form-__prefix__-donderdag"> <label for="id_form-__prefix__-vrijdag"
                                                                      class="control-label ">
                Vrijdag
            </label> <input type="text" name="form-__prefix__-vrijdag" maxlength="16"
                            class="form__input textinput textInput"
                            id="id_form-__prefix__-vrijdag"> <label for="id_form-__prefix__-zaterdag"
                                                                    class="control-label ">
                Zaterdag
            </label> <input type="text" name="form-__prefix__-zaterdag" maxlength="16"
                            class="form__input textinput textInput"
                            id="id_form-__prefix__-zaterdag"> <label for="id_form-__prefix__-zondag"
                                                                     class="control-label ">
                Zondag
            </label> <input type="text" name="form-__prefix__-zondag" maxlength="16"
                            class="form__input textinput textInput"
                            id="id_form-__prefix__-zondag"></div>

        </div>

    </div>
    <input type="hidden" name="form-__prefix__-id" value="" id="id_form-__prefix__-id"> <input type="hidden"
                                                                                               name="form-__prefix__-lokale_overheid"
                                                                                               value=""
                                                                                               id="id_form-__prefix__-lokale_overheid">
</div>
