{% load utils %}
{% load i18n %}

<div class="form__subforms">
    <h3 class="form__subtitle">
                    <span class="formset__title">{% trans "Organisatie" %} __prefix__</span>
                    <a class="formset__remove" href="#">
                        <i class="far fa-trash-alt"></i>
                        {% trans "Organisatie verwijderen" %}
                    </a>
                </h3>
    <div class="form__block-group">
        <div>
            <div class="form__table-header-left">{% trans "Organisatie" %}</div>
            {% choices_field form.empty_form.organisatie %}
            {% checkbox form.empty_form.staat_niet_in_de_lijst %}
        </div>
        <div>
            <div class="form__table-header-left"></div>
            {% field form.empty_form.naam hidden=True %}
        </div>
    </div>
</div>
