{% extends 'producten/base.html' %}

{% load i18n utils producten %}

{% block inner_content %}
    {% with most_recent_version=product.most_recent_version latest_active_version=product.active_version %}
        <div class="notifications">
            {% include "core/_notifications.html" %}
            {% include 'producten/_include/availability_warnings.html' %}
            {% include 'producten/_include/detail_warnings.html' %}
        </div>
        <div class="tabs tabs--inline-outer">
            <table class="tabs__table">
                <thead>
                <tr>
                    <th class="tabs__table-header" width="25%">Algemene gegevens</th>
                    <th class="tabs__table-header">Huidige informatie</th>
                </tr>
                </thead>
                <tbody>

                {% for field in product.get_fields|exclude:"id,generiek_product,referentie_product,catalogus,uuid" %}
                    {% table_row field %}
                {% endfor %}

                {% with locations=product|get_field:"locaties" %}
                    {% with configuration=locations.configuration.0 %}
                        <tr>
                            <td class="tabs__table-cell">{{ configuration.0|default:_("Locaties")|capfirst }}<i
                                class="fas fa-info-circle fa-xs dark"
                                title="{{ configuration.1|default:_('Locaties met dit product') }}"></i></td>
                            <td class="tabs__table-cell">
                                    <span class="tabs__table-cell--value">
                                {% for location in product.get_municipality_locations %}
                                    <li>
                                        <div class="pretty p-default p-curve">
                                            <input type="checkbox" class="form__checkbox"
                                                   {% if location.is_product_location %}checked{% endif %}
                                                   value="{{ location.pk }}"
                                                   disabled>
                                            <div class="state">
                                                <label class="checkbox">
                                                    {{ location.naam }}
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                {% empty %}
                                    <span class="dark">—</span>
                                {% endfor %}
                                </span>
                            </td>
                        </tr>
                    {% endwith %}
                {% endwith %}

                {% with publication_date=latest_active_version|get_field:"publicatie_datum" %}
                    {% with configuration=publication_date.configuration.0 %}
                        <tr>
                            <td class="tabs__table-cell">{{ configuration.0|default:_("Publicatie datum")|capfirst }}<i
                                class="fas fa-info-circle fa-xs dark"
                                title="{{ configuration.1|default:_('Publicatiedatum van de productversie') }}"></i>
                            </td>
                            <td class="tabs__table-cell">
                                <span class="tabs__table-cell--value">{{ publication_date.value|default:"Concept" }}</span>
                            </td>
                        </tr>
                    {% endwith %}
                {% endwith %}

                </tbody>
            </table>
        </div>

        {% if latest_active_version %}
            <div class="tabs tabs--inline">
            <div class="tabs__tabs">
                {% for language in product.beschikbare_talen %}
                    <a href="#{{ language.code }}" data-id="{{ language.code }}"
                       class="tabs__tab tabs__tab{% if forloop.first %}--selected{% endif %}">
                        {{ language.name }}
                    </a>
                {% endfor %}
            </div>

            <div class="tabs__tab-contents">
                {% for info in latest_active_version.vertalingen.all %}
                    <div class="tabs__tab-content tabs__tab-content{% if forloop.first %}--active{% endif %}"
                         id="{{ info.taal }}">
                        <a
                            href="{% url 'organisaties:catalogi:producten:preview' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}?taal={{ info.taal }}"
                            class="preview"
                            target="_blank">
                            <i class="fa fa-vector-square"></i> {% trans "Preview" %}
                        </a>
                        <hr class="divider">
                        {% if info.generiek_informatie %}
                            <table class="tabs__table">
                                <thead>
                                <tr>
                                    <th class="tabs__table-header" width="25%">Generieke gegevens</th>
                                    <th class="tabs__table-header">Huidige informatie</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% with title=info.generiek_informatie|get_field:"product_titel" url=info.generiek_informatie|get_field:"landelijke_link" %}
                                    {% table_row title url=url.value %}
                                {% endwith %}
                                {% for field in info.generiek_informatie.get_fields|exclude:"id,taal,product_titel,generiek_product,landelijke_link" %}
                                    {% table_row field %}
                                {% endfor %}
                                </tbody>
                            </table>

                        {% endif %}
                        <hr class="divider">
                        <table class="tabs__table">
                            <thead>
                            <tr>
                                <th class="tabs__table-header" width="25%">Specifieke gegevens</th>
                                <th class="tabs__table-header">Huidige informatie</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for field in info.get_fields|exclude:"id,taal,product_versie" %}
                                {% table_row field %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr class="divider">
        <h3 class="tabs__footer-title">Revisies</h3>

        <div class="revision">
            {% for product_version in product.get_revision_list %}
                <ul class="revision-list">
                    <li class="revision-list__item">
                        <div>
                            <i class="fas fa-user"></i>
                            {% with user=product_version.gemaakt_door last_modified=product_version.gewijzigd_op version=product_version.get_pretty_version %}
                                <strong class="revision-list__item--user">{{ user|default:"Systeem" }}</strong>
                                </div>
                                <div>
                                <strong>{{ last_modified }}</strong> product versie
                                <strong>{{ version }}</strong> gewijzigd.
                            {% endwith %}

                            {% if product_version.publicatie_datum %}
                                {% blocktrans with publication_date=product_version.publicatie_datum %}
                                    Gepubliceerd op <strong>{{ publication_date }}</strong>.
                                {% endblocktrans %}
                            {% endif %}
                            </div>
                    </li>
                </ul>
            {% endfor %}
        </div>

        <hr class="divider">

        <div class="form-actions">
            <div>
                <div class="form__buttons">
                    <a class="button"
                       href="{% url 'organisaties:catalogi:producten:edit' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}">
                        {% trans "Wijzigen" %}
                    </a>
                </div>
            </div>
        </div>
    {% endwith %}
</div>
{% endblock inner_content %}
