{% extends 'producten/base.html' %}

{% load i18n utils producten %}

{% block inner_content %}
    {% with most_recent_version=product.most_recent_version latest_active_version=product.active_version %}
        <div class="notifications">
            {% include "core/_notifications.html" %}
            {% include 'producten/_include/detail_warnings.html' %}
        </div>
        <div class="tabs tabs--inline-outer">
            <table class="tabs__table">
                <thead>
                <tr>
                    <th class="tabs__table-header" width="25%">Algemene gegevens</th>
                    <th class="tabs__table-header">Huidige informatie</th>
                </tr>
                </thead>
                <tbody>
                {% for field in product.get_fields|exclude:"id,generiek_product,referentie_product,catalogus,uuid" %}
                    {% table_row field %}
                {% endfor %}
                <tr>
                    <td class="tabs__table-cell">{% trans "Locaties" %}<i
                        class="fas fa-info-circle fa-xs dark"
                        title="Locaties met dit product."></i></td>
                    <td class="tabs__table-cell">
                        {% if product.lokaties %}
                            <span class="tabs__table-cell--value">
                            {% for lokatie in product.get_municipality_locations %}
                                <li>
                                    <div class="pretty p-default p-curve">
                                        <input type="checkbox" class="form__checkbox"
                                               {% if lokatie.is_product_location %}checked{% endif %}
                                               value="{{ lokatie.pk }}"
                                               disabled>
                                        <div class="state">
                                            <label class="checkbox">
                                                {{ lokatie.naam }}
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                </span>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs tabs--inline">
        <div class="tabs__tabs">
            {% for language in product.beschikbare_talen %}
                <a href="#{{ language.code }}" data-id="{{ language.code }}"
                   class="tabs__tab tabs__tab{% if forloop.first %}--selected{% endif %}">
                    {% flag language %} {{ language.name }}
                </a>
            {% endfor %}
        </div>

        <div class="tabs__tab-contents">
            {% include "producten/_include/product_status.html" %}
            {% for info in latest_active_version.vertalingen.all %}
                <div class="tabs__tab-content tabs__tab-content{% if forloop.first %}--active{% endif %}"
                     id="{{ info.taal }}">
                    {% if info.generiek_informatie %}
                        <table class="tabs__table">
                            <thead>
                            <tr>
                                <th class="tabs__table-header" width="25%">Generieke gegevens</th>
                                <th class="tabs__table-header">Huidige informatie</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for field in info.generiek_informatie.get_fields|exclude:"id,taal,generiek_product" %}
                                {% table_row field %}
                            {% endfor %}
                            </tbody>
                        </table>

                    {% endif %}
                    <hr class="divider">
                    <table class="tabs__table">
                        <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">Specifieke gegevens</th>
                            <th class="tabs__table-header">Huidige informatie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in info.get_fields|exclude:"id,taal,product_versie" %}
                            {% table_row field %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

        <hr class="divider">
        <h3 class="tabs__footer-title">Revisies</h3>

        <div class="revision">
            {% for product_version in product.get_latest_versions %}
                <ul class="revision-list">
                    <li class="revision-list__item">
                        <div>
                            <i class="fas fa-user"></i>
                            {% blocktrans with user=product_version.gemaakt_door.get_full_name last_modified=product_version.gewijzigd_op version=product_version.get_pretty_version %}
                                <strong class="revision-list__item--user">{{ user }}</strong>
                                </div>
                                <div>
                                <strong>{{ last_modified }}</strong> product versie
                                <strong>{{ version }}</strong> gewijzigd.
                            {% endblocktrans %}

                            {% if product_version.publicatie_datum %}
                                {% blocktrans with publication_date=product_version.publicatie_datum %}
                                    Gepubliceerd op <strong>{{ publication_date }}</strong>.
                                {% endblocktrans %}
                            {% endif %}
                            </div>
                    </li>
                </ul>
            {% endfor %}
        </div>

        <div class="form-actions">
            <div>
                <div class="form-actions__options">
                    <a class="button"
                       href="{% url 'organisaties:catalogi:producten:edit' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}">
                        {% trans "Wijzigen" %}
                    </a>
                </div>
            </div>
        </div>
    {% endwith %}
</div>
{% endblock inner_content %}
