{% extends 'pages/_base.html' %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block title %}SDG voor de <b>gemeente buren</b>{% endblock title %}

{% block content %}
    <div class="tabs">
        <div class="tabs__tabs">
            <a href="#nl" data-id="nl" class="tabs__tab tabs__tab--selected">
                Nederlands
            </a>
            <a href="#en" data-id="en" class="tabs__tab">
                Engels
            </a>
            <a href="#de" data-id="de" class="tabs__tab">
                Duits
            </a>
        </div>
        <form action="." method="POST" class="tabs__tab-contents">
            {{ form.media }}
            <div class="tabs__tab-content tabs__tab-content--active" id="nl">
                <table class="tabs__table">
                    <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">Gegeven</th>
                            <th class="tabs__table-header">Huidige informatie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tabs__table-cell">Beschrijving<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                {{ form.description }}
                                <a href="#" class="tabs__table-help"><i class="fas fa-undo"></i> Gebruik generieke tekst</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell">Procedure stappen<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                {{ form.procedure }}
                                <a href="#" class="tabs__table-help"><i class="fas fa-undo"></i> Gebruik generieke tekst</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell">Uitzonderingen<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                {{ form.exceptions }}
                                <a href="#" class="tabs__table-help"><i class="fas fa-undo"></i> Gebruik generieke tekst</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabs__tab-content" id="en">
                <div class="tabs__tab-header">
                    <div class="tabs__status">
                        <span class="tabs__status-label">Status:</span>
                        <div class="tabs__status-display">
                            <i class="fas fa-check"></i>
                            Gepubliceerd
                        </div>
                    </div>
                    <div>
                        <a href="#" class="button button--light">Engels deactiveren</a>
                        <a class="button" href="{% url 'products:edit' %}">Wijzigen</a>
                    </div>
                </div>

                <div class="notifications">
                    <div class="notifications__notification">
                        <i class="fas fa-info-circle"></i>
                        <span>Ingeplande wijzigingen op 01-01-2021</span>
                        <a href="#">Bekijk wijzigingen</a>
                    </div>
                </div>

                <table class="tabs__table">
                    <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">Gegeven</th>
                            <th class="tabs__table-header">Huidige informatie</th>
                            <th class="tabs__table-header">Gewijzigd</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tabs__table-cell">Beschrijving<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                Bent u immigrant en wilt u in Nederland blijven wonen of langer blijven dan drie maanden? Dan:
                                <ul>
                                    <li>in het bezit zijn van een geldig document voor grensoverschrijding en een geldige machtiging voorlopig verblijf (MVV). De MVV mang niet ouder zijn dan zes maanden.</li>
                                    <li>en dus voor <a href="#">vertrek naar Nederland</a> een basisexamen inburgering met goed resultaat hebben afgelegd (geldt vanaf 16 jaar tot de AOW-gerechtigde leeftijd).</li>
                                    <li>in Nederland verplicht inburgeren.</li>
                                </ul>
                                U moet zich binnen vijf dagen na aankomst in Nederland melden.
                            </td>
                            <td class="tabs__table-cell">Nee</td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell">Procedure stappen<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                De er genomen betreft gesteld. Ader thee stam deel heen wij rug. In al vereenigd wellesley chineesch om kapitalen vroegeren. Te gelaten nu ze rechten twisten in. Moeite enkele grayah bamboe op gouden al er verder. Prestige dikwijls ik er stelling deeltjes kolonist elkander. Hij haalden zal enclave evenals talrijk pagoden zoo had.
                            </td>
                            <td class="tabs__table-cell">Nee</td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell">Uitzonderingen<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                De er genomen betreft gesteld. Ader thee stam deel heen wij rug. In al vereenigd wellesley chineesch om kapitalen vroegeren. Te gelaten nu ze rechten twisten in. Moeite enkele grayah bamboe op gouden al er verder. Prestige dikwijls ik er stelling deeltjes kolonist elkander. Hij haalden zal enclave evenals talrijk pagoden zoo had. <br>
                                <br>
                                Het belangrijk nauwelijks kan europeanen hun opgebracht archimedes instorting. Inkrimpt was kan hij troepjes bedreven bij britsche dichtbij. Vlakten zekeren vliegen dit verdere drijven die nam zou. Afstand brokken kemming op citadel af cultuur de of werkman. En nu puin geen bouw de ad daar. Cultures voorzorg systemen de ze ze. Ik australie stroomend ze al behoeften overwaard vertoonen. Maar te mier werk of ze er veld dekt. Dit nam bijgeloof vermijden ook vreedzame. Is op steeds aantal deelen.
                            </td>
                            <td class="tabs__table-cell">Nee</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tabs__tab-content" id="de">
                <div class="tabs__tab-header">
                    <div class="tabs__status">
                        <span class="tabs__status-label">Status:</span>
                        <div class="tabs__status-display">
                            <i class="fas fa-check"></i>
                            Gepubliceerd
                        </div>
                    </div>
                    <div>
                        <a href="#" class="button button--light">Duits deactiveren</a>
                        <a class="button" href="{% url 'products:edit' %}">Wijzigen</a>
                    </div>
                </div>

                <table class="tabs__table">
                    <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">Gegeven</th>
                            <th class="tabs__table-header">Huidige informatie</th>
                            <th class="tabs__table-header">Gewijzigd</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tabs__table-cell">Beschrijving<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                Bent u immigrant en wilt u in Nederland blijven wonen of langer blijven dan drie maanden? Dan:
                                <ul>
                                    <li>in het bezit zijn van een geldig document voor grensoverschrijding en een geldige machtiging voorlopig verblijf (MVV). De MVV mang niet ouder zijn dan zes maanden.</li>
                                    <li>en dus voor <a href="#">vertrek naar Nederland</a> een basisexamen inburgering met goed resultaat hebben afgelegd (geldt vanaf 16 jaar tot de AOW-gerechtigde leeftijd).</li>
                                    <li>in Nederland verplicht inburgeren.</li>
                                </ul>
                                U moet zich binnen vijf dagen na aankomst in Nederland melden.
                            </td>
                            <td class="tabs__table-cell">Nee</td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell">Procedure stappen<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                De er genomen betreft gesteld. Ader thee stam deel heen wij rug. In al vereenigd wellesley chineesch om kapitalen vroegeren. Te gelaten nu ze rechten twisten in. Moeite enkele grayah bamboe op gouden al er verder. Prestige dikwijls ik er stelling deeltjes kolonist elkander. Hij haalden zal enclave evenals talrijk pagoden zoo had.
                            </td>
                            <td class="tabs__table-cell">Nee</td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell">Uitzonderingen<i class="fas fa-info-circle"></i></td>
                            <td class="tabs__table-cell">
                                De er genomen betreft gesteld. Ader thee stam deel heen wij rug. In al vereenigd wellesley chineesch om kapitalen vroegeren. Te gelaten nu ze rechten twisten in. Moeite enkele grayah bamboe op gouden al er verder. Prestige dikwijls ik er stelling deeltjes kolonist elkander. Hij haalden zal enclave evenals talrijk pagoden zoo had. <br>
                                <br>
                                Het belangrijk nauwelijks kan europeanen hun opgebracht archimedes instorting. Inkrimpt was kan hij troepjes bedreven bij britsche dichtbij. Vlakten zekeren vliegen dit verdere drijven die nam zou. Afstand brokken kemming op citadel af cultuur de of werkman. En nu puin geen bouw de ad daar. Cultures voorzorg systemen de ze ze. Ik australie stroomend ze al behoeften overwaard vertoonen. Maar te mier werk of ze er veld dekt. Dit nam bijgeloof vermijden ook vreedzame. Is op steeds aantal deelen.
                            </td>
                        </tr>
                        <tr>
                            <td class="tabs__table-cell"></td>
                            <td class="tabs__table-cell">
                                <form class="tabs__form" action="">
                                    Wijzigingen plubliceren
                                    <div>
                                        <label for="now">
                                            <input type="radio" name="publish" id="now">
                                            <label for="now">Publiceer direct</label>
                                        </label>
                                        <label for="later">
                                            <input type="radio" name="publish" id="later">
                                            <label for="later">Kies datum</label>
                                        </label>
                                    </div>
                                    <input class="button tabs__form-button" type="submit" value="Opslaan">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-actions">
                <div></div>
                <div>
                    <div class="form-actions__title">Wijzigingen plubliceren</div>
                    <div>
                        <label for="now">
                            <input type="radio" name="publish" id="now">
                            <label for="now">Publiceer direct</label>
                        </label>
                        <label for="later">
                            <input type="radio" name="publish" id="later">
                            <label for="later">Kies datum</label>
                        </label>
                    </div>
                    <input class="button tabs__form-button" type="submit" value="Opslaan">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
