{% extends 'producten/base.html' %}

{% load utils %}
{% load static %}
{% load i18n %}
{% load producten %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de <b>{{ lokale_overheid }}</b>{% endblock container_title %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'flatpickr.min.css' %}" />
    <script src="{% static 'flatpickr.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'simplemde.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'simplemde.min.js' %}"></script>
{% endblock %}

{% block inner %}
    <div class="tabs">
        <div class="tabs__tabs">
            {% for key, value in product.beschikbare_talen.items %}
                <a href="#{{ value }}" data-id="{{ value }}"
                   class="tabs__tab tabs__tab{% if forloop.first %}--selected{% endif %}">
                    {{ key }}
                </a>
            {% endfor %}
        </div>
        {% include "core/_notifications.html" %}
        <form action="." method="POST" class="form tabs__tab-contents">
            {% csrf_token %}
            {{ form.management_form }}

            {% for generic_information, reference_form, form in informatie_form %}
                <div class="tabs__tab-content tabs__tab-content{% if forloop.first %}--active{% endif %}"
                     id="{{ form.taal.value }}">
                    {% if generic_information %}
                        <table class="tabs__table">
                            <thead>
                            <tr>
                                <th class="tabs__table-header" width="25%">generieke gegevens</th>
                                <th class="tabs__table-header">huidige informatie</th>
                                <th class="tabs__table-header">gewijzigd</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for field in generic_information.get_fields|exclude:"id,taal,generiek_product,verantwoordelijke_organisatie" %}
                                {% table_row field %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr class="divider">
                    {% endif %}

                    <table class="tabs__table form__has-reference">
                        <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">Gegeven</th>
                            <th class="tabs__table-header">Huidige informatie</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>
                                {{ form.non_field_errors }}
                                {{ form.id }}
                                {{ form.taal.as_hidden }}
                            </td>
                        </tr>
                        <template class="form__reference">
                            {{ reference_form.as_p }}
                        </template>
                        {% with reference=product.is_referentie_product %}
                            {% table_field form.product_titel_decentraal is_reference=reference %}
                            {% table_field form.specifieke_tekst is_reference=reference %}
                            {% table_field form.verwijzing_links is_reference=reference %}
                            {% table_field form.specifieke_link is_reference=reference %}
                            {% table_field form.decentrale_link is_reference=reference %}
                            {% table_field form.procedure_beschrijving is_reference=reference %}
                            {% table_field form.vereisten is_reference=reference %}
                            {% table_field form.bewijs is_reference=reference %}
                            {% table_field form.bezwaar_en_beroep is_reference=reference %}
                            {% table_field form.kosten_en_betaalmethoden is_reference=reference %}
                            {% table_field form.uiterste_termijn is_reference=reference %}
                            {% table_field form.wtd_bij_geen_reactie is_reference=reference %}
                            {% table_field form.decentrale_procedure_link is_reference=reference %}
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

            <div class="form-actions">
                <div></div>
                <div>
                    <div class="form-actions__title">{% trans "Wijzigingen publiceren" %}</div>
                    <div class="form-actions__options">
                        <label for="now">
                            <input type="radio" name="publish" id="now" value="now">
                            <label for="now">{% trans "Publiceer direct" %}</label>
                        </label>
                        <label for="later">
                            <input type="radio" name="publish" id="later" value="later">
                            <label for="later">{% trans "Kies datum" %}</label>
                        </label>
                        <label for="concept">
                            <input type="radio" name="publish" id="concept" value="concept">
                            <label for="concept">{% trans "Opslaan als concept" %}</label>
                        </label>
                        <div class="calendar-container closed">
                            <input name="date" type="date" class="calendar form__input">
                        </div>
                    </div>
                    <input class="button tabs__form-button" type="submit" value="Opslaan">
                </div>
            </div>
        </form>
    </div>
{% endblock inner %}
