{% extends 'producten/base.html' %}

{% load i18n %}
{% load markdownify %}
{% load producten %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de <b>gemeente buren</b>{% endblock container_title %}

{% block inner %}
    <div class="tabs">
        <div class="tabs__tabs">
            {% for taal in product.beschikbare_talen %}
                <a href="#{{ taal }}" data-id="{{ taal }}"
                   class="tabs__tab tabs__tab{% if forloop.first %}--selected{% endif %}">
                    {{ taal }}
                </a>
            {% endfor %}
        </div>
        <div class="tabs__tab-contents">
            {% for info in product.vertalingen.all %}
                <div class="tabs__tab-content tabs__tab-content{% if forloop.first %}--active{% endif %}"
                     id="{{ info.taal }}">
                    <div class="tabs__tab-header">
                        <div class="tabs__status">
                            <span class="tabs__status-label">Status:</span>
                            <div class="tabs__status-display">
                                <i class="fas fa-check"></i>
                                gepubliceerd
                            </div>
                        </div>
                        <div>
                            <a href="#" class="button button--light">{{ info.taal }} Deactiveren</a>
                            <a class="button" href="{% url 'producten:edit' pk=product.pk %}">Wijzigen</a>
                        </div>
                    </div>

                    <div class="notifications notifications--inline">
                        <div class="notifications__notification">
                            <i class="fas fa-info-circle"></i>
                            <span>Ingeplande wijzigingen op 01-01-2021</span>
                            <a href="#">Bekijk wijzigingen</a>
                        </div>
                    </div>

                    {% if info.generiek_informatie %}
                        <table class="tabs__table">
                            <thead>
                            <tr>
                                <th class="tabs__table-header" width="25%">generieke gegevens</th>
                                <th class="tabs__table-header">huidige informatie</th>
                                <th class="tabs__table-header">gewijzigd</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for field in info.generiek_informatie.get_fields|exclude:"id,taal,generiek_product,verantwoordelijke_organisatie" %}
                                <tr>
                                    <td class="tabs__table-cell">{{ field.verbose_name|title }}<i
                                        class="fas fa-info-circle fa-xs"
                                        title="{{ field.help_text }}"></i>
                                    </td>
                                    <td class="tabs__table-cell">
                                        {% if field.is_markdown %}
                                            {{ field.value|markdownify }}
                                        {% else %}
                                            {{ field.value }}
                                        {% endif %}
                                        {% if field.is_reference %}
                                            <i class="fa fa-asterisk fa-xs primary"
                                               title="{% trans 'this field is using reference text.' %}"></i>
                                        {% endif %}
                                    </td>
                                    <td class="tabs__table-cell">{{ info.datum_wijziging|date:"d-m-y" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <hr class="divider">
                    {% endif %}

                    <table class="tabs__table">
                        <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">gegeven</th>
                            <th class="tabs__table-header">huidige informatie</th>
                            <th class="tabs__table-header">gewijzigd</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in info.get_fields|exclude:"id,taal" %}
                            <tr>
                                <td class="tabs__table-cell">{{ field.verbose_name|title }}<i class="fas fa-info-circle fa-xs"
                                                                                      title="{{ field.help_text }}"></i>
                                </td>
                                <td class="tabs__table-cell">
                                    {% if field.is_markdown %}
                                        {{ field.value|markdownify }}
                                    {% else %}
                                        {{ field.value }}
                                    {% endif %}
                                    {% if field.is_reference %}
                                        <i class="fa fa-asterisk fa-xs primary"
                                           title="{% trans 'this field is using reference text.' %}"></i>
                                    {% endif %}
                                </td>
                                <td class="tabs__table-cell">{{ info.datum_wijziging|date:"d-m-y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="tabs__footer">
                        {% if product.lokaties %}
                            <div class="tabs__footer-left">
                                <h3 class="tabs__footer-title">Locaties met dit product</h3>
                                <ul class="tabs__footer-list">
                                    {% for lokatie in product.lokaties.all %}
                                        <li class="tabs__footer-list-item">
                                            <input type="checkbox" name="" checked disabled>
                                            {{ lokatie.naam }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="tabs__fotter-right">
                            <h3 class="tabs__footer-title">Revisies</h3>
                            <ul class="revision-list">
                                <li class="revision-list__item">
                                    <i class="fas fa-user"></i>
                                    John Doe, gepland over 2 maanden (<a class="revision-list-link" href="#">01-03-2021
                                    00:00</a>)
                                </li>
                            </ul>
                            <ul class="revision-list">
                                <li class="revision-list__item">
                                    <i class="fas fa-user"></i>
                                    John Doe, gepland over 2 maanden (<a class="revision-list-link" href="#">01-03-2021
                                    00:00</a>)
                                </li>
                            </ul>
                            <ul class="revision-list">
                                <li class="revision-list__item">
                                    <i class="fas fa-user"></i>
                                    John Doe, gepland over 2 maanden (<a class="revision-list-link" href="#">01-03-2021
                                    00:00</a>)
                                </li>
                            </ul>
                            <ul class="revision-list">
                                <li class="revision-list__item">
                                    <i class="fas fa-user"></i>
                                    John Doe, gepland over 2 maanden (<a class="revision-list-link" href="#">01-03-2021
                                    00:00</a>)
                                </li>
                            </ul>
                            <ul class="revision-list">
                                <li class="revision-list__item">
                                    <i class="fas fa-user"></i>
                                    John Doe, gepland over 2 maanden (<a class="revision-list-link" href="#">01-03-2021
                                    00:00</a>)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock inner %}
