{% extends 'core/base.html' %}

{% load crispy_forms_tags %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de <b>gemeente buren</b>{% endblock container_title %}

{% block inner %}
    <div class="tabs">
        <div class="tabs__tabs">
            {% for taal in product.beschikbare_talen %}
            <a href="#{{ taal }}" data-id="{{ taal }}" class="tabs__tab tabs__tab{% if forloop.first %}--selected{% endif %}">
                {{ taal }}
            </a>
            {% endfor %}
        </div>
        <form action="." method="POST" class="tabs__tab-contents">
            {% csrf_token %}
            {{ form.media }}
            {{ form.management_form|crispy }}

            {% for f in form %}
                <div class="tabs__tab-content tabs__tab-content{% if forloop.first %}--active{% endif %}" id="{{ f.taal.value }}">
                    <table class="tabs__table">
                        <thead>
                        <tr>
                            <th class="tabs__table-header" width="25%">Gegeven</th>
                            <th class="tabs__table-header">Huidige informatie</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% crispy f form_helper %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}

            <div class="form-actions">
                <div></div>
                <div>
                    <div class="form-actions__title">Wijzigingen publiceren</div>
                    <div>
                        <label for="now">
                            <input type="radio" name="publish" id="now">
                            <label for="now">Publiceer direct</label>
                        </label>
                        <label for="later">
                            <input type="radio" name="publish" id="later">
                            <label for="later">Kies datum</label>
                        </label>
                    </div>
                    <input class="button tabs__form-button" type="submit" value="Opslaan">
                </div>
            </div>
        </form>
    </div>
{% endblock inner %}
