{% extends 'producten/base.html' %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de <b>gemeente buren</b>{% endblock container_title %}

{% block inner %}
    <div class="selection">
        <div class="selection__tabs">
            <a href="#gemeentehuis" data-id="gemeentehuis" class="selection__tab selection__tab--selected">Gemeentehuis</a>
            <a href="#loketzuid" data-id="loketzuid" class="selection__tab">Loket Zuid</a>
            <a href="#loketnoord" data-id="loketnoord" class="selection__tab">Loket Noord</a>
        </div>
        <div class="selection__tab-contents">
            <div class="selection__tab-content selection__tab-content--active" id="gemeentehuis">
                <div>
                    <div class="selection__title">Bezoek adres</div>
                    <div class="selection__information">
                        Gemeentehuis<br>
                        De Wetering 1<br>
                        4021 VZ Maurik<br>
                        Nederland<br>
                    </div>
                </div>
                <div>
                    <div class="selection__title">Openingstijden</div>
                    <div class="selection__tabled">
                        <div>Maandag</div><div>09.00 - 17.00</div>
                        <div>Dinsdag</div><div>09.00 - 17.00</div>
                        <div>Woensdag</div><div>09.00 - 17.00</div>
                        <div>Donderdag</div><div>09.00 - 17.00</div>
                        <div>Vrijdag</div><div>09.00 - 17.00</div>
                        <div>Zaterdag</div><div>Gesloten</div>
                        <div>Zondag</div><div>Gesloten</div>
                    </div>
                </div>
            </div>
            <div class="selection__tab-content" id="loketzuid">
                <div>
                    <div class="selection__title">Bezoek adres</div>
                    <div class="selection__information">
                        Loket Zuid<br>
                        De Wetering 1<br>
                        4021 VZ Maurik<br>
                        Nederland<br>
                    </div>
                </div>
                <div>
                    <div class="selection__title">Openingstijden</div>
                    <div class="selection__tabled">
                        <div>Maandag</div><div>09.00 - 17.00</div>
                        <div>Dinsdag</div><div>09.00 - 17.00</div>
                        <div>Woensdag</div><div>Gesloten</div>
                        <div>Donderdag</div><div>09.00 - 17.00</div>
                        <div>Vrijdag</div><div>09.00 - 17.00</div>
                        <div>Zaterdag</div><div>Gesloten</div>
                        <div>Zondag</div><div>Gesloten</div>
                    </div>
                </div>
            </div>
            <div class="selection__tab-content" id="loketnoord">
                <div>
                    <div class="selection__title">Bezoek adres</div>
                    <div class="selection__information">
                        Loket Noord<br>
                        De Wetering 1<br>
                        4021 VZ Maurik<br>
                        Nederland<br>
                    </div>
                </div>
                <div>
                    <div class="selection__title">Openingstijden</div>
                    <div class="selection__tabled">
                        <div>Maandag</div><div>09.00 - 12.00</div>
                        <div>Dinsdag</div><div>09.00 - 12.00</div>
                        <div>Woensdag</div><div>09.00 - 12.00</div>
                        <div>Donderdag</div><div>09.00 - 12.00</div>
                        <div>Vrijdag</div><div>09.00 - 12.00</div>
                        <div>Zaterdag</div><div>Gesloten</div>
                        <div>Zondag</div><div>Gesloten</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="selection__general">
            <a class="selection__general-link" href="#">
                <i class="fas fa-mouse-pointer"></i>
                www.buren.nl
            </a>
            <a class="selection__general-link" href="#">
                <i class="fas fa-phone"></i>
                0123-456790
            </a>
            <a class="selection__general-link" href="#">
                <i class="fas fa-envelope"></i>
                info.burgerzaken@buren.nl
            </a>
            <a class="selection__edit" href="{% url 'producten:ref_edit pk=object.pk-contact' %}">
                <i class="fas fa-pencil-alt"></i>
                Wijzigen
            </a>
        </div>
    </div>

    <div class="products">
        <h2 class="products__title">Producten</h2>
        <div class="products__accordeon">
            <div class="products__accordeon-item">
                <div class="products__accordeon-title">
                    Burger en Familierecht
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="products__list">
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="products__accordeon-item">
                <div class="products__accordeon-title">
                    Burger en Familierecht
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="products__list">
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="products__accordeon-item">
                <div class="products__accordeon-title">
                    Burger en Familierecht
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="products__list">
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                    <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                        <div>
                            <div class="products__item-title">Burger en Famiierecht</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h3 class="products__subtitle">Niet in gebruik bij gemeente buren:</h3>
        <div class="products__list products__list--add">
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:ref_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
        </div>
    </div>
{% endblock inner %}
