{% extends 'producten/base.html' %}
{% load utils static i18n producten update_form %}

{% block page_intro %}
    {# Create the url of the preview concept - stored in concept_url #}
    {% url 'organisaties:catalogi:producten:preview' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk as concept_url %}
    {% publications concept_url=concept_url|add:'?status=concept' product=product publication_links=published_product_language_links %}
{% endblock %}

{% block templates %}
{% for reference_form in reference_formset.forms %}
<template class="form__reference-{{ reference_form.initial.taal }}" data-title="{{ reference_formset.title }}"
    data-default-toelichting="{{ reference_form.default_toelichting }}"
    data-product-aanwezig-toelichting="{{ reference_form.default_product_aanwezig_toelichting }}">
    {{ reference_form.as_p }}
</template>
{% endfor %}
{% for reference_form in previous_reference_formset.forms %}
<template class="form__previousreference-{{ reference_form.initial.taal }}"
    data-title="{{ previous_reference_formset.title }}"
    data-default-toelichting="{{ reference_form.default_toelichting }}"
    data-product-aanwezig-toelichting="{{ reference_form.default_product_aanwezig_toelichting }}">
    {{ reference_form.as_p }}
</template>
{% endfor %}
{% endblock %}

{% block breadcrumbs_page_title %}
    {% if product.is_referentie_product %}
        <span>{{ object|capfirst|default:namespace|capfirst }} (referentie)</span>
    {% else %}
        <span>{{ object|capfirst|default:namespace|capfirst }}</span>
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if product.is_referentie_product %}
        <span>{{ object|capfirst|default:namespace|capfirst }} (referentie)</span>
    {% else %}
        <span>{{ object|capfirst|default:namespace|capfirst }}</span>
    {% endif %}
{% endblock %}

{% block page_content %}
<div class="notifications">
    {% if not product.is_referentie_product %}{% include 'producten/_include/availability_warnings.html' %}{% endif %}
    {% include 'producten/_include/edit_warnings.html' %}
</div>


<form action="." method="POST" class="form">
    <!-- removes submitting on enter -->
    <button type="submit" disabled aria-hidden="true" class="hidden"></button>

    {% csrf_token %}
    {{ form.management_form }}
    {{ product_form.non_field_errors }}
    
    {% update_form_general %}
    
    {% if generic_products %}
        {% update_form_generic %}
    {% endif %}

    {% update_form_specific %}

    {% if history %}
    <div class="tabs tabs--inline">
        <table class="tabs__table form__history form__history tabs__table--hidden form__history--hidden">
            <thead class="bem-toggle" data-toggle-target=".form__history" data-toggle-modifier="hidden">
                <tr>
                    <th class="tabs__table-header" width="25%">
                        <i class="fa fa-chevron-right bem-toggle__icon"></i>
                        {% trans "Geschiedenis" %}
                    </th>
                    <th class="tabs__table-header"></th>
                </tr>
            </thead>
            <tbody class="tabs__table-body">
                {% for version in history %}
                    {{ version.as_html }}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <hr class="divider">

    <div class="notifications">
        {% if product_versie.current_status == product.status.SCHEDULED %}
        {% include 'producten/_include/schedule_to_concept_warning.html' %}
        {% endif %}
    </div>

    {% if user_can_edit %}
        <div class="toolbar toolbar--sticky-b toolbar--column">
            {% if version_form.non_field_errors %}
            <div class="toolbar--row error">
                {{ version_form.non_field_errors }}
            </div>
            {% endif %}

            <div class="toolbar__section toolbar--row form">
                <div class="toolbar__section">
                    <div class="calendar-container">
                        {% trans "Publicatie datum" %}
                        <input name="date" type="date" class="calendar form__input" value="{{ version_form.date.initial }}">
                    </div>
                </div>

                <div class="toolbar__section">
                    <div class="button-group">
                        <label class="toolbar toolbar--centered">
                            <i class="fa fa-info-circle fa-lg dark" title="{{ button_information }}"></i>
                        </label>
                        <a
                            href="{% url 'organisaties:catalogi:producten:edit' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}">
                            <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
                        </a>

                        <button class="button tabs__form-button button--light" name="publish" value="concept" type="submit" id="concept-button">
                            Opslaan als concept
                        </button>

                        <button class="button tabs__form-button" type="submit" name="publish" value="date" id="publish-button">
                            Opslaan en publiceren
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</form>
{% endblock page_content %}
