{% extends 'producten/base.html' %}

{% load utils %}
{% load static %}
{% load i18n %}
{% load producten %}
{% load toggle %}
{% load localized_form %}

{% block templates %}
    {% for reference_form in reference_formset.forms %}
        <template class="form__reference-{{ reference_form.initial.taal }}"
                  data-title="{{ reference_formset.title }}"
                  data-default-toelichting="{{ reference_form.default_toelichting }}">
            {{ reference_form.as_p }}
        </template>
    {% endfor %}
    {% for reference_form in previous_reference_formset.forms %}
        <template class="form__previousreference-{{ reference_form.initial.taal }}"
                  data-title="{{ previous_reference_formset.title }}"
                  data-default-toelichting="{{ reference_form.default_toelichting }}">
            {{ reference_form.as_p }}
        </template>
    {% endfor %}
{% endblock %}

{% block inner_content %}
    <div class="notifications">
        {% if form_invalid %}
            <div class="notifications__notification notification__error">
                <i class="fas fa-times-circle"></i>
                <span>{% trans "Wijzigingen konden niet worden opgeslagen. Corrigeer de hieronder gemarkeerde fouten." %}</span>
                <span></span>
            </div>
        {% endif %}
        {% include "core/_notifications.html" %}
        {% include 'producten/_include/availability_warnings.html' %}
        {% include 'producten/_include/edit_warnings.html' %}
    </div>


    <form action="." method="POST" class="form">
        {% csrf_token %}
        {{ form.management_form }}
        {{ product_form.non_field_errors }}
        <div class="tabs tabs--inline-outer">
            <table class="tabs__table form__general">
                <thead class="bem-toggle" data-toggle-target=".form__general" data-toggle-modifier="hidden">
                <tr>
                    <th class="tabs__table-header" width="25%">
                        <i class="fa fa-chevron-right bem-toggle__icon"></i>
                        {% trans "Algemene Gegevens" %}
                    </th>
                    <th class="tabs__table-header">{% trans "Huidige Informatie" %}</th>
                </tr>
                </thead>
                <tbody class="tabs__table-body">
                <tr>
                </tr>

                {% if not product.is_referentie_product %}
                    {% with field=product_form.product_aanwezig %}
                        <tr>
                            <td class="tabs__table-cell" width="25%">
                                {{ field.label|capfirst }} <i
                                    class="fas fa-info-circle fa-xs dark"
                                    title="{{ configuration.1|default:field.help_text }}"></i>
                            </td>
                            <td class="tabs__table-cell">
                                {% select field %}
                                {{ field.errors }}
                            </td>
                        </tr>
                    {% endwith %}

                    {% with field=product_form.product_aanwezig_toelichting %}
                        <tr>
                            <td class="tabs__table-cell"
                                width="25%">{{ field.label|capfirst }}<i
                                    class="fas fa-info-circle fa-xs dark"
                                    title="{{ field.help_text }}"></i></td>
                            <td class="tabs__table-cell"
                                data-default-text="De gemeente {{ lokaleoverheid }} biedt het product {{ product }} niet aan.">
                                {{ field|addclass:"form__input" }}
                                {{ field.errors }}
                            </td>
                        </tr>
                    {% endwith %}

                    {% with field=product_form.product_valt_onder %}
                        <tr>
                            <td class="tabs__table-cell"
                                width="25%">{{ field.label|capfirst }}<i
                                    class="fas fa-info-circle fa-xs dark"
                                    title="{{ field.help_text }}"></i></td>
                            <td class="tabs__table-cell">
                                {% select field %}
                                {{ field.errors }}
                            </td>
                        </tr>
                    {% endwith %}

                    {% with field=product_form.bevoegde_organisatie %}
                        {% with configuration=field.configuration.0 %}
                            <tr>
                                <td class="tabs__table-cell"
                                    width="25%">{{ configuration.0|default:field.label|capfirst }}<i
                                        class="fas fa-info-circle fa-xs dark"
                                        title="{{ configuration.1|default:field.help_text }}"></i>
                                </td>
                                <td class="tabs__table-cell">
                                    {% select field %}
                                    {{ field.errors }}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endwith %}

                    {% with field=product_form.locaties %}
                        <tr>
                            <td class="tabs__table-cell" width="25%">
                                {{ field.label|capfirst }}
                                <i class="fas fa-info-circle fa-xs dark" title="{{ field.help_text }}"></i>
                            </td>
                            <td class="tabs__table-cell">
                                {{ field }}
                                {{ field.errors }}
                            </td>
                        </tr>
                    {% endwith %}
                {% endif %}

                {% with publication_date=product.active_version|get_field:"publicatie_datum" %}
                    {% with configuration=publication_date.configuration.0 %}
                        <tr>
                            <td class="tabs__table-cell">{{ configuration.0|default:_("Publicatie datum")|capfirst }}<i
                                    class="fas fa-info-circle fa-xs dark"
                                    title="{{ configuration.1|default:_('Publicatiedatum van de productversie') }}"></i>
                            </td>
                            <td class="tabs__table-cell">
                                <span class="tabs__table-cell--value">{{ publication_date.value|default:"Concept" }}</span>
                            </td>
                        </tr>
                    {% endwith %}
                {% endwith %}

                </tbody>
            </table>
        </div>


        <div class="tabs tabs--inline">
            {% for generic_information, form in informatie_forms %}
                <div class="tabs__tab-content tabs__tab-content{% if forloop.first %}--active{% endif %}"
                     id="{{ form.taal.value }}">

                    <div class="toolbar global-language-switch">
                        {# (Global) language selectors. #}
                        <div class="button-group">
                            {% for language in languages %}
                                <button class="button button--extra-small button--transparent{% if forloop.first %} button--active{% endif %} form__language-switch"
                                        lang="{{ language }}"
                                        type="button">
                                    {{ language|upper }}
                                    <i class="fas fa-info-circle fa-xs dark" title="{% trans 'De waarde voor deze taal is aangepast.' %}" aria-hidden="true" ></i>
                                </button>
                            {% endfor %}
                        </div>

                        {# (Global) edit togggle. #}
                        {% toggle _('Bewerken') icon_before='lock' icon_after='lock-open' id='toggle-edit' %}
                    </div>
                    <hr class="divider">

                    {% if generic_information %}
                        <table class="tabs__table form__generic">
                            <thead class="bem-toggle" data-toggle-target=".form__generic" data-toggle-modifier="hidden">
                            <tr>
                                <th class="tabs__table-header" width="25%">
                                    <i class="fa fa-chevron-right bem-toggle__icon"></i>
                                    {% trans 'Generieke gegevens' %}
                                </th>
                                <th class="tabs__table-header">
                                    {% trans 'Huidige informatie' %}
                                </th>
                            </tr>
                            </thead>
                            <tbody class="tabs__table-body">
                            {% with title=generic_information|get_field:"product_titel" url=generic_information|get_field:"landelijke_link" %}
                                {% table_row title url=url.value %}
                            {% endwith %}
                            {% for field in generic_information.get_fields|exclude:"id,taal,product_titel,generiek_product,landelijke_link,korte_omschrijving" %}
                                {% table_row field %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr class="divider">
                    {% endif %}

                </div>
            {% endfor %}
            <div class="tabs__table form__has-reference"
                 data-reference=".form__reference-{{ form.taal.value }}"
                 data-previousreference=".form__previousreference-{{ form.taal.value }}">
                {{ form.non_field_errors }}
                {{ form.id }}
                {{ form.taal.as_hidden }}
                {% localized_form formset include_form=False fields=localized_form_fields %}
            </div>
        </div>

        <hr class="divider">

        <div class="notifications">
            {% if product_versie.current_status == product.status.SCHEDULED %}
                {% include 'producten/_include/schedule_to_concept_warning.html' %}
            {% endif %}
        </div>


        <div class="toolbar toolbar--sticky-b">
            <div class="toolbar__section">
                <div class="calendar-container">
                    {{ version_form.non_field_errors }}
                    {% trans "Publicatie datum" %}
                    <input name="date" type="date" class="calendar form__input"
                           value="{{ version_form.date.initial }}">
                </div>
            </div>

            <div class="toolbar__section">
                <div class="button-group">
                    <a href="{% url 'organisaties:catalogi:producten:edit' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}">
                        <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
                    </a>

                    <button class="button tabs__form-button button--light" name="publish" value="concept"
                            type="submit">
                        Opslaan als concept
                    </button>

                    <button class="button tabs__form-button" type="submit" name="publish" value="date">
                        Opslaan en publiceren
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock inner_content %}
