{% load i18n toggle utils %}

<div class="form__language-wrapper" lang="{{ taal }}">
    <div class="form__control" {% if taal != languages.0 %} aria-hidden="true" {% endif %} lang="{{ taal }}">

        <header class="form__control-header">
            {# Label with icon. #}
            <label class="form__label">
                {{ link.label|capfirst }}
                <i class="fas fa-info-circle fa-xs dark" title="{{ link.help_text }}"></i>
            </label>

            {# Language selectors. #}
            <div class="button-group">
                {% for language in languages %}
                    <button
                        class="button button--extra-small button--transparent {% if taal == language %} button--active {% else %} button--inactive {% endif %} form__language-switch"
                        lang="{{ language }}" type="button">
                        {{ language|upper }}
                        <i class="fas fa-info-circle fa-xs dark"
                            title="{% trans 'De waarde voor deze taal is aangepast.' %}" aria-hidden="true"></i>
                    </button>
                {% endfor %}
            </div>

        </header>

        {#  Form control body. #}
        <div class="form__control-body" lang="{{ taal }}">
            <div class="tabs__table-cell--versions"></div>
            <div class="tabs__table-cell">
                <div class="url_label_field">
                    <div class="url_label_field__container" data-initialized="true">
                        <div>
                            <div class="url_label_field__container-item">
                                {{ label|addlabelclass:"form__input lockable form__input--left" }}{{ link|addlinkclass:"form__input lockable form__input--right" }}
                            </div>
                            {% if label.errors or link.errors %}
                            <div class="url_label_field__container-item">
                                {{ label.errors }}{{ link.errors}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="url_label_field__container">
                        <div class="toolbar">
                            <div></div>
                            {% toggle _('Aanpassen') hide_label=True icon_before='fa fa-lock fa-xs' icon_after='fa fa-lock-open fa-xs' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>