{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
            {% if field|is_checkbox and form_show_labels %}
                <label for="{{ field.id_for_label }}" class="checkbox {% if field.field.required %}requiredField{% endif %}">
                    {% crispy_field field %}
                    {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                </label>
                {% include 'bootstrap/layout/help_text_and_errors.html' %}
            {% else %}
                {% crispy_field field %}
                {% include 'bootstrap/layout/help_text_and_errors.html' %}
            {% endif %}
        {% endif %}
{% endif %}
