{% load utils %}

<tr>
    <td class="tabs__table-cell tabs__table-cell--edit">
        {{ field.label|capfirst }}
        <i class="fas fa-info-circle fa-xs" title="{{ field.help_text }}"></i>
    </td>
    <td class="tabs__table-cell {% if not is_reference %}form__cell form__cell--disabled{% endif %}">
        {% if field %}
            {{ field|addclass:"form__input" }}
            {{ field.errors }}
            {% if not is_reference %}
                <div class="tabs__table-cell--tools">
                    <a href="#" class="tabs__table-help form__edit-btn"><i class="fa fa-pen fa-xs"></i> Aanpassen</a>
                    <a href="#" class="tabs__table-help form__display-btn"><i class="fa fa-chevron-down"></i> Toon standaardtekst</a>
                    <a href="#" class="tabs__table-help form__reference-btn"><i class="fa fa-undo fa-xs"></i> Gebruik standaardtekst</a>
                </div>
            {% endif %}
        {% endif %}
    </td>
</tr>
