{% load i18n toggle %}

<form class="localized-form" action="{{ action|default:'.' }}" method="{{ method|default:'post' }}" enctype="
        {{ enctype|default:'multipart/form-data' }}">
    {% csrf_token %}

    {% for object in object_list %}
        <div class="localized-form__control">
            <header class="localized-form__header">
                {# Label #}
                <label class="localized-form__label">{{ object.field }}</label>
            </header>

            {% for field in object.bound_fields %}
                <div class="localized-form__body{% if forloop.first %} localized-form__body--active{% endif %}">
                {# Field. #}
                {{ field }}

                {# Actions. #}
                {# Too specific for generic localized form, but here for pragmatic reasons. #}
                <footer class="localized-form__actions{% if forloop.first %} localized-form__footer--active{% endif %}">
                    <aside class="toolbar">
                        <button class="button button--light button--small form__display-btn" type="button">
                            <i class="fa fa-chevron-right"></i>
                            {% trans 'Toon standaardtekst' %}
                        </button>
                        {% toggle _('Aanpassen') hide_label=True icon_before='lock' icon_after='lock-open' %}
                    </aside>

                    <div class="highlight form__reference"></div>

                    <aside class="toolbar toolbar--dark">
                        <div class="button-group">
                            <button class="button button--light button--small form__diff-btn"
                                    type="button"
                                    title="{% trans "Toon wijzigingen in standaard tekst t.o.v. vorige versie" %}">
                                <i class="fa fa-eye fa-xs"></i>
                                {% trans 'Vergelijken' %}
                            </button>

                            <button class="button button--light button--small form__reference-btn" type="button">
                                <i class="fa fa-undo fa-xs"></i>
                                {% trans 'Gebruik standaardtekst' %}
                            </button>
                        </div>
                    </aside>
                </footer>


                <aside class="highlight form__reference"></aside>
                <footer class="toolbar toolbar--dark">
                    <div class="button-group">
                        <button class="button button--light button--small form__diff-btn"
                                type="button"
                                title="{% trans "Toon wijzigingen in standaard tekst t.o.v. vorige versie" %}">
                            <i class="fa fa-eye fa-xs"></i>
                            {% trans 'Vergelijken' %}
                        </button>

                        <button class="button button--light button--small form__reference-btn" type="button">
                            <i class="fa fa-undo fa-xs"></i>
                            {% trans 'Gebruik standaardtekst' %}
                        </button>
                    </div>
                </footer>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</form>
