{% load i18n %}
{% load utils %}
{% load producten %}

{% for product in products %}
<div class="form__language-wrapper" lang="{{ languages.0 }}">
    {% for item in product %}
    <div class="form__control"{% if item.taal is not languages.0 %} aria-hidden="true"{% endif %} lang="{{ item.taal }}">
        {# Form control header. #}
        <header class="form__control-header">
            {# Label with icon. #}
            <label class="form__label">
                {{ item.field.verbose_name|capfirst }}
                <i class="fas fa-info-circle fa-xs dark" title="{{ item.field.help_text }}"></i>
            </label>
        </header>

        {#  Form control body. #}
        <div class="form__control-body" lang="{{ item.taal }}">
            {# Field. #}
            <div class="tabs__table-cell--value">
                {% if item.url %}
                <a href="{{ item.url }}" target="_blank">
                    {% field_info item.field %}
                </a>
                {% else %}
                    {% field_info item.field %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}