{% load utils %}

<tr>
    <td class="tabs__table-cell tabs__table-cell--edit">
        {{ field.label|capfirst }}
        <i class="fas fa-info-circle fa-xs" title="{{ field.help_text }}"></i>
    </td>
    <td class="tabs__table-cell {% if not is_reference %}form__cell{% endif %}">
        {% if field %}
            {{ field|addclass:"form__input" }}
            {{ field.errors }}
            {% if not is_reference %}
                <a href="#" class="tabs__table-help form__reference-btn"><i class="fa fa-undo"></i> Gebruik standaardtekst</a>
            {% endif %}
        {% endif %}
    </td>
</tr>
