{% extends 'organisaties/invitation/base.html' %}
{% load i18n producten utils humanize %}

{% block page_title %}{% trans "Nieuwe gebruiker toevoegen" %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% blocktrans %}
            U nodigt hiermee een nieuwe of bestaande gebruiker uit voor {{ lokaleoverheid }}. Een gebruiker in de rol van redacteur kan producten in uw catalogi bewerken. Een beheerder kan tevens instellingen en gebruikers beheren voor uw organisatie. Een gebruiker mag ook beide rollen vervullen.
        {% endblocktrans %}
    </p>
{% endblock %}

{% block notifications %}{% endblock %}

{% block inner_content %}
    <form method="post" class="form">
        {% csrf_token %}

        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        {{ form.non_field_errors }}

        <div class="form__block">
            {% field form.email %}
            {% field form.first_name %}
            {% field form.last_name %}
            <div class="form__block-inline">
                {% for subform in formset %}
                    {% checkbox subform.is_beheerder %}
                    {% checkbox subform.is_redacteur %}
                    {% checkbox subform.is_raadpleger %}
                {% endfor %}
            </div>
        </div>
        <hr class="divider">
        <div class="form-actions">
            <input type="hidden" name="next" value="{{ redirect_field_value }}">
            <div class="form__buttons">
                <input type="submit" class="button" value="{% trans 'Opslaan' %}">
                <a href="{% url 'organisaties:roles:list' pk=lokaleoverheid.pk %}">
                    <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
                </a>
            </div>
        </div>
    </form>
{% endblock inner_content %}
