{% extends 'organisaties/invitation/base.html' %}

{% load i18n %}
{% load producten %}
{% load utils %}
{% load humanize %}

{% block title %}SDG | {% trans "Gebruikers" %}{% endblock %}
{% block notifications %}{% endblock %}

{% block inner_content %}
    <form method="post" class="form">
        {% csrf_token %}

        {% blocktrans %}
            <div class="mt-m">
                <p class="heading">Nieuwe gebruiker toevoegen.</p>
                <p class="subheading">U nodigt hiermee een nieuwe of bestaande gebruiker uit voor {{ lokaleoverheid }}.
                    Een
                    gebruiker in de rol van redacteur kan
                    producten in uw catalogi aanpassen. Een beheerder kan alleen gebruikers beheren voor uw organisatie,
                    binnen deze applicatie. Een gebruiker mag ook beide rollen vervullen.</p>
            </div>
        {% endblocktrans %}

        <hr class="divider">

        {{ formset.management_form }}
        {{ formset.non_form_errors }}
        {{ form.non_field_errors }}

        <div class="form__block">
            {% field form.email %}
            {% field form.first_name %}
            {% field form.last_name %}
            <div class="form__block-inline">
                {% for subform in formset %}
                    {% checkbox subform.is_beheerder %}
                    {% checkbox subform.is_redacteur %}
                {% endfor %}
            </div>
        </div>
        <hr class="divider">
        <div class="form-actions">
            <input type="hidden" name="next" value="{{ redirect_field_value }}">
            <div class="form__buttons">
                <input type="submit" class="button" value="{% trans 'Opslaan' %}">
                <a href="{% url 'organisaties:roles:list' pk=lokaleoverheid.pk %}">
                    <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
                </a>
            </div>
        </div>
    </form>
{% endblock inner_content %}
