{% extends 'components/fields/base.html' %}
{% load fields utils i18n %}

{% block header %}
    {% for field in object.bound_fields %}
        {% if field.language == 'nl' %}
            <label class="form__field-label">
                {{field.label|capfirst}}
                <i class="fas fa-info-circle fa-xs dark" title="{{ field.help_text }}"></i>
            </label>
        {% endif %}
    {% endfor %}
{% endblock %}    

{% block body %}
    {% for field in object.bound_fields %}
        <div class="form__control" lang="{{ field.language }}">
            <header class="form__control-header">
                <p class="form__control-hint">
                    {% if field.language == 'nl' %}
                        {% trans 'Nederlands' %}
                    {% else %}
                        {% trans 'Engels' %}
                    {% endif %}

                    <i class="fas fa-info-circle fa-xs dark" title="{% trans 'De waarde voor deze taal is aangepast.' %}" aria-hidden="true"></i>
                </p>
            </header>
            <div class="form__control-body" lang="{{ field.language }}">
                {% if inline != True and 'dynamic_array' not in field.field.widget.template_name %}
                <div class="diff" aria-hidden="true">
                    <header class="diff__versions">
                        <ins></ins>
                        <del></del>
                    </header>
                    <div class="form__input form__input--preview diff__preview"></div>
                </div>
                {% endif %}

                {# Field. #}
                <div class="form__input form__input--wrapper">
                    {{ field|addclass:"form__input" }}
                    {{ field.errors }}
                </div>
            </div>

            {% if inline != True and 'dynamic_array' not in field.field.widget.template_name %}
            <footer class="form__control-footer reference" aria-hidden="true">
                <p class="form__control-hint">Standaardtekst {% if field.language == 'nl' %}{% trans 'Nederlands' %}{% else %}{% trans 'Engels' %}{% endif %}</p>
                <div class="reference__versions" aria-hidden="true">
                    <del></del>
                    <ins></ins>
                </div>
                <div class="form__input form__input--preview reference__preview">
                    <p class="italic">Geen standaardtekst beschikbaar</p>
                </div>
                <div class="button-group">
                    <button class="button button--light button--small form__reference-btn" type="button" lang="{{field.language}}">
                        <i class="fa fa-undo fa-xs"></i>
                        {% trans 'Gebruik standaardtekst' %} {% if field.language == 'nl' %}{% trans 'Nederlands' %}{% else %}{% trans 'Engels' %}{% endif %}
                    </button>
                </div>
            </footer>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% for field in object.bound_fields %}
        {% if forloop.counter == 1 and inline != True and 'dynamic_array' not in field.field.widget.template_name %}
        <footer class="form__field-footer button-group">
            <button class="button button--light button--small form__display-btn" type="button">
                <i class="fa fa-chevron-right"></i>
                {% trans 'Toon standaardtekst' %}
            </button>
            <section class="form__field-toolbar button-group" aria-hidden="true">
                <button class="button button--light button--small form__diff-btn" type="button" title="{% trans "Toon de verschillen tussen mijn tekst en de standaardtekst" %}">
                    <i class="fa fa-eye fa-xs"></i>
                    {% trans 'Vergelijk met mijn teksten' %}
                </button>
                <button class="button button--light button--small reference__diff-btn" type="button" 
                    title="{% trans "Toon de verschillen tussen mijn tekst en de standaardtekst" %}">
                    <i class="fa fa-eye fa-xs"></i>
                    {% trans 'Vergelijk met vorige versie' %}
                </button>
            </section>
        </footer>
        {% endif %}
    {% endfor %}
{% endblock %}