{% extends 'components/fields/base.html' %}
{% load fields utils %}

{% block header %}
    {% for field in object.bound_fields %}
        <label class="form__field-label">
            {{field.label|capfirst}}
            <i class="fas fa-info-circle fa-xs dark" title="{{ field.help_text }}"></i>
        </label>
    {% endfor %}
{% endblock %}    

{% block body %}
    {% for field in object.bound_fields %}
    {# Field. #}
    <div class="form__control">
        <div class="form__control-body">
            {% if readonly %}
                {{ field|add_class_and_readonly:"form__input" }}
            {% else %}
                {{ field|addclass:"form__input" }}
            {% endif %}
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
{% endblock %}    