/* Since admin styled override default html tags, we override them back for ck editor */


/*ck editor in the admin*/
.module .ck-editor {
  margin-left: 170px !important;
  width: 624px !important;
}

.ck-content {
  min-height: 175px;
}


//colors
$color_darkest: #000;
$color-gray: silver;

.aligned .ck-editor {
  p, ul, ol, blockquote, pre {
    font-size: 1em;
    line-height: 1.6em;
    padding-top: 0.2em;
    margin-bottom: 0.8em
  }

  h1, h2, h3, h4 {
    color: $color_darkest !important;
    font-weight: 400 !important;
    background: none !important;
    padding-top: 0.3em !important;
    padding-left: 0 !important;
    text-transform: none;
    border-bottom: 1px solid $color-gray;
  }

  h1 {
    font-size: 2.36em;
    line-height: 1.33em;
    padding-top: 1em;
    margin-bottom: 1.67em;
  }

  h1:first-of-type {
    width: 100%;
    padding-top: .5em;
    margin-bottom: 1.17em
  }

  h2 {
    font-size: 1.68em;
    line-height: 1.68em;
    margin-bottom: 0.4em;
  }

  h2:first-of-type {
    padding-top: 0;
  }

  h3 {
    font-size: 1.36em !important;
    margin-bottom: 0.2em !important;
    line-height: 1.5em;
    background: none;
    border-top: none;
  }

  h4 {
    font-size: 1.12em !important;
    margin-bottom: 0.1em !important;
    line-height: 1.3em;
    background: none;
    border-top: none;
  }

  strong, b {
    font-weight: 600;
  }

  i, em {
    font-style: italic;
  }

  blockquote {
    border-left: 1px solid #bdbdbd;
    padding-left: 10px;
    padding-top: 0;
    font-style: italic;
  }

  ul, ol {
    //margin-left:2.666em;
    margin-left: 0;
    padding-left: 2.666em;
    margin-bottom: 0.8em;
  }

  ol, ul ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: disc;
  }

  ul ul, ul ol, ol ul, ol ol {
    padding-top: 0;
    margin-bottom: 0;
  }

  ul ul:last-of-type,
  ul ol:last-of-type,
  ol ul:last-of-type,
  ol ol:last-of-type {
    margin-bottom: .33333em;
  }

  ul li:last-of-type,
  ol li:last-of-type {
    margin-bottom: 0;
  }

  p img {
    display: block;
    margin: 1.5em auto;
    box-sizing: content-box;
  }

}
