<div style="font-family: arial; sans-serif; font-size: 11px;">
    <p>Beste {{ user_full_name }},</p>

    <p>Hartelijk dank voor het aanmelden bij de invoervoorziening Single Digital Gateway (SDG) voor {{ org_type_name_plural }}. Je hebt zojuist toegang gekregen.</p>

    <br>
    <p><strong>Activeer nu jouw account</strong></p>
    <p>Met de onderstaande link stel je jouw account in en lees je de instructies op onze website.</p>

    <p><a href="{{ invite_url }}">{{ invite_url }}</a></p>

    <p><strong><i>Let op: je hebt 8 weken de tijd om je account te activeren.</i></strong></p>

    <p>Met jouw account heb je toegang tot de invoervoorziening. {% if not products_disabled %}Je kunt hier de teksten controleren en aanvullen met informatie van jouw {{ org_type_name }}.{% endif %} Ook kun je hier je organisatie gegevens en locaties beheren.</p>

    <br>
    <p><strong>Heb je vragen?</strong></p>
    {% if more_info_url and more_info_url != "#" %}
        <p>Op <a href="{{ more_info_url }}">deze website</a> vind je informatie en handleidingen voor de invoervoorziening. Heb je andere vragen? Stuur een e-mail naar <a href="mailto:{{ org_type_email }}">{{ org_type_email }}</a>.</p>
    {% else %}
        <p>Stel je vraag door een e-mail te sturen naar <a href="mailto:{{ org_type_email }}">{{ org_type_email }}</a>.</p>
    {% endif %}

    <br>
    <p>Met vriendelijke groet,</p>

    <p>
    Programmateam Single Digital Gateway<br>
    {{ org_name }}<br>
    </p>

    <p><small>Dit bericht is automatisch aangemaakt en verstuurd. Je kunt hier niet op antwoorden.</small></p>
</div>
