{% load static producten %}
{% load i18n %}
{% load markdownify %}
{% load static %}

{% load static hijack_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDG | Voorbeeld weergave</title>
    <style>
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    <script src="{% static 'bundles/fontawesome.js' %}"></script>
    <link href="{% static 'bundles/sdg-css.css' %}" media="all" rel="stylesheet"/>
</head>

<body id="kvk">
    <div class="navbar">
        <div class="navbar__link">
            <a href="{% url 'organisaties:catalogi:producten:edit' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}">{% trans "Ga terug naar de update pagina" %}</a>
        </div>

        <div class="navbar__button">
            <div class="toolbar global-language-switch">
                <div class="button-group">
                    {% for language in languages %}
                        <button class="button button--extra-small button--transparent{% if forloop.first %} button--active{% endif %} language-switch"
                                lang="{{ language }}"
                                type="button">
                            {{ language|upper }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="content__language-wrapper" lang="{{ languages.0 }}">

            <h1>{{ product.name }}</h1>

            <div class="divider"></div>

            {% for object in generieke_producten %}
                <div class="generiek" lang="{{ object.taal }}" {% if object.taal != languages.0 %} aria-hidden="true"{% endif %}>
                    <p>{{ object.generieke_tekst | markdownify }}</p>
                </div>
            {% endfor %}

            {% for object in algemene_producten %}

                <div class="algemeen" lang="{{ object.taal }}" {% if object.taal != languages.0 %} aria-hidden="true"{% endif %}>

                    <h2> {% trans "Informatie van " %} {{ locale_overheid }}</h2>

                    <div class="divider"></div>

                    {% for field in object.template_fields %}

                        {% if product.product_aanwezig == False and field.name == "product_aanwezig_toelichting" %}
                            {% if field.configuration %}
                                <h3><b>{{ field.configuration.0.0 }}</b></h3>
                            {% else %}
                                <h3><b>{{ field.verbose_name|capfirst }}</b></h3>
                            {% endif %}
                            <p>{% field_info field %}</p>
                        {% endif %}

                        {% if product.product_valt_onder and product.product_aanwezig != False and field.name == "product_valt_onder_toelichting" %}
                            {% if field.configuration %}
                            <h3><b>{{ field.configuration.0.0 }}</b></h3>
                            {% else %}
                            <h3><b>{{ field.verbose_name|capfirst }}</b></h3>
                            {% endif %}
                            <p>{% field_info field %}</p>
                        {% endif %}

                    {% endfor%}
                </div>

            {% endfor %}

            {% if not product.product_valt_onder and product.product_aanwezig != False %}

                {% for object in specifieke_producten %}

                    <div class="specifiek" lang="{{ object.taal }}" {% if object.taal != languages.0 %} aria-hidden="true"{% endif %}>

                        {% if object.product_titel_decentraal %}
                            <h3>{{ object.product_titel_decentraal }}</h3>

                            <div class="divider"></div>

                            <p>{{ object.specifieke_tekst | markdownify }}<br></p>

                        {% endif %}

                        {% for field in object.template_fields %}

                            {% if field.configuration %}
                            <h3><b>{{ field.configuration.0.0 }}</b></h3>
                            {% else %}
                            <h3><b>{{ field.verbose_name|capfirst }}</b></h3>
                            {% endif %}
                            <div class="divider"></div>
                            <p>{% field_info field %}</p>

                        {% endfor %}
                    </div>

                {% endfor %}

            {% endif %}

        </div>

        <div class="right">
            <div class="content__language-wrapper" lang="{{ languages.0 }}">
                {% for object in generieke_producten %}
                    <div class="generiek" lang="{{ object.taal }}" {% if object.taal != languages.0 %} aria-hidden="true"{% endif %}>
                        {% if object.verwijzing_links%}
                            <h3>{% trans "zie ook" %}</h3>
                            <ul>
                                {% for item in object.verwijzing_links %}
                                <li>
                                    <a href="{{ item.1 }}" target="_blank">{{ item.0 }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if object.datum_check %}
                            {% trans "Laatst gecontroleerd op" %} {{ object.datum_check | date }}
                        {% endif %}

                        {% if object.verwijzing_links or object.datum_check %}
                            <div class="divider"></div>
                        {% endif %}

                    </div>
                {% endfor %}

                {% for object in specifieke_producten %}
                    <div class="specifiek" lang="{{ object.taal }}" {% if object.taal != languages.0 %} aria-hidden="true"{% endif %}>
                        {% if object.verwijzing_links%}
                            <h3>{% trans "zie ook" %}</h3>
                            <ul>
                                {% for item in object.verwijzing_links %}
                                <li>
                                    <a href="{{ item.1 }}" target="_blank">{{ item.0 }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <h5>{% trans "Neem contact op met gemeente" %} {{ locale_overheid }}</h5>

                        <table>
                            <tr>
                                <td>{% trans "website" %}</td>
                                <td><a href="{{ locale_overheid.contact_website }}">{{ locale_overheid.contact_website }}</a></td>
                            </tr>
                            <tr>
                                <td>{% trans "email" %}</td>
                                <td>{{ locale_overheid.contact_emailadres }}</td>
                            </tr>
                            <tr>
                                <td>{% trans "telefoon" %}</td>
                                <td>{{ locale_overheid.contact_telefoonnummer }}</td>
                            </tr>
                        </table>

                        <h4>{% trans "Waar kunt u dit product verkrijgen"%}</h4>

                        {% if product.bevoegde_organisatie != locale_overheid and product.bevoegde_locaties %}
                                {% trans "Uitgevoerd door" %} {{ product.bevoegde_organisatie }} <br>

                                {% for locatie in bevoegde_locaties %}

                                <div class="organisatie_info">

                                    <div class="locatie">
                                        <p>
                                            {{ locatie.naam }} <br>
                                            {{ locatie.straat }} {{ locatie.nummer }} <br>
                                            {{ locatie.postcode }} {{ locatie.plaats }} <br>
                                        </p>
                                    </div>

                                    {% trans "Openingstijden"%}: <br>

                                    <div class="openingstijden">
                                        <div class="openingstijd">
                                            <label for="maandag">{% trans "maandag"%}:</label>
                                            <div id="maandag">
                                                {% if locatie.maandag %}
                                                    {% for openingstijd in locatie.maandag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="dinsdag">{% trans "dinsdag"%}:</label>
                                            <div id="dinsdag">
                                                {% if locatie.dinsdag %}
                                                    {% for openingstijd in locatie.dinsdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="woensdag">{% trans "woensdag"%}:</label>
                                            <div id="woensdag">
                                                {% if locatie.woensdag %}
                                                    {% for openingstijd in locatie.woensdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="donderdag">{% trans "donderdag"%}:</label>
                                            <div id="donderdag">
                                                {% if locatie.donderdag %}
                                                    {% for openingstijd in locatie.donderdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="vrijdag">{% trans "vrijdag"%}:</label>
                                            <div id="vrijdag">
                                                {% if locatie.vrijdag %}
                                                    {% for openingstijd in locatie.vrijdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="zaterdag">{% trans "zaterdag"%}:</label>
                                            <div id="zaterdag">
                                                {% if locatie.zaterdag %}
                                                    {% for openingstijd in locatie.zaterdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="zondag">{% trans "zondag"%}:</label>
                                            <div id="zondag">
                                                {% if locatie.zondag %}
                                                    {% for openingstijd in locatie.zondag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {% endfor %}

                                {% if object.product_versie.publicatie_datum %}
                                    <h5>{% trans "Laatst gewijzigd op" %} {{ object.product_versie.publicatie_datum }}</h5>
                                {% else %}
                                    <h5>{% trans "Concept" %}</h5>
                                {% endif %}

                        {% else %}
                                <h5>{% trans "Uitgevoerd door" %} {{ product }}</h5>

                                {% for locatie in locale_locaties %}

                                <div class="organisatie_info">
                                    <div class="locatie">
                                        <p>
                                            {{ locatie.naam }} <br>
                                            {{ locatie.straat }} {{ locatie.nummer }} <br>
                                            {{ locatie.postcode }} {{ locatie.plaats }} <br>
                                        </p>
                                    </div>

                                    <div class="openingstijden">
                                        <div class="openingstijd">
                                            <label for="maandag">{% trans "maandag"%}:</label>
                                            <div id="maandag">
                                                {% if locatie.maandag %}
                                                    {% for openingstijd in locatie.maandag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="dinsdag">{% trans "dinsdag"%}:</label>
                                            <div id="dinsdag">
                                                {% if locatie.dinsdag %}
                                                    {% for openingstijd in locatie.dinsdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="woensdag">{% trans "woensdag"%}:</label>
                                            <div id="woensdag">
                                                {% if locatie.woensdag %}
                                                    {% for openingstijd in locatie.woensdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="donderdag">{% trans "donderdag"%}:</label>
                                            <div id="donderdag">
                                                {% if locatie.donderdag %}
                                                    {% for openingstijd in locatie.donderdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="vrijdag">{% trans "vrijdag"%}:</label>
                                            <div id="vrijdag">
                                                {% if locatie.vrijdag %}
                                                    {% for openingstijd in locatie.vrijdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="zaterdag">{% trans "zaterdag"%}:</label>
                                            <div id="zaterdag">
                                                {% if locatie.zaterdag %}
                                                    {% for openingstijd in locatie.zaterdag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="openingstijd">
                                            <label for="zondag">{% trans "zondag"%}:</label>
                                            <div id="zondag">
                                                {% if locatie.zondag %}
                                                    {% for openingstijd in locatie.zondag %}
                                                        {{ openingstijd }}<br>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans "gesloten" %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                                {% if object.product_versie.publicatie_datum %}
                                    <h5>{% trans "Laatst gewijzigd op" %} {{ object.product_versie.publicatie_datum }}</h5>
                                {% else %}
                                    <h5>{% trans "Concept" %}</h5>
                                {% endif %}

                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/mocks/kvk.js' %}"></script>
</body>
</html>