@use 'sass:map';
@use 'sass:meta';
@import '../../settings';
@import '../../components/colors';


$base_with: (
  'color-background': $color_grey_light,
  'color-info': $color_primary_lightest,
  'typography-color-link': $color_primary,
  'shades': (
    'gray-1': #f3f3f3,
    'gray-2': #e6e6e6,
    'gray-3': $color_grey_darkest,
    'gray-4': $color_grey_darker,
    'gray-5': #999999,
    'gray-6': #696969,
    'gray-7': #535353,
  ),
);


.view--organisaties-productenlijst-list {
  @include meta.load-css('rijkshuisstijl/sass/components/datagrid/datagrid', $with: map.merge($base_with, (
    'datagrid-spacing-row-h': $grid-margin-1,
    // 'input-color-placeholder': $color_grey_darker,
    'toolbar-color-background': #f2f2f2,
    'typography-color-link-hover': $color_primary_dark,
  )));
  @include meta.load-css('rijkshuisstijl/sass/components/icon/icon', $with: map.merge($base_with, (
  )));
  @include meta.load-css('rijkshuisstijl/sass/components/form/form', $with: map.merge($base_with, (
    // 'input-color-placeholder': $color_grey_darker,
    'typography-color-link-hover': $color_primary_dark,
  )));
  @include meta.load-css('rijkshuisstijl/sass/components/form/input', $with: map.merge($base_with, (
    // 'input-color-placeholder': $color_grey_darker,
    'typography-color-link-hover': $color_primary_dark,
  )));
  @include meta.load-css('rijkshuisstijl/sass/components/form/select', $with: map.merge($base_with, (
    // 'input-color-placeholder': $color_grey_darker,
    'typography-color-link-hover': $color_primary_dark,
  )));
  @include meta.load-css('rijkshuisstijl/sass/components/toolbar/toolbar', $with: map.merge($base_with, (
    'toolbar-color-background': #f2f2f2,
    'typography-color-link-hover': $color_primary_dark,
  )));
  @include meta.load-css('rijkshuisstijl/sass/components/paginator/paginator', $with: map.merge($base_with, (
    'typography-color-link-hover': $color_primary_dark,
  )));

  .datagrid input::placeholder {
    opacity: 1;
  }

  .datagrid .input--contrast {
    background-color: $color_grey_light!important;
  }

  .datagrid__cell {
    padding: calc(22px - .75em) 6px;
  }

  @include tablet {
    .datagrid .datagrid__header {
      position: absolute;
      top: -92px;
      right: 0;
    }

    .datagrid__caption:first-child,
    .datagrid__filter:first-child,
    .datagrid__cell:first-child {
      padding-left: 0!important;
    }

    .datagrid__header .toolbar:last-child,
    .datagrid__caption:last-child,
    .datagrid__filter:last-child,
    .datagrid__cell:last-child {
      padding-right: 0!important;
    }
  }
}
