{% load i18n %}

{% if not product.referentie_product.product_aanwezig %}
    <div class="notifications">
        <div class="notifications__notification notification__accent">
            <i class="fas fa-info-circle"></i>
            <span>{% trans "Dit product is van de productenlijst verwijderd. Uw product is nog zichtbaar omdat u deze in het verleden heeft toegevoegd aan uw catalogus maar zal niet meer getoond worden op de Nationale Portalen." %}</span>
            <span></span>
        </div>
    </div>
{% endif %}
