{% load i18n %}

{% if latest_active_version %}
    {% if latest_active_version.product_aanwezig %}
    {% elif latest_active_version.product_aanwezig == False %}
        <div class="notifications__notification notification__info">
            <i class="fas fa-info-circle"></i>
            <span>{% trans "U heeft aangegeven dat u dit product niet aanbiedt." %}</span>
            <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
        </div>
    {% elif latest_active_version.product_aanwezig == None %}
        <div class="notifications__notification notification__accent">
            <i class="fas fa-info-circle"></i>
            <span>{% trans "U heeft nog niet aangegeven of u dit product aanbiedt." %}</span>
            <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
        </div>
    {% endif %}
{% endif %}

{% with status=most_recent_version.current_status %}
    {% if latest_active_version == most_recent_version %}
    {% elif not most_recent_version %}
        <div class="notifications__notification notification__accent">
            <i class="fas fa-info-circle"></i>
            <span>{% trans "Er is nog geen producttekst gepubliceerd." %}</span>
            <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
        </div>
    {% elif status == product.status.CONCEPT %}
        <div class="notifications__notification notification__info notifications__close">
            <i class="fas fa-info-circle"></i>
            <span>{% trans "Er is een concept producttekst aanwezig. Klik op wijzigen om deze te bewerken. Hieronder ziet u de huidige gepubliceerde producttekst, indien aanwezig." %}</span>
            <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
        </div>
    {% elif status == product.status.SCHEDULED %}
        <div class="notifications__notification notification__info">
            <i class="fas fa-info-circle"></i>
            *******{{ most_recent_version }}**********
            {% blocktrans with pubdate=most_recent_version.publicatie_datum %}
                <span>Er staat een toekomstige producttekst klaar om gepubliceerd te worden op {{ pubdate }}. Hieronder ziet u de huidige producttekst.</span>
            {% endblocktrans %}
            <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
        </div>
    {% endif %}
{% endwith %}
