{% load i18n %}

{% with status=object.current_status %}
    <div class="notifications__notification notification__info">
        <i class="fas fa-info-circle"></i>
        {% if status == product.status.PUBLISHED %}
            <span>{% trans "U bewerkt een reeds gepubliceerde producttekst. Als u deze opslaat wordt een nieuwe versie aangemaakt." %}</span>
        {% elif status == product.status.CONCEPT %}
            <span>{% trans "U bewerkt een concept product tekst." %}</span>
        {% elif status == product.status.SCHEDULED %}
            {% blocktrans with publication_date=object.publicatie_datum %}
                <span>U bewerkt een producttekst die ingepland staat om gepubliceerd te worden op {{ publication_date }}. Aanpassingen overschrijven deze ingeplande publicatie.</span>
            {% endblocktrans %}
        {% endif %}
        <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
    </div>
{% endwith %}
