{% load i18n %}

{% if product.product_aanwezig %}
{% elif product.product_aanwezig is False %}
    <div class="notifications__notification notification__info">
        <i class="fas fa-info-circle"></i>
        <span>{% trans "U heeft aangegeven dat u dit product niet aanbiedt." %}</span>
        <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
    </div>
{% elif product.product_aanwezig is None %}
    <div class="notifications__notification notification__accent">
        <i class="fas fa-info-circle"></i>
        <span>{% trans "U heeft nog niet aangegeven of u dit product aanbiedt." %}</span>
        <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
    </div>
{% endif %}

{% with status=object.current_status %}
    <div class="notifications__notification notification__info">
        <i class="fas fa-info-circle"></i>
        {% if status == product.status.PUBLISHED %}
            <span>{% trans "U bewerkt een reeds gepubliceerde producttekst. Als u deze opslaat wordt een nieuwe versie aangemaakt." %}</span>
        {% elif status == product.status.CONCEPT %}
            <span>{% trans "U bewerkt een concept product tekst." %}</span>
        {% elif status == product.status.SCHEDULED %}
            {% blocktrans %}
                <span>U bewerkt een producttekst die ingepland staat om gepubliceerd te worden op {{ object.publicatie_datum }}. Aanpassingen overschrijven deze ingeplande publicatie.</span>
            {% endblocktrans %}
        {% endif %}
        <a class="notifications__close" href="#">{% trans "Sluiten" %}</a>
    </div>
{% endwith %}
