{% load markdownify %}

{% if not field.value %}
    <span class="dark">—</span>
{% elif field.is_text %}
    {{ field.value|markdownify }}
{% elif field.is_date %}
    {{ field.value|date }}
{% elif field.is_boolean %}
    {{ field.value|yesno:"Ja,Nee,Onbekend" }}
{% elif field.is_dynamicarray %}
    <ul>
        {% for item in field.value %}
            <li>
                <a href="{{ item.1 }}" target="_blank">{{ item.0 }}</a>
            </li>
        {% endfor %}
    </ul>
{% elif field.is_array %}
    <ul>
        {% for item in field.value %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% else %}
    {{ field.value }}
{% endif %}
