{% load i18n %}

{% if name == "times" %}
    <i class="fas fa-times red"
       title="{% trans "Product niet gepubliceerd, u voldoet niet aan de SDG verordening." %}"></i>
{% elif name == "exclamation" %}
    <i class="fas fa-exclamation accent"
       title="{% trans "De standaardtekst is gewijzigd, controleer uw specifieke tekst." %}"></i>
{% elif name == "minus" %}
    {% blocktrans %}
        <i class="fas fa-minus green" title="Mijn {{ org_type_cfg.name }} voert dit product niet."></i>
    {% endblocktrans %}
{% elif name == "check" %}
    {% blocktrans %}
        <i class="fas fa-check green" title="Mijn {{ org_type_cfg.name }} heeft dit product beschikbaar."></i>
    {% endblocktrans %}
{% endif %}

