{% load i18n %}

<div class="legend">
    <div class="legend__header">
        <span>{% trans "Icoon" %}</span>
        <span>{% trans "Beschrijving" %}</span>
    </div>
    <div class="legend__content">
        <div class="text-center"><i class="fas fa-times red"></i></div>
        <span>{% trans "Product niet gepubliceerd, u voldoet niet aan de SDG verordening." %}</span>
        <div class="text-center"><i class="fas fa-exclamation accent"></i></div>
        <span>{% trans "De standaardtekst is gewijzigd, controleer uw specifieke tekst." %}</span>
        <div class="text-center"><i class="fas fa-minus green"></i></div>
        <span>{% trans "Mijn gemeente voert dit product niet." %}</span>
        <div class="text-center"><i class="fas fa-check green"></i></div>
        <span>{% trans "Mijn gemeente heeft dit product beschikbaar." %}</span>
    </div>
</div>
