{% load i18n %}

<tr class="revision-list">
    <td class="tabs__table-cell">
        <strong class="revision-list__item--user">
            <i class="fa fa-user"></i>
            {{ version.gemaakt_door|default:"Systeem" }}
        </strong>
    </td>
    <td class="tabs__table-cell">
        <li class="revision-list__item">
            <span class="tabs__table-cell--value">
                <strong data-date="{{version.gewijzigd_op|date:"c"}}">{{ version.gewijzigd_op }}</strong>
                <span>—</span>
                <strong>{% trans "versie" %} {{version.versie}} {% if not version.publicatie_datum %}(concept){% endif %}</strong>
                <span>{% trans "gewijzigd" %}</span>
                {% if version.publicatie_datum %}
                <span>—</span>
                <span>Gepubliceerd op </span>
                {% blocktrans with publication_date=version.publicatie_datum %}
                    <strong>{{ publication_date }}.</strong>
                    {% endblocktrans %}
                {% endif %}
            </span>
            
            <span>
            </span>
        </li>
        {% if version.interne_opmerkingen %}
            <li class="revision-list__remarks" title="{% trans 'Interne opmerkingen' %}">
                <i class="fa fa-note-sticky fa-xs"></i>
                <span>{{ version.interne_opmerkingen }}</span>
            </li>
        {% endif %}
        {% if version.bewerkte_velden %}
            <li class="revision-list__edited-fields" title="{% trans 'Bewerkte velden' %}">
                {% include 'producten/_include/productversie_bewerkte_velden.html' %}
            </li>
        {% endif %}
    </td>
</tr>
