{% load i18n %}

<div class="tabs__tab-header">
    <div class="tabs__status">
        <span class="tabs__status-label">{% trans "Status" %}:</span>
        {% with status=latest_active_version.current_status %}
            {% if status == "now" %}
                <div class="tabs__status-published">
                    <i class="fas fa-calendar-check"></i>
                    <span class="tabs__status-label--result">{% trans "gepubliceerd" %}</span>
                </div>
            {% elif status == "concept" %}
                <div class="tabs__status-concept">
                    <i class="fas fa-calendar-minus"></i>
                    <span class="tabs__status-label--result">{% trans "concept" %}</span>
                </div>
            {% else %}
                <div class="tabs__status-unpublished">
                    <i class="fas fa-calendar-times"></i>
                    <span class="tabs__status-label--result">{% trans "ongepubliceerd" %}</span>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div>
        <a class="button"
           href="{% url 'organisaties:catalogi:producten:edit' pk=lokaleoverheid.pk catalog_pk=product.catalogus.pk product_pk=product.pk %}">
            {% trans "Wijzigen" %}
            {% if product.product_aanwezig %}
                <i class="fa fa-sm fa-check text-accent" title="Dit product is beschikbaar."></i>
            {% else %}
                <i class="fa fa-sm fa-times text-accent" title="Dit product is niet beschikbaar."></i>
            {% endif %}
        </a>
    </div>
</div>
<hr class="divider">
