@import "colors";
@import '~microscope-sass/lib/animation';

.button {
  --main-color: #{$color_accent};
  --shadow-color: #{$color_accent_dark};
  --text-color: #{$color_grey_darkest};
  --shadow-size: 4px;

  background-color: var(--main-color);
  color: var(--text-color);
  padding: 20px;
  box-shadow: 0 var(--shadow-size) 0 var(--shadow-color);
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  transition: transform 150ms, box-shadow 100ms;
  border: 0;
  cursor: pointer;

  &[disabled] {
    --text-color: #{$color_grey_dark};
    pointer-events: none;
  }

  &:hover {
    transform: translateY(-1px);
    --shadow-size: 5px;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }

  &--active {
    font-weight: bold;
  }

  &--small {
    padding: 2px 20px;
    margin-top: 0px;
    --shadow-size: 1px;

    &:active {
      transform: translateY(1px);
    }

    &:hover {
      --shadow-size: 2px;
    }
  }

  &.button--secondary {
    --main-color: #396a88;
    --shadow-color: #23485C;
    color: #fff;
  }

  &.button--light {
    --main-color: #{$color_secondary_light};
    --shadow-color: #{$color_secondary-dark};
  }

  .svg-inline--fa {
    @include animate;
    color: var(--text-color);
    margin: 0 4px;
  }
}
