@import "colors";

.button {
  --main-color: #FFBC2C;
  --shadow-color: #c79529;
  --shadow-size: 4px;
  background-color: var(--main-color);
  color: #000;
  padding: 20px;
  box-shadow: 0 var(--shadow-size) 0 var(--shadow-color);
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  transition: transform 150ms, box-shadow 100ms;
  border: 0;
  cursor: pointer;

  .svg-inline--fa {
    color: $color_accent_darkest;
    margin-left: 4px;
  }

  &:hover {
    transform: translateY(-1px);
    --shadow-size: 5px;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }

  &--small {
    @extend .button;
    padding: 2px 20px;
    margin-top: 0px;
    --shadow-size: 2px;

    &:hover {
      --shadow-size: 3px;
    }
  }

  &.button--light {
    --main-color: #e0e3ea;
    --shadow-color: #b5b6bb;
  }
}
