@import "colors";
@import '~microscope-sass/lib/animation';

.button {
  --icon-spacing: 4px;
  --3d-active: 4px;
  --3d-hover: -1px;
  --label-color: #{$color_grey_darkest};;
  --main-color: #{$color_accent};
  --shadow-color: #{$color_accent_dark};
  --shadow-size: 4px;
  --shadow-size-hover: 5px;
  --spacing: 10px;
  --padding-h: 20px;
  --padding-v: 20px;
  --default-font-size: 13.3333px;

  background-color: var(--main-color);
  color: var(--label-color);
  padding: var(--padding-h) var(--padding-v);
  box-shadow: 0 var(--shadow-size) 0 var(--shadow-color);
  display: inline-block;
  margin-top: var(--spacing);
  text-decoration: none;
  transition: transform 150ms, box-shadow 100ms;
  border: 0;
  cursor: pointer;
  font-size: var(--default-font-size);

  &[disabled] {
    --label-color: #{$color_grey_dark};
    pointer-events: none;
  }

  &:hover {
    --shadow-size: var(--shadow-size-hover)!important;
    transform: translateY(var(--3d-hover));
  }

  &:active {
    --shadow-size: 0!important;
    transform: translateY(var(--3d-active));
  }

  &--active {
    font-weight: bold;
  }

  &--inactive {
    font-weight: normal !important;
  }

  &--small {
    --3d-active: 1px;
    --padding-h: 2px;
    --shadow-size: 1px;
    --shadow-size-hover: 2px;
    --spacing: 0;
  }

  &--extra-small {
    --3d-active: 1px;
    --icon-spacing: 0;
    --padding-h: 2px;
    --padding-v: 2px;
    --shadow-size: 1px;
    --shadow-size-hover: 2px;
    --spacing: 0;
  }

  &--medium {
    --shadow-size: 1px;
    --shadow-size-hover: 2px;
    --padding-h: .5rem;
    --padding-v: .5rem;
    height: min-content;
  }

  &.button--light {
    --main-color: #{$color_secondary_light};
    --shadow-color: #{$color_secondary-dark};
  }


  &.button--secondary {
    --main-color: #396a88;
    --shadow-color: #23485C;
    --label-color: #{$color_secondary_lightest};
  }

  &.button--transparent {
    --main-color: transparent;
    --shadow-color: #{$color_grey};
    --shadow-size: 0;
    --shadow-size-hover: 1px;
  }

  .svg-inline--fa {
    @include animate;
    color: var(--label-color);
    margin: 0 var(--icon-spacing);
  }

}
