@import "colors";

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;

  .cards__card {
    padding: 32px;
    background-color: $color_secondary;
    border-radius: 10px;
    color: $color_secondary_darkest;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
