@import 'colors';

$pretty--color-primary: $color_primary;
@import '~pretty-checkbox/src/pretty-checkbox.scss';


.pretty input[disabled] ~ * {
  opacity: 0.8;
}

.state {
  label {
    &:before,
    &:after {
      background-color: #fff !important;
    }
  }
}

.pretty.p-default.p-curve {
    display: block;
}
