$color_primary_light: #D5E2EA;
$color_primary: #396a88;

$color_secondary: #e2e2ee;
$color_secondary_darkest: #4f4f67;

$color_accent: #ffbc2c;
$color_accent_dark: #c79529;

$color_grey_light: #e0e0e0;
$color_grey_dark: #b5b6bb;
$color_grey_darkest: #212121;


.primary {
  color: $color_primary !important;
}

.accent {
  color: $color_accent !important;
}

.dark {
  color: $color_grey_dark !important;
}
