@import 'colors';

.diff:hover {
  cursor: pointer;

  & > svg {
    color: $color_primary_light !important;
  }
}


del {
  background-color: #ead5d5;
  color: $color_red;
  border: 1px solid #e3a5a5;
}

ins {
  background-color: #2eff6e30;
  color: $color_green;
  border: 1px solid #acdcc2;
}
