@import 'colors';

.diff :first-of-type {
  margin-top: 15px;
}

.diff:hover {
  cursor: pointer;

  & > svg {
    color: $color_primary_light !important;
  }
}


del {
  background-color: #ead5d5;
  color: $color_red;
  border: 1px solid #e3a5a5;
}

ins {
  background-color: #cdf5da;
  color: $color_green;
  border: 1px solid #acdcc2;
}
