@import 'colors';

.dynamic {

  .dynamic__container {

    .form__input {
      width: 93%;

      &--left {
        width: 32% !important;
      }

      &--right {
        width: 68% !important;
      }

    }

    .dynamic__container__button {
      border: none;
      padding: 6px;
      cursor: pointer;

      &--side {
        @extend .dynamic__container__button;
        background-color: transparent;
        position: relative;
        right: 24px;
        color: $color_secondary_darkest;
      }
    }

  }

}
