@import 'colors';

.footer {
  background-color: #fff;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -120px;

  &__side {
    width: 512px;
    display: flex;
    align-items: center;
    
    &--left {
      justify-content: flex-start;
    }
    
    &--right{
      justify-content: flex-end;
    }
  }

  &__link {
    text-decoration: none;
    color: $color_primary;

    &:hover {
      color: $color_primary_lighter;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__logo {
    margin-left: 8px;
    height: 42px;
  }
}
