@import "general";

.form {
  padding: 28px 0;

  .form__group {
    display: flex;
    flex-direction: column;
    border: 0;
    margin-bottom: 24px;
  }

  .form__label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .form__input {
    border: 1px solid #dfdfdf;
    padding: 12px;
    outline: none;
    font-size: 16px;
    width: 100%;
  }

  .form__block-group {
    background-color: #e2e2ee;
    border-radius: 15px;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
  }

  .form__table {
    display: grid;
    grid-template-columns: 95px 1fr;
    grid-gap: 8px;
    align-items: center;
  }

  .form__table-header {
    text-transform: uppercase;
    font-weight: bold;
  }

  .form__subtitle {
    padding: 16px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .form__subforms {
    margin-bottom: 32px;
  }

  .form__help-text {
    margin-top: 4px;
    font-size: 14px;
    color: #666;
  }

  .form__delete {
    color: #396a88;
  }

  .form__add-subform {
    color: #0B71A1;
    margin: 16px 0;
    cursor: pointer;
  }

  .form__actions {
    display: flex;
    align-items: center;
  }

  .form__action-help {
    font-size: 14px;
    color: #666;
  }

  .form__action-button {
    margin-right: 16px;
  }

  .form__buttons-link {
    margin-left: 16px;
  }

  .errorlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;

    li {
      background-color: $color_grey_dark;
      color: #fff;
      padding: 8px;
    }
  }
}
