@import 'colors';

.form {
  padding: 28px 0;

  .form__cell {
    ol,
    ul,
    li {
      margin: 1em 1em;
    }
  }

  .form__group {
    display: flex;
    flex-direction: column;
    border: 0;
    margin-bottom: 24px;

    &--pad {
      border: 0;
      padding-bottom: 8px;
    }

    &--nopad {
      border: 0;
    }

  }

  .form__label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .form__input {
    border: 1px solid #dfdfdf;
    padding: 12px;
    outline: none;
    font-size: 16px;
    width: 100%;

    &--disabled {
      background-color: $color_grey_light;
    }
  }

  .form__block {
    width: 425px;
  }

  .form__block-inline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__block-group {
    background-color: $color_secondary;
    border-radius: 15px;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 24px;
  }

  .form__table {
    display: grid;
    grid-template-columns: 95px 1fr;
    grid-gap: 8px;
    align-items: center;
  }

  .form__table-header {
    text-transform: uppercase;
    font-weight: bold;
  }

  .form__table-header-left {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .form__subtitle {
    padding: 16px 16px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .form__forms {
    width: 62%;
    padding-bottom: 48px;
  }

  .form__subforms {
    margin-bottom: 32px;
    color: $color_secondary_darkest;

    .form__help-text {
      color: $color_secondary_darker;
    }

    .formset__remove {
      text-decoration: none;
    }

  }

  .form__help-text {
    margin-top: 4px;
    font-size: 14px;
    color: #666;
  }

  .form__delete {
    color: #396a88;
  }

  .form__add-subform {
    color: #0B71A1;
    margin: 16px 0;
    cursor: pointer;
  }

  .form__actions {
    display: flex;
    align-items: center;
  }

  .form__action-help {
    font-size: 14px;
    color: #666;
  }

  .form__action-button {
    margin-right: 16px;
  }

  .form__buttons {
    margin-top: 24px;

    &-link {
      margin-left: 16px;
    }

  }

  .errorlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;

    li {
      color: $color_accent_darker;
      background-color: $color_accent_light;
      padding: 8px;
      list-style: none;
    }
  }
}
