.form-actions {
  display: grid;
  grid-template-columns: 1fr;
  margin: 32px 0;

  .form-actions__title {
    color: #333;
    margin-bottom: 24px;
  }

  .form-actions__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
