@import 'colors';

.form {
  &__control {
    border-bottom: 1px solid #e0e0e0;
    display: grid;
    grid-template-areas: "hdr bdy"
                         "hdr ftr";
    grid-template-columns: 28% auto;
    grid-template-rows: auto auto;
    padding: 12px 0;
  }

  &__control[aria-hidden="true"],
  .svg-inline--fa[aria-hidden="true"] {
    display: none;
    visibility: hidden;
  }

  &__control-header {
    grid-area: hdr;
  }

  &__control-header &__label {
    align-items: center;
    display: flex;
  }

  &__control-header .svg-inline--fa {
    margin: 0 4px;
  }

  &__language-switch .svg-inline--fa {
    color: $color_red!important;
  }

  &__control-body {
    display: flex;
    grid-area: bdy;
    flex-direction: column;
    width: 100%;
  }

  &__control-footer {
    grid-area: ftr;
  }
}

// DEPRECATED
.form {

  .form__cell {

    ol,
    ul,
    li {
      margin: 1em 1em;
    }
  }

  .form__group {
    display: flex;
    flex-direction: column;
    border: 0;
    margin-bottom: 24px;

    &--pad {
      border: 0;
      padding-bottom: 8px;
    }

    &--nopad {
      border: 0;
    }

  }

  .form__label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .form__input {
    border: 1px solid #dfdfdf;
    padding: 12px;
    outline: none;
    font-size: 16px;
    width: 100%;
    min-height: 57px;

    &[disabled],
    &[readonly]:not(.flatpickr-input),
    &--disabled {
      background-color: $color_grey_lightest;
    }

    &[disabled]::placeholder,
    &[readonly]::placeholder {
      color: transparent;
    }
  }

  .form__block {
    width: 425px;
  }

  .form__block-inline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__block-group {
    border: 1px solid $color_secondary;
    background-color: $color_secondary_lightest;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;

    & > div {
      padding: 24px;
    }
  }

  .form__table {
    display: grid;
    grid-template-columns: 95px 1fr;
    grid-gap: 8px;
    align-items: center;

    &:not(.form__special-group) {
      border-left: 1px solid $color_secondary;
    }

    &.form__special-group {
      .form__help-text {
        display: none;
      }
    }

  }

  .form__table-header {
    text-transform: uppercase;
    font-weight: bold;
  }

  .form__table-header-left {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .form__subtitle {
    padding: 16px 16px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .form__forms {
    width: 62%;
    padding: 8px 0;
  }

  .form__subforms {
    margin-bottom: 32px;
    color: $color_secondary_darkest;

    .form__help-text {
      color: $color_secondary_darker;
    }

    .formset__remove {
      text-decoration: none;
    }

  }

  .form__help-text {
    margin-top: 4px;
    font-size: 14px;
    color: #666;
  }

  .form__delete {
    color: #396a88;
  }

  .form__add-subform {
    color: #0B71A1;
    cursor: pointer;
    margin-bottom: 42px;
    margin-left: 16px;
  }

  .form__actions {
    display: flex;
    align-items: center;
  }

  .form__action-help {
    font-size: 14px;
    color: #666;
  }

  .form__action-button {
    margin-right: 16px;
  }

  .form__buttons {

    &-link {
      margin-left: 16px;
    }
  }

  .errorlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;

    li {
      color: $color_red;
      background-color: lighten($color_red, 36%);
      padding: 14px;
      list-style: none;

      &::before {
        content: "" !important;
      }
    }
  }
}
