$color_primary_light: #D5E2EA;
$color_primary: #396a88;

$color_accent: #ffbc2c;

$color_grey_light: #e0e0e0;
$color_grey_dark: #b5b6bb;
$color_grey_darkest: #212121;


.markdownx-preview {
  float: right;
}

.primary {
  color: $color_primary !important;
}

.accent {
  color: $color_accent !important;
}

.dark {
  color: $color_grey_dark !important;
}

.divider {
  border: none;
  margin: 32px 0;
  border-bottom: 4px dotted $color_grey_dark;
}
