$color_primary: #396a88;

$color_accent: #ffbc2c;

$color_lightgrey: #e0e0e0;
$color_darkgrey: #b5b6bb;

.markdownx-preview {
  float: right;
}

.primary {
  color: $color_primary !important;
}

.accent {
  color: $color_accent !important;
}

.dark {
  color: $color_darkgrey !important;
}

.divider {
  border: none;
  margin: 32px 0;
  border-bottom: 4px dotted $color_lightgrey;
}
