@import 'colors';

.header {
  width: 100%;
  background: rgb(57, 106, 136);
  background: linear-gradient(353.15deg, #002337 -68.3%, #4C85A6 179.94%);
  padding: 24px 0 53px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  &.header--inset {
    padding-bottom: 88px;
  }

  .header__top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .header__user {
    display: flex;
    align-items: center;
    text-transform: capitalize;

    & > .svg-inline--fa {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $color_primary_lightest;
      color: $color_primary;
      padding-top: 4px;
      overflow: hidden;
      margin-right: 8px;
      border: 3px solid $color_secondary_dark;
      z-index: 1;

      path {
        color: $color_primary;
      }
    }
  }

  .header__username {
    background-color: $color_primary_darker;
    position: relative;
    right: 30px;
    border-radius: 84px;
    padding: 10px 40px;
    text-align: center;
  }

  .header__title {
    color: $color_secondary_dark;
    font-size: 40px;

    .switch-icon {
      color: $color_accent;
      margin-left: 8px;
    }

    a:hover svg {
      color: $color_accent_dark;
      transition: all 0.3s ease-in-out;
    }

  }

  .header__subtitle {
    color: $color_secondary_darker;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .header__dropdown {
    position: relative;
    padding: 12px;
    color: #fff;

    .svg-inline--fa:hover {
      transform: scale(1.05);
    }

    &:hover {
      .header__dropdown-list {
        opacity: 1;
      }
    }
  }

  .header__dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $color_primary_darker;
    color: #fff;
    opacity: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    a {
      color: $color_primary_lighter;
    }

    .svg-inline--fa {
      float: left;
      margin-top: 2px;
      margin-right: 8px;
    }

  }

  .header__dropdown-action {
    padding: 12px;
    display: block;
    text-align: left;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
