.header {
  height: 390px;
  width: 100%;
  background: rgb(57,106,136);
  background: linear-gradient(120deg, rgba(57,106,136,1) 0%, rgba(24,68,95,1) 100%);
  padding: 50px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  &.header--inset {
    padding-bottom: 150px;
  }

  .header__top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .header__logo {
    height: 100%;
  }

  .header__user {
    color: #8eaec7;
    display: flex;
    align-items: center;

    .svg-inline--fa {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #e2ebf2;
      color: #9d9b9e;
      padding-top: 4px;
      overflow: hidden;
      margin-right: 8px;
    }
  }

  .header__title {
    color: #fff;
    font-size: 24px;
  }

  .header__subtitle {
    color: #fff;
    font-size: 14px;
    margin-bottom: 8px;
  }
}
