.header {
  height: 390px;
  width: 100%;
  background: rgb(57,106,136);
  background: linear-gradient(120deg, rgba(57,106,136,1) 0%, rgba(24,68,95,1) 100%);
  padding-bottom: 150px;
  align-items: flex-end;
  display: flex;

  .header__title {
    color: #fff;
    font-size: 24px;
  }
}
