@import 'colors';

.header {
  height: 390px;
  width: 100%;
  background: rgb(57,106,136);
  background: linear-gradient(353.15deg, #002337 -68.3%, #4C85A6 179.94%);
  padding: 50px 0 53px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  &.header--inset {
    padding-bottom: 88px;
  }

  .header__top {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .header__user {
    display: flex;
    align-items: center;
    text-transform: capitalize;

    &>.svg-inline--fa {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: $color_primary_lightest;
      color: $color_primary;
      padding-top: 4px;
      overflow: hidden;
      margin-right: 8px;
      border: 3px solid $color_secondary_dark;

      path {
        color: $color_primary;
      }
    }
  }

  .header__title {
    color: #fff;
    font-size: 32px;
  }

  .header__subtitle {
    color: #fff;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .header__dropdown {
    position: relative;
    padding: 12px;
    color: #fff;

    &:hover {
      .header__dropdown-list {
        display: block;
      }
    }
  }

  .header__dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    border-radius: 10px;

    .svg-inline--fa {
      float: left;
      margin-top: 2px;
      margin-right: 3px;
    }

  }

  .header__dropdown-action {
    padding: 12px;
    display: block;
    text-align: right;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
