@import 'colors';

.legend {
  margin-top: 64px;
  min-height: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .legend__header {
    display: grid;
      grid-template-columns: 1fr 9fr;
      width: 62%;
      text-align: center;
      background-color: #396A88;
      border-bottom: 3px solid $color_primary_darker;
      color: $color_grey_lightest;
      padding: 6px;
  }

  .legend__content {
    background-color: $color_grey_lightest;
    border-bottom: 4px solid $color_grey_light;
    padding: 18px;
    width: 62%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 9fr;
    grid-gap: 24px;

    .legend__content__item {
      display: grid;
      grid-template-columns: 1fr 6fr;
    }

  }

}
