@import 'colors';

.login {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  .login__left {
    background: hsl(var(--color-theme-hue), 41%, 38%);
    background: linear-gradient(180deg, var(--color-theme-bg) 0%, var(--color-theme-bg-dark) 100%);
    padding: 202px 125px 125px 125px;
    text-align: center;
    overflow: hidden;
    position: relative;

    .login__background-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  .login__right {
    background-color: #f5f5f5;
    padding: 75px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .login__container {
    width: 425px;

    form {
      padding: 32px 0;

      .button-row {
        margin-top: -16px;
      }
    }
  }

  .login__container-title {
    color: #000;
    font-size: 30px;
    margin-bottom: 16px;
  }

  .login__container-info {
    color: #000;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .login__button {

    .svg-inline--fa {
      margin-left: 6px;
      color: $color_accent_darkest;
    }

  }

  .divider {
    margin: 48px 0;
  }

  .login__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: -24px;

    a {
      text-decoration: none;
    }

    &--logo {
      height: 42px;
      margin-top: 16px;
    }

  }

  .login__backup {
    margin-bottom: 26px;

    .link {
        background: none;
        border: none;
        padding: 0;
        color: #069;
        text-decoration: underline;
        cursor: pointer;
    }
  }
}
