.login {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;

  .login__left {
    background: rgb(57,106,136);
    background: linear-gradient(180deg, rgba(57,106,136,1) 0%, rgba(24,68,95,1) 100%);
    padding: 125px;
    text-align: center;

    .login__title {
      font-size: 65px;
      color: #fff;
      margin: 0;
    }

    .login__subtitle {
      font-size: 16px;
      color: #fff;
      margin: 0;
    }
  }

  .login__right {
    background-color: #f5f5f5;
    padding: 75px;
    display: flex;
    align-items: center;
  }

  .login__container-title {
    color: #000;
    font-size: 30px;
    margin-bottom: 16px;
  }

  .login__container-info {
    color: #000;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .login__button {
    background-color: #febe29;
    color: #000;
    padding: 20px;
    box-shadow: 0 4px 0 #b69341;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    transition: transform 150ms, box-shadow 150ms;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 5px 0 #b69341;
      // background-color: darken(#febe29, 20);
    }

    &:active {
      transform: translateY(4px);
      box-shadow: none;
    }
  }
}
