.notifications {
  display: grid;
  grid-template-columns: 1fr;
  width: 60%;
  grid-gap: 16px;
  margin-bottom: 32px;

  .notifications__notification {
    border-left: 5px solid #1d637c;
    background-color: #d7e7e7;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .fa-info-circle,
    a {
      color: #1d6888;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
