.notifications {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 100%;

  &.notifications--inline {
    width: 60%;
    margin-bottom: 32px;
  }

  .notifications__notification {
    border-left: 5px solid #0B71A1;
    background-color: #D5E2EA;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .fa-info-circle,
    a {
      color: #0B71A1;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
