@import 'colors';

.notifications {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 100%;

  &.notifications--inline {
    width: 60%;
    margin-bottom: 16px;
  }

  .notifications__notification {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;

    &:last-child {
      margin-bottom: 32px;
    }

    .fas, a {
      font-weight: bold;
      text-decoration: none;
    }

    .svg-inline--fa {
      margin-right: 10px;
    }

    &.notification__info
    {
      border-left: 5px solid #0B71A1;
      background-color: $color_primary_lightest;

      .svg-inline--fa,
      a {
        color: #0B71A1;
      }
    }

    &.notification__success
    {
      border-left: 5px solid $color_success;
      background-color: $color_success_notification-bg;
      color: $color_success_darkest;

      .svg-inline--fa,
      a {
        color: $color_success_darkest;
      }
    }

    &.notification__error {
      border-left: 5px solid $color_red;
      background-color: lighten($color_red, 36%);
      color: $color_red;

      .svg-inline--fa,
      a {
        color: $color_red;
      }
    }

    &.notification__accent {
      border-left: 5px solid $color_accent;
      background-color: $color_accent_notification-bg;
      color: $color_accent_darkest;

      .svg-inline--fa,
      a {
        color: $color_accent_darkest;
      }
    }


  }
}
