@import 'general';

.notifications {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 100%;

  &.notifications--inline {
    width: 60%;
    margin-bottom: 32px;
  }

  .notifications__notification {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .fas, a {
      font-weight: bold;
      text-decoration: none;
    }

    &.info {
      border-left: 5px solid #0B71A1;
      background-color: $color_primary_light;

      .svg-inline--fa,
      a {
        color: #0B71A1;
      }
    }

    &.grey {
      border-left: 5px solid $color_grey_dark;
      background-color: $color_grey_light;

      .svg-inline--fa,
      a {
        color: $color_grey_darkest;
      }
    }

    &.accent {
      border-left: 5px solid $color_accent;
      background-color: $color_grey_light;

      .fas,
      a {
        color: $color_accent;
      }
    }

  }
}
