@import "colors";

.products {
  .products__title,
  .products__catalog {
    color: $color_primary;
    padding: 16px 0;
  }

  .products__catalog:not(:first-child) {
    padding-top: 32px;
  }

  .products__subtitle {
    font-size: 16px;
    font-weight: 400;
    padding: 24px 16px 16px 16px;
  }

  .products__accordeon-item {
    .fa-angle-up {
      display: none;
    }

    .products__list {
      display: none;
    }

    &.products__accordeon-item--open {
      .fa-angle-up {
        display: inline;
      }

      .fa-angle-down {
        display: none;
      }

      .products__list {
        display: grid;
      }
    }
  }

  .products__accordeon-title {
    border-top: 1px solid #bbb;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
  }

  .products__accordeon-title-info {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-right: 50px;
  }

  .products__list {
    padding-bottom: 16px;
  }

  .products__list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;

    &.products__list-container--add {
      .products__item {
        background-color: #EEEEEE;
      }
    }
  }

  .products__item {
    background-color: $color_secondary_lightest;
    border: 1px solid $color_secondary;
    padding: 16px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 14px 1fr 14px;
    grid-gap: 16px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: $color_grey_darkest;

    .svg-inline--fa {
      color: #9fa2a7;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .products__item-icon {
    display: flex;
    justify-content: flex-end;
  }

  .products__item-title {
    font-weight: bold;
  }

  .products__item-help {
    color: $color_secondary_darkest;
    font-size: 85%;
  }
}
