.products {
  .products__title {
    padding: 16px 0;
  }

  .products__subtitle {
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0;
  }

  .products__accordeon-item {
    .fa-angle-up {
      display: none;
    }
    .products__list {
      display: none;
    }

    &.products__accordeon-item--open {
      .fa-angle-up {
        display: inline;
      }
      .fa-angle-down {
        display: none;
      }
      .products__list {
        display: grid;
      }
    }
  }

  .products__accordeon-title {
    border-top: 1px solid #bbb;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    padding-bottom: 16px;

    &.products__list--add {
      .products__item {
        background-color: #eeeeee;
      }
    }
  }

  .products__item {
    background-color: #e0e3ec;
    padding: 16px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 14px;
    grid-gap: 16px;
    align-items: center;
    cursor: pointer;
    color: #000;
    text-decoration: none;

    .svg-inline--fa {
      color: #9fa2a7;
    }
  }

  .products__item-icon {
    display: flex;
    justify-content: flex-end;
  }

  .products__item-title {
    font-weight: bold;
  }

  .products__item-help {
    color: #9fa2a7;
    font-size: 85%;
  }
}
