@import 'colors';

.reference__display {
  &--versions {
    font-size: 12px;
    margin-top: 4px;
    float: right;

    del,
    ins {
      border-radius: 50px;
      text-decoration: none;
      padding: 4px;
      margin-left: 4px;
      font-weight: bold;
    }
  }

}
