@import 'colors';

.reference__display {

  &--topbar {
    background-color: #d6d6d6;;
    width: 104%;
    right: 12px;
    position: relative;
    bottom: 12px;
    padding: 6px 12px;
  }

  &--versions {
    font-size: 12px;
    margin-top: 4px;
    float: right;

    del,
    ins {
      border-radius: 50px;
      text-decoration: none;
      padding: 1px 16px;
      margin-left: 4px;
    }
  }

}
