@import 'colors';

.revision-list {
  list-style-type: none;
  margin: 0.4em 0;

  .revision-list__item {
    align-items: center;
    padding: 6px 0;
    display: flex;

    & > div {
      margin-right: -20px;
    }

    .svg-inline--fa {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #e2ebf2;
      color: #9d9b9e;
      padding-top: 4px;
      overflow: hidden;
      margin-right: 11px;
      float: left;
      position: relative;
      border: 2px solid $color_primary;
      z-index: 2;
    }

    &--user {
      background-color: $color_primary;
      color: #fff;
      border-radius: 20px;
      padding: 4px 24px;
      position: relative;
      right: 26px;
      z-index: 1;
      top: 11px;
    }

  }
}
