@import "colors";

.roles {
  a {
    text-decoration: none;
    color: $color_primary;
  }

  .roles__control {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 2fr;
  }

}
