@import 'colors';

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-image: none;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $color_grey_light;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 40px;
  border-radius: .25em;
  overflow: hidden;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  background-color: $color_primary_dark;
  color: #fff;
  transition: .25s all ease;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: $color_accent;
}

