@import 'colors';

.container {
  & > .selection {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.144968), 0px 8px 16px rgba(0, 0, 0, 0.121722);
    margin-top: -92px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    margin-bottom: 32px;
    min-height: 284px;
    border-top: 3px solid $color_primary_light;

    .selection__tabs {
      padding: 24px 0;
      border-right: 1px solid #ddd;
    }

    .selection__tab {
      padding: 8px 16px;
      display: block;
      text-decoration: none;
      color: $color_primary;

      &.selection__tab--selected {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: #000;
      }
    }

    .selection__tab-contents {
      border-right: 1px solid #ddd;
    }

    .selection__tab-content {
      display: none;
      grid-template-columns: 1fr 1.5fr;
      padding: 32px;

      &.selection__tab-content--active {
        display: grid;
      }
    }

    .selection__title {
      color: $color_primary;
      margin-top: 8px;
      margin-bottom: 12px;
      border-bottom: 1px solid $color_grey_light;
    }

    .selection__subtitle {
      color: $color_grey_darkest;
      margin-bottom: 4px;
    }

    .selection__subtitle--secondary {
      color: $color_grey_darker;
      margin-bottom: 4px;

      &--last {
        @extend .selection__subtitle--secondary;
        margin-bottom: 12px;
      }

    }


    .selection__information {
      line-height: 1.4;
    }

    .selection__tabled {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4px;
    }

    .selection__general {
      display: flex;
      flex-direction: column;
      padding: 32px;
      justify-content: flex-start;
      position: relative;
    }

    .selection__general-link {
      color: $color_primary_dark;
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      .svg-inline--fa {
        background-color: $color_secondary;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        margin-right: 16px;
      }
    }

    .selection__edit {
      position: absolute;
      bottom: 16px;
      right: 16px;
      color: #0B71A1;
      font-weight: 600;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;

      a {
        text-decoration: none;
      }

      .svg-inline--fa {
        color: #0B71A1;
        margin-right: 6px;
      }

    }

  }
}
