.tabs {
  margin-top: -66px;

  .tabs__tabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 145px));
    grid-gap: 4px;
  }

  .tabs__tab {
    color: #fff;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    transition: background-color 300ms;

    &:hover {
      background-color: rgba(255, 255, 255, .5);
    }

    &.tabs__tab--selected {
      background-color: #f5f5f5;
      color: #396a88;
      text-decoration: none;
    }
  }

  .tabs__tab-content {
    display: none;
    padding: 56px 0;

    &.tabs__tab-content--active {
      display: block;
    }
  }

  .tabs__tab-header {
    padding: 32px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tabs__status {
    display: flex;
  }

  .tabs__status-label {
    margin-right: 16px;
  }

  .tabs__status-display {
    color: #889a82;
  }

  .tabs__table {
    width: 100%;
    border-spacing: 0;
  }

  .tabs__table-header {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #BDBDBD;
    padding: 12px;
    text-transform: uppercase;
  }

  .tabs__table-cell {
    padding: 12px;
    border-bottom: 1px solid #BDBDBD;
    vertical-align: top;
    line-height: 1.5;
    color: #212121;

    &.tabs__table-cell--edit {
      padding-top: 24px;
    }

    &.required {
      color: #333333;
    }

    .svg-inline--fa {
      margin-left: 4px;
    }

    ul {
      padding-left: 32px;
      list-style-type: none;

      li {
        text-indent: -32px;
        line-height: 1.5;
      }

      li:before {
        content: "-";
        margin-right: 27px;
      }
    }

    .form__input {
      width: 100%;
      padding: 12px;
    }
  }

  .tabs__table-edit {
    color: #396a88;
    padding: 16px 0;
    display: block;
    cursor: pointer;

    .svg-inline--fa {
      margin-right: 8px;
    }
  }

  .tabs__form {
    padding: 16px 0;
  }

  .tabs__form-button {
    margin-top: 32px;
  }

  .tabs__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-top: 64px;
  }

  .tabs__footer-title {
    font-size: 24px;
  }

  .tabs__footer-list {
    list-style: none;
  }

  .tabs__footer-list-item {
    padding-bottom: 8px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .tabs__table-help {
    margin-top: 8px;
    display: block;
    text-align: right;
    color: #396a88;
    font-weight: bold;
    text-decoration: none;
  }

  .markdownx textarea {
    width: 100%;
    height: 300px;
  }

  .markdownx-preview {
    display: none;
  }
}
