@import "colors";
@import '~microscope-sass/lib/animation';
@import '~microscope-sass/lib/transform';

.tabs {

  &__table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 48px;

    code {
      font-size: 12px;
      display: block;

      .flag-icon {
        border-radius: 50%;
        background-size: cover;
        height: 14px;
        width: 14px;
      }
    }
  }

  .tabs__subproduct {
    margin-bottom: 94px;
  }

  .tabs__tabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 145px));
    grid-gap: 4px;
  }

  .tabs__tab-header {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tabs__table-header {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #BDBDBD;
    padding: 12px 0;
    text-transform: uppercase;
  }

  .bem-toggle {
    cursor: pointer;
    margin: 0 4px;
  }

  .bem-toggle__icon {
    @include animate;
    @include rotate(90);
    display: inline-block!important; // FIXME
    margin: 0 4px;
    visibility: visible!important; // FIXME
  }

  .tabs__table--hidden .bem-toggle__icon {
    @include rotate(0);
  }

  .tabs__table--hidden .tabs__table-body {
    display: none;
    visibility: hidden;
  }

  .tabs__table-cell {
    padding: 12px 0;
    border-bottom: 1px solid #BDBDBD;
    vertical-align: top;
    line-height: 1.5;
    color: #212121;

    .svg-inline--fa {
      margin: 0 4px;
    }

    &--field {
      min-height: 24px;

      .form__input {
        transition: all 0.3s ease-in-out;
      }
    }

    &--versions {
      display: flex;
      justify-content: end;
      grid-template-columns: 1fr 1fr;
      grid-gap: 6px;
      right: 0;
      top: 0;

      ins, del {
        padding: 4px;
        width: 200px;
        border-radius: 16px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    &--value {
      & > * {
        margin-bottom: 16px;
      }

      table, th, td {
        border: 1px solid $color_grey;
        border-collapse: collapse;
        padding: 6px;
      }

      th {
        background: #0000000d;
      }
    }

    &--label {
      background-color: $color_primary_lightest;
      color: $color_primary_dark;
      border: 1px solid #9dbbcd;
      border-radius: 14px;
      margin: 0 10px;
      padding: 2px 14px;
      font-size: 14px;
    }

    &--edit {
      padding-top: 24px;
    }

    &__content-spacing {
      display: flex;
      gap: 12px;
    }

    &.required {
      color: #333333;
    }

    ol {
      counter-reset: li;
      list-style: none;

      li {
        counter-increment: li;
        display:table-row;
      }

      li:before {
        content: counter(li) '.';
        color: #777;
        width: 16px;
        display: table-cell;
        vertical-align: top;
      }
    }

    ul {
      list-style: none;

      li {
        display:table-row;
      }

      li:before {
        content: "—";
        color: #777;
        width: 16px;
        display: table-cell;
        vertical-align: top;
      }

    }

    .form__input {
      width: 100%;
      padding: 12px;
    }

    .dynamic__container {

      input {
        width: 96%;
      }

      .dynamic__container-add {
        width: auto;
        cursor: pointer;
      }

      .dynamic__container__button {

        &--side {
          @extend .dynamic__container__button;
          background-color: transparent;
          height: 49px;
          position: relative;
          right: 34px;
          margin-right: -34px;
        }

        &--low {
          @extend .dynamic__container__button;
          color: $color_primary !important;
        }

      }

    }

  }

  .tabs__table-edit {
    color: #396a88;
    padding: 16px 0;
    display: block;
    cursor: pointer;

    .svg-inline--fa {
      margin-right: 8px;
    }
  }

  .tabs__form {
    padding: 16px 0;
  }

  .tabs__form-button {
    margin-top: 32px;
  }

  .tabs__footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 64px;
  }

  .tabs__footer-title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .tabs__footer-list {
    list-style: none;
  }

  .tabs__footer-list-item {
    padding: 8px 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .markdownx textarea {
    width: 100%;
    height: 300px;
  }

  .markdownx-preview {
    display: none;
  }

  & > .notifications {
    margin-top: 24px;
  }


  &--inline {

    .tabs__tabs {
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
      grid-template-columns: none;
      position: relative;
      top: 1px;
    }

    .tabs__tab-contents {
      border: 1px solid $color_grey_light;
      margin-top: 0;
      padding: 32px 64px;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;
    }
  }
}
