@import "colors";

.tabs {
  margin-top: -66px;

  .tabs__subproduct {
    margin-bottom: 94px;
  }

  .tabs__tabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(145px, 145px));
    grid-gap: 4px;
  }

  .tabs__tab {
    color: #fff;
    background-color: #285a77;
    padding: 16px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    transition: background-color 300ms;
    text-decoration: none;

    &:hover {
      background-color: hsl(0deg 0% 100% / 20%);
    }

    &.tabs__tab--selected {
      background-color: #f2f2f2;
      color: #396a88;
      text-decoration: none;
    }

    &-contents {
      margin-top: 16px;
    }

  }

  .tabs__tab-content {
    display: none;

    &.tabs__tab-content--active {
      display: block;
    }
  }

  .tabs__tab-header {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .tabs__status {
    display: flex;
  }

  .tabs__status-label {
    margin-right: 16px;
    font-weight: bold;
    color: $color_grey_darkest;
  }

  .tabs__status-label--result {
    margin-left: 4px;
  }

  .tabs__status-published {
    color: $color_primary;
  }

  .tabs__status-unpublished {
    color: $color_accent_dark;
  }

  .tabs__status-concept {
    color: $color_secondary_darkest;
  }

  .tabs__table {
    width: 100%;
    border-spacing: 0;
  }

  .tabs__table-header {
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #BDBDBD;
    padding: 12px 12px 12px 0;
    text-transform: uppercase;
  }

  .tabs__table-cell {
    padding: 12px 12px 12px 0;
    border-bottom: 1px solid #BDBDBD;
    vertical-align: top;
    line-height: 1.5;
    color: #212121;

    &--field {
      .form__input {
        transition: all 0.3s ease-in-out;
      }
    }

    &.form__cell--disabled {
      .tabs__table-cell--field {
        .form__input,
        .ck-editor__main {
          border: 1px solid $color_grey !important;
          background-color: #ebebeb !important;
        }
      }
    }

    &--versions {
      float: right;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 6px;

      ins, del {
        padding: 4px 16px;
        border-radius: 16px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
      }
    }

    &--tools {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 12px;
      margin-top: 14px;

      a {
        margin-left: 18px;
      }
    }

    &--value {
      br {
        display: none;
      }

      table, th, td {
        border: 1px solid $color_grey;
        border-collapse: collapse;
        padding: 6px;
      }
    }

    &--label {
      background-color: $color_primary_lightest;
      color: $color_primary_dark;
      border: 1px solid #9dbbcd;
      border-radius: 14px;
      margin: 0 10px;
      padding: 2px 14px;
      font-size: 14px;
    }

    &--edit {
      padding-top: 24px;
    }

    &.required {
      color: #333333;
    }

    .svg-inline--fa {
      margin: 0 4px;
      color: $color_primary_darker;
    }

    ul,
    ol,
    li {
      list-style-type: none;
      margin: 8px 0;

      li {
        line-height: 1.5;
      }

      li:before {
        content: "—";
        margin-right: 8px;
      }
    }

    .form__input {
      width: 100%;
      padding: 12px;
    }

    .dynamic__container {

      input {
        width: 96%;
      }

      .dynamic__container-add {
        width: auto;
        cursor: pointer;
      }

      .dynamic__container__button {

        &--side {
          @extend .dynamic__container__button;
          background-color: transparent;
          height: 49px;
          position: relative;
          right: 34px;
          margin-right: -34px;
        }

        &--low {
          @extend .dynamic__container__button;
          color: $color_primary !important;
        }

      }

    }

  }

  .tabs__table-edit {
    color: #396a88;
    padding: 16px 0;
    display: block;
    cursor: pointer;

    .svg-inline--fa {
      margin-right: 8px;
    }
  }

  .tabs__form {
    padding: 16px 0;
  }

  .tabs__form-button {
    margin-top: 32px;
  }

  .tabs__footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-top: 64px;
  }

  .tabs__footer-title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .tabs__footer-list {
    list-style: none;
  }

  .tabs__footer-list-item {
    padding: 8px 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .tabs__table-help {
    margin-top: 8px;
    display: block;
    text-align: right;
    color: #396a88;
    font-weight: bold;
    text-decoration: none;
  }

  .markdownx textarea {
    width: 100%;
    height: 300px;
  }

  .markdownx-preview {
    display: none;
  }

  & > .notifications {
    margin-top: 24px;
  }


  &--inline {

    .tabs__tabs {
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
      grid-template-columns: none;
      position: relative;
      top: 1px;
    }

    &-outer {
      margin-top: 0;
    }

    margin-top: 48px;

    .tabs__tab {
      background-color: $color_grey_light;
      border: 1px solid $color_grey_light;
      border-bottom: none;
      color: #525257;

      &.tabs__tab--selected {
        color: #525257;
        text-decoration: none;
      }

      &:hover {
        background-color: #f7f7f7;
      }
    }

    .tabs__tab-contents {
      border: 1px solid $color_grey_light;
      margin-top: 0;
      padding: 32px 64px;
      border-bottom-left-radius: 13px;
      border-bottom-right-radius: 13px;

      .preview {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
