@import './colors';
@import '~microscope-sass/lib/animation';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/transform';
@import '~microscope-sass/lib/typography';

$toggle-track-height: $grid-margin-2 - 2 * $typography-size-border;
$toggle-track-width: $toggle-track-height * 2;

.toggle {
  --active-color: #{$color_accent_light};
  --border-size: #{$typography-size-border};
  --label-color: currentColor;
  --main-color: #{$color_secondary_light};
  --shadow-color: #{$color_grey_dark};
  --track-color: transparent;
  --track-height: #{$grid-margin-2 - 2 * $typography-size-border};
  --track-margin: #{$grid-margin-1};
  --track-width: #{$toggle-track-width};

  align-items: center;
  display: flex;
  gap: var(--track-margin);
  justify-content: space-between;
  width: auto;

  &__checkbox {
    position: absolute;
    opacity: 0;
  }

  &__handle {
    @include animate;
    background-color: var(--track-color);
    border: var(--border-size) solid var(--shadow-color);
    border-radius: var(--track-width);
    box-shadow: inset 1px 1px 2px var(--shadow-color);
    box-sizing: content-box;
    color: var(--main-color);
    cursor: pointer;
    flex-shrink: 0;
    font-size: 0;
    position: relative;
    height: var(--track-height);
    width: var(--track-width);
  }

  &__checkbox:checked + &__handle {
    --track-color: var(--active-color);
  }

  &__handle:before {
    @include animate;
    @include rounded;
    background-color: currentColor;
    border: var(--border-size) solid transparent;
    box-shadow: 1px 1px 4px var(--shadow-color);
    box-sizing: border-box;
    content: '';
    display: block;
    height: var(--track-height);
    position: absolute;
    top: 0;
    left: 0;
    width: var(--track-height);
  }

  &__checkbox:checked + &__handle:before {
    transform: translateX(calc(var(--track-width) / 2));
  }


  &__checkbox:focus + &__handle:before {
    box-shadow: 0px 0px 4px 4px var(--shadow-color);
  }

  & &__label {
    color: var(--label-color);
  }

  .svg-inline--fa[aria-hidden="true"] {
    display: block;
    visibility: visible;
  }
}
