.toolbar {
  --border-color: transparent;
  --border-size: #{$typography-size-border};
  --main-color: transparent;
  --spacing: #{$grid-margin-1} 0;
  --sticky-blur: 2px;

  background-color: var(--main-color);
  border: var(--border-size) solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing);

  &[aria-hidden=true] {
    display: none;
    visibility: hidden;
  }

  &--dark {
      --border-color: #{$color_grey_light};
      --main-color: #{$color_grey_lightest};
      --spacing: #{$grid-margin-1};
  }

  &--sticky-b {
    backdrop-filter: blur(var(--sticky-blur));
    position: sticky;
    bottom: 0;
    z-index: 100;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }

  &--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
