@import 'colors';

.url_label_field {

  &__container-item {
    display: flex;

    &--errorlist{ 
      display: block;

      // Fixes margins between errorlist item
      ul:first-of-type {
        margin-bottom: 8px;
      }

      ul:nth-of-type(n+2){
        margin: 8px 0;
      }

      ul:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  .url_label_field__container {

    .form__input {
      width: 93%;

      &--left {
        width: 32% !important;
      }

      &--right {
        width: 68% !important;
      }

    }

    .url_label_field__container__button {
      border: none;
      padding: 6px;
      cursor: pointer;

      &--side {
        @extend .url_label_field__container__button;
        background-color: transparent;
        position: relative;
        right: 24px;
        color: $color_secondary_darkest;
      }
    }

  }

}
