<fieldset class="form__group--pad">
    <div class="pretty p-default p-curve p-pulse">
        <input type="checkbox" id="{{ widget.attrs.id }}" name="{{ widget.name }}" class="form__checkbox"
               value="{{ widget.value }}"
               {% if widget.selected %}checked{% endif %} {% if widget.attrs.disabled %}disabled{% endif %}>
        <div class="state {% if not widget.attrs.disabled %}p-primary{% endif %}">
            <label for="{{ widget.attrs.id }}" class="checkbox">
                {{ widget.label }}
            </label>
        </div>
    </div>
</fieldset>
