{% load i18n static toggle %}

{% spaceless %}
    <div class="dynamic">
        <div class="dynamic__container">
            <div>
                {% for subwidget in widget.subwidgets %}
                    <div class="dynamic__container-item" {% if widget.is_none %}data-isNone="true"
                         style="display: none"{% endif %}>
                        {% with widget=subwidget %}
                            {% include widget.template_name %}
                        {% endwith %}
                        {% if not widget.single %}
                            <button type="button" class="dynamic__container__button--side dynamic__container-remove">
                                <i class="fa fa-xs fa-times"></i>
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if not widget.single %}
                <div class="toolbar">
                    <button class="button button--light button--small dynamic__container-add" type="button">
                        <i class="fa fa-plus fa-xs"></i>
                        {% trans "Toevoegen" %}
                    </button>
                    {% toggle _('Aanpassen') hide_label=True icon_before='lock' icon_after='lock-open' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
