{% load i18n static %}

{% spaceless %}
    <div class="dynamic">
        <div class="dynamic__container">
            <div class="dynamic__container-list">
                {% for subwidget in widget.subwidgets %}
                    <div class="dynamic__container-item" {% if widget.is_none %}data-isNone="true"
                         style="display: none"{% endif %}>
                        {% with widget=subwidget %}
                            {% include widget.template_name %}
                        {% endwith %}
                        {% if not widget.single and not subwidget.attrs.readonly %}
                            <button type="button" class="dynamic__container__button--side dynamic__container-remove" aria-hidden="false">
                                <i class="fa fa-times" aria-hidden="false"></i>
                            </button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if not widget.single and not widget.attrs.readonly %}
                <div class="toolbar">
                    <button class="button button--light button--small dynamic__container-add" type="button">
                        <i class="fa fa-plus fa-xs"></i>
                        {% trans "Toevoegen" %}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
