@import '../../settings';
@import '~microscope-sass/lib/responsive';
@import '../colors';

$shades: (
  gray-1: #f3f3f3,
  gray-2: #e6e6e6,
  gray-3: $color_grey_darkest,
  gray-4: $color_grey_darker,
  gray-5: #999999,
  gray-6: #696969,
  gray-7: #535353,
) !default;

$color-background: $color_grey_light;
$color-info: $color_primary_lightest;
$input-color-placeholder: $color_grey_darker;
$typography-color-link: $color_primary;
$typography-color-link-hover: $color_primary_dark;
$typography-color-text: $color_grey_darkest;
$toolbar-color-background: #f2f2f2;
$datagrid-spacing-row-h: $grid-margin-1;

@import 'rijkshuisstijl/sass/components/datagrid/datagrid';
@import 'rijkshuisstijl/sass/components/icon/icon';
@import 'rijkshuisstijl/sass/components/form/form';
@import 'rijkshuisstijl/sass/components/form/input';
@import 'rijkshuisstijl/sass/components/form/select';
@import 'rijkshuisstijl/sass/components/toolbar/toolbar';
@import 'rijkshuisstijl/sass/components/paginator/paginator';

.datagrid input::placeholder {
  opacity: 1;
}

@include tablet {
  .datagrid .datagrid__header {
    position: absolute;
    top: -92px;
    right: 0;
  }
}
