{% load i18n producten %}

<div class="filter">
    <div class="filter__status">
        <div class="filter__button filter__button--off">
            {% icon "times" %} {%  trans "Niet gepubliceerd" %}
        </div>
        <div class="filter__button filter__button--off">
            {% icon "exclamation" %} {% trans "Controle nodig" %}
        </div>
        <div class="filter__button filter__button--off">
            {% icon "minus" %} {% trans "Niet aanwezig" %}
        </div>
        <div class="filter__button filter__button--off">
            {% icon "check" %} {% trans "Aanwezig" %}
        </div>
    </div>
    <div class="filter__text">
        <input type="text" class="filter__input" placeholder="{% trans "Zoeken" %}">
        <span class="expand"><i class="fas fa-expand-alt"></i></span>
    </div>
    <div class="filter__group">
        {% for choice, label in group_choices %}
            <div class="pretty p-default p-default p-thick p-smooth">
                <input type="checkbox" id="{{ choice }}" name="{{ choice }}" class="filter__group--checkbox"
                       value="{{ choice }}">
                <div class="state p-primary">
                    <label for="{{ choice }}" class="checkbox">
                        {{ label }}
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
