{% load utils %}

<div class="products__catalog">
    <h4>{{ catalog.naam }}</h4>
    {% include "organisaties/_include/catalog_filter.html" %}
</div>
<div class="products__accordeon">
    {% for informatiegebied, producten in catalog.area_and_products.items %}
        <div class="products__accordeon-item">
            <div class="products__accordeon-title">
                            <span>
                            {{ informatiegebied|truncatechars:100 }}
                            </span>
                <div>
                    <span class="products__accordeon-title-info">{{ producten|length }} Producten</span>
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </div>
            </div>
            <div class="products__list">
                <div class="products__list-container">
                    {% for product in producten %}
                        {% if catalog.is_referentie_catalogus %}
                            <a class="products__item"
                               href="{% url 'organisaties:catalogi:producten:detail' pk=lokaleoverheid.pk catalog_pk=catalog.pk product_pk=product.pk %}">
                        {% else %}
                            <a class="products__item"
                               href="{% url 'organisaties:catalogi:producten:redirect' pk=lokaleoverheid.pk catalog_pk=catalog.pk product_pk=product.pk %}">
                        {% endif %}
                    <div class="products__item-icon products__status">
                        {% product_icon product %}
                    </div>
                    <div>
                        <div class="products__item-title">{{ product.name }}</div>
                        <div
                            class="products__item-help">{{ product.beschikbare_talen|join:", " }}</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if not forloop.last %}
    <hr class="divider">
{% endif %}
