$kvk_primary: #01689b;

#kvk {
  background-color: #fff;
  font-family: "RijksOverheidSans", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  letter-spacing: .03rem;

  .divider {
    border: none;
    margin: 12px 0;
    border-bottom: 2px solid $color_grey_dark;
  }

  a {
    text-decoration: none;
  }

  .text {
    font-size: 20px;
    margin: 48px 0;
  }

  .navbar {
    background-color: $kvk_primary;
    min-height: 55px;
    padding: 8px 84px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;

      &__link {
        padding: 8px 84px;
        font-size: 25px;

        a {
          color: #fff;
          text-decoration: underline;
          text-decoration-color: #fff;
        }
      }

      &__button {
        padding: 8px 84px;
        font-size: 25px;

        button {
          color: #fff;
          --label-color: #fff;
        }
      }
   }

  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 64px;
    padding: 60px;
    min-height: 519px;

    .generiek[aria-hidden="true"] {
      display: none;
      visibility: hidden;
    }

    .algemeen[aria-hidden="true"] {
      display: none;
      visibility: hidden;
    }

    .specifiek[aria-hidden="true"] {
      display: none;
      visibility: hidden;
    }

    .specifiek table {
      border-collapse: separate;
      padding: 10px 0px;
    }
    .specifiek table td {
      padding-right: 50px;
    }

    .specifiek {
      .locatie {
        margin: 10px 0px;
      }

      .openingstijden {
        margin-bottom: 10px;

        .openingstijd div{
          margin-left: 5px;
        }

        table {
          padding: 0px;
        }

        table, tr, td, .content-top {
          vertical-align: top;
          padding-right: 10px;
        }
      }
    }

    .right {
      margin: 32px 0;
    }

  }

}
