{% load i18n toggle utils %}

{% if include_form %}
<form class="form form--localized" action="{{ action|default:'.' }}" method="{{ method|default:'post' }}"
    enctype="{{ enctype|default:'multipart/form-data' }}">
    {# Meta. #}
    {% csrf_token %}
    {% endif %}

    {# Each object is a dict with bound_fields and field (name). #}
    {% for object in object_list %}

    <div>
        {# Form control for each locale. #}
        {% for field in object.bound_fields %}
        <div class="form__control" {% if not forloop.first %} aria-hidden="true" {% endif %}
            lang="{{ field.language }}">

            {# Form control header. #}
            <header class="form__control-header">
                {# Label with icon. #}
                <label class="form__label">
                    {{ field.label|capfirst }}
                    <i class="fas fa-info-circle fa-xs dark" title="{{ field.help_text }}"></i>
                </label>
            </header>

            {#  Form control body. #}
            <div class="form__control-body" lang="{{ field.language }}">
                {# Versions #}
                {# Too specific for generic localized form, but here for pragmatic reasons. #}
                <div class="tabs__table-cell--versions"></div>

                {# Field. #}
                <div class="tabs__table-cell">
                    {{ field|addclass:"form__input lockable" }}
                    {{ field.errors }}
                </div>
            </div>

            {# Form control footer. #}
            {# Reference text actions. #}
            {# Too specific for generic localized form, but here for pragmatic reasons. #}
            <footer class="form__control-footer">
                <aside class="toolbar">
                    <div></div>
                    {% toggle _('Bewerken') hide_label=True icon_before='fa fa-lock fa-xs' icon_after='fa fa-lock-open fa-xs' %}
                </aside>
                <div class="form__control-body"></div>
            </footer>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if include_form %}
</form>
{% endif %}
