{% extends 'account/base.html' %}

{% load i18n %}

{% block menu %}{% endblock %}

{% block login_right %}
    <h1>Error 500</h1>
    <p class="heading">{% trans "Wij zijn automatisch op de hoogte gebracht van het probleem en zullen het zo spoedig mogelijk onderzoeken." %}</p>
    {% if request.sentry.id %}
        <p class="subheading">{% trans "Als u hulp nodig heeft, kunt u deze fout als volgt bestempelen" %}
            <strong>{{ request.sentry.id }}</strong>.</p>
    {% endif %}
    <hr class="divider">
    <p><a href="/" class="btn btn-lg btn-default">{% trans "Home" %}</a></p>
{% endblock login_right %}
