{% load static solo_tags %}
{% get_solo 'core.SiteConfiguration' as siteconfig %}

<!DOCTYPE html>
<html lang="en"
      class="view {% block view_class %}view--{{ request.resolver_match.namespaces|join:'-' }}-{{ request.resolver_match.url_name }}{% endblock %}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SDG{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        :root {
            --org-theme-hue: {{ org_type_cfg.color_hue }};
        }
    </style>
    {% block extra_css %}{% endblock %}
    <link href="{% static 'bundles/sdg-css.css' %}" media="all" rel="stylesheet"/>
    <script type="text/javascript">
        const SubPath = "{% if settings.SUBPATH %}{{ settings.SUBPATH }}{% endif %}";
    </script>
</head>

<body class="view__body">
{% block outer_content %}
{% endblock %}

{% block main_container %}
    {% block templates %}
    {% endblock %}
    <main class="container container--main">
        {% block content %}
        {% endblock %}
    </main>
{% endblock %}

{% block footer %}{% endblock footer %}

{% block extra_js %}
{% endblock %}
<script defer src="{% static 'bundles/sdg-js.js' %}"></script>
{% include "core/_siteconfig.html" %}
</body>
</html>
