<div style="font-family: arial, sans-serif; font-size: 12px;">
    <p>Beste {{ user_full_name }},</p>

    <p>Je krijgt deze mail omdat jij een account hebt van de SDG-invoervoorziening.</p>
    <p>Er staat een tekstwijziging van VNG klaar die automatisch wordt gepubliceerd, in het product {{product}} van {{org_type_name}} {{lokale_overheid}}.</p>
    <p>Wilt u dit niet? Maak dan zelf wijzigingen in de <a href="{{product_url}}" target="_blank">product tekst</a> en sla deze op, of <a href='{{product_url_with_action_query}}' target="_blank">klik hier</a>.</p>

    <p>Mogelijk moet je naar aanleiding hiervan, klikken op de link of aanpassingen maken aan het product.</p>
    <p>Alvast bedankt voor de medewerking!</p>

    <p>
        SDG-team<br>
        {{ sender_organization }}
    </p>
</div>
