<div style="font-family: arial, sans-serif; font-size: 12px;">
    <p>Beste {{ user_full_name }},</p>

    <p>Je krijgt deze mail omdat je een account hebt van de SDG-invoervoorziening en hebt aangegeven mails te willen ontvangen.</p>

    <p>
        Er staat een tekstwijziging klaar in de invoervoorziening. 
        Het gaat om een wijziging in de {{org_type_name}}tekst van {{product}}. 
        De VNG heeft deze tekstwijziging gemaakt en klaargezet in de invoervoorziening.
    </p>

    <p>
        Over {{doordruk_date}} dagen zal deze wijziging automatisch worden gepubliceerd voor de {{org_type_name}} {{lokale_overheid}}. 
        Wil je dit niet? Dan kun je zelf wijzigingen maken in de <a href='{{product_url}}' target="_blank">producttekst</a> en vervolgens publiceren. <a href='{{product_url}}' target="_blank">Kijk hier</a> voor de tekstwijziging (inloggen vereist).
    </p>

    <p>
        SDG-team<br>
        {{ sender_organization }}
    </p>
</div>