<div style="font-family: arial, sans-serif; font-size: 12px;">
    <p>Beste {{ user_full_name }},</p>

    <p>Je krijgt deze mail omdat jij een account hebt van de SDG-invoervoorziening.</p>
    <p>Er staat een tekstwijziging van VNG klaar die automatisch wordt gepubliceerd. Wilt u dit niet? Maak dan zelf wijzigingen in de 
        <a href='{{product_url}}' target="_blank">product tekst</a> en sla deze op, of <a href='{{product_url}}' target="_blank">klik hier</a>.
    </p>
    <p>Mogelijk moet je naar aanleiding hiervan, aanpassingen maken aan de link(s).</p>
    <p>Alvast bedankt voor de medewerking!</p>

    <p>
        SDG-team<br>
        {{ sender_organization }}
    </p>
</div>
