<div style="font-family: arial, sans-serif; font-size: 12px;">
    <p>Beste {{ user_full_name }},</p>

    <p>Je krijgt deze mail omdat jij een account hebt van de SDG-invoervoorziening.</p>
    <p>Bij het controleren van de links in de specifieke gegevens van producten, waar jij redacteur van bent, zijn er fouten opgetreden. Het gaat om de volgende link(s):</p>

    <table style="border-spacing: 0;margin-bottom: 48px;width: 100%;text-indent: 0; border-color: inherit;">
        <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
            <tr style="display: table-row;vertical-align: inherit;border-color: inherit;">
                <th style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;text-align: left;">Link</th>
                <th style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;text-align: left;">Product</th>
                <th style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;text-align: left;">Veld</th>
                {% if multiple_organizations %}<th style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;text-align: left;">Product in organisatie</th>{% endif %}
                <th style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;text-align: left;">Laatst gecontroleerd op</th>
            </tr>
        </thead>
        <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">
            {% for broken_link in broken_links %}
            <tr style="display: table-row;vertical-align: inherit;border-color: inherit;">
                <td style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;vertical-align: top;">{{ broken_link.url }}</td>
                <td style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;vertical-align: top;">{{ broken_link.occuring_field|capfirst}}</td>
                <td style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;vertical-align: top;">{{ broken_link.product|capfirst }}</td>
                {% if multiple_organizations %}<td style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;vertical-align: top;">{{ broken_link.product.catalogus.lokale_overheid }}</td>{% endif %}
                <td style="border-bottom: 1px solid #bdbdbd;padding: 12px 0;vertical-align: top;">{{ broken_link.last_checked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Mogelijk moet je naar aanleiding hiervan, aanpassingen maken aan de link(s).</p>

    <p>Alvast bedankt voor de medewerking!</p>

    <p>SDG-team<br>{{ sender_organization }}</p>
</div>
