<div style="font-family: arial, sans-serif; font-size: 11px;">
    <p>Beste {{ user.get_full_name }},</p>

    <p>Je ontvangt deze e-mail omdat jij, of iemand anders, een aanvaag hebt gedaan om je wachtwoord opnieuw in te stellen.</p>

    <p>Met de onderstaande link stel je jouw wachtwoord opnieuw in. Je 2-factor authenticatie kan enkel handmatig worden hersteld, mocht je die kwijt zijn.</p>

    <p>
    {% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
{% endblock %}
    </p>

    <br>
    <p>Met vriendelijke groet,</p>

    <p>Programmateam Single Digital Gateway<br></p>

    <p><small>Dit bericht is automatisch aangemaakt en verstuurd. Je kunt hier niet op antwoorden.</small></p>
</div>
