{% extends "master.html" %}
{% load i18n static %}
{% block title %}{% block head_title %}{% endblock head_title %} | SDG invoervoorziening{% endblock title %}
{% block main_container %}{% endblock %}
{% block extra_css %}
    <script src="{% static 'bundles/fontawesome.js' %}"></script>
{% endblock %}

{% block outer_content %}
    <div class="login">
        <div class="login__left">
            <img class="login__background-image" src="{% static 'images/gemeentes.png' %}" alt="">
            {% block login_left %}
                <div class="logo">
                    <h1 class="logo__title logo__title-large"><a href="{% url 'core:home' %}">
                        <span class="logo__uncolored">SD</span><span class="logo__colored">G</span>
                    </a>
                    </h1>
                    <h2 class="logo__subtitle logo__subtitle-large">voor gemeenten</h2>
                </div>
            {% endblock %}
        </div>
        <div class="login__right">
            {% block notifications %}
                <div class="notifications notifications--inline">
                    {% include "core/_notifications.html" %}
                </div>
            {% endblock %}
            <div class="login__container">
                {% block login_right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
