{% extends "master.html" %}
{% load i18n %}
{% block title %}{% block head_title %}{% endblock head_title %} | SDG {% trans "Accounts" %}{% endblock title %}

{% block content %}
    <div class="login">
        <div class="login__left">
            {% block login_left %}
                <h1 class="login__title">SDG</h1>
                <h2 class="login__subtitle">voor gemeenten</h2>
            {% endblock %}
        </div>
        <div class="login__right">
            <div class="login__container">
                {% block login_right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
