{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Aanmelden" %}{% endblock %}

{% block login_right %}
    {% blocktrans %}
        <h3 class="login__container-title">SDG voor {{ org_type_cfg.name_plural }}</h3>
    {% endblocktrans %}
    <p class="login__container-info">{% trans "Welkom bij de Single Digital Gateway (SDG) Invoervoorziening van VNG Realisatie." %}</p>
    <p class="login__container-info">{% blocktrans %}"Hier beheert u {{ org_type_cfg.name }} specifieke teksten voor {{ org_type_cfg.name }}lijke producten." {% endblocktrans %}</p>
    <p class="login__container-info">{% blocktrans %}Deze informatie wordt gepresenteerd op <a href="#">Rijksoverheid.nl</a> en <a href="#">Digitaalondernemersplein.nl</a>.{% endblocktrans %}</p>
    <p class="login__container-info">{% trans "Log in om verder te gaan." %}</p>
    <a class="login__button button" href="{% url 'account_login' %}?next={{ next }}">{% trans "Inloggen" %}<i class="fa fa-sign-in-alt login__button__icon"></i>
    </a>
{% endblock %}

