{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load utils %}

{% block head_title %}{% trans "Aanmelden" %}{% endblock %}

{% block login_right %}
    <h3 class="login__container-title">{% trans "Aanmelden" %}</h3>
    <p class="login__container-info">
        {% blocktrans %}Als u nog geen account hebt aangemaakt,
            <a href="{{ signup_url }}">meld u dan eerst aan</a>.{% endblocktrans %}
    </p>

    <form action="{% url "account_login" %}" class="form" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form__block">
            {% field form.login %}
            {% field form.password %}
            {% checkbox form.remember %}
            <input type="hidden" name="next" value="{{ redirect_field_value }}">
            <div class="form__buttons">
                <input type="submit" name="sign_in" value="Aanmelden" class="btn btn-primary primaryAction login_button button" id="submit-id-sign_in">
                <a class="form__buttons-link" href="{% url "account_reset_password" %}">Wachtwoord vergeten?</a>
            </div>
        </div>
    </form>
{% endblock %}

