{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load utils %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block login_right %}
    <h3 class="login__container-title">{% trans "Password Reset" %}</h3>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="login__container-info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form action="{% url "account_login" %}" class="form" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form__block">
            {% form_field form.email %}
            <input type="hidden" name="next" value="{{ redirect_field_value }}">
            <div class="form__buttons">
                <input type="submit" name="reset_password" value="{% trans "Reset password" %}" class="primaryAction login_button button" id="submit-id-reset_password">
            </div>
        </div>
    </form>

    <p class="login__container-info">{% trans "Please contact us if you have any trouble resetting your password." %}</p>
{% endblock %}

