{% extends "account/base.html" %}

{% load i18n account utils %}
{% block head_title %}{% trans "Wachtwoord reset" %}{% endblock %}

{% block login_right %}
    <h1>{% if token_fail %}{% trans "Verkeerde token" %}{% else %}{% trans "Wachtwoord reset" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}De link voor het opnieuw instellen van het wachtwoord was ongeldig, mogelijk omdat deze al is gebruikt. <a href="{{ passwd_reset_url }}">Gelieve een nieuw wachtwoord aan te vragen</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="form">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="form__block">
                    {% field form.password1 %}
                    {% field form.password2 %}
                    <input type="hidden" name="next" value="{{ redirect_field_value }}">
                    <div class="form__buttons">
                        <input type="submit" name="reset_password" value="{% trans "Wachtwoord resetten" %}" class="primaryAction login_button button" id="submit-id-reset_password">
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Uw wachtwoord is nu gewijzigd.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
