{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Wachtwoord Reset" %}{% endblock %}

{% block login_right %}
    <h1>{% trans "Wachtwoord reset e-mail" %}</h1>

    <hr class="divider">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Wij hebben u een e-mail gestuurd. Neem contact met ons op als u deze niet binnen enkele minuten ontvangt.{% endblocktrans %}</p>
{% endblock %}
