{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
    <div class="login__right">
        <div class="login__container">
            <h3 class="login__container-title">{% trans "Password Reset" %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p class="login__container-info">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            {% crispy form %}

            <p class="login__container-info">{% blocktrans %}Please contact us if you have any trouble resetting your
                password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}

