{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load utils %}

{% block head_title %}{% trans "Aanmelden" %}{% endblock %}

{% block login_right %}
    <h3 class="login__container-title">{% trans "Wachtwoord reset" %}</h3>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="login__container-info">{% trans "Bent u uw wachtwoord vergeten? Vul hieronder uw e-mail adres in, en wij sturen u een e-mail waarmee u het kunt resetten." %}</p>

    <form action="{% url "account_login" %}" class="form" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="form__block">
            {% field form.email %}
            <input type="hidden" name="next" value="{{ redirect_field_value }}">
            <div class="form__buttons">
                <input type="submit" name="reset_password" value="{% trans "Wachtwoord resetten" %}" class="primaryAction login_button button" id="submit-id-reset_password">
            </div>
        </div>
    </form>

    <p class="login__container-info">{% trans "Neem contact met ons op als u problemen ondervindt bij het resetten van uw wachtwoord." %}</p>
{% endblock %}

