{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load utils %}

{% block head_title %}{% trans "Aanmelden" %}{% endblock %}

{% block login_right %}
    <h3 class="login__container-title">{% trans "Aanmelden" %}</h3>

    <p class="login__container-info">{% blocktrans %}Heeft u al een account? Dan kunt u
    <a href="{{ login_url }}">aanmelden</a>.{% endblocktrans %}</p>


    <form action="{% url "account_signup" %}" class="form" method="post">
        {% csrf_token %}

        <div class="form__block">
            {% field form.email %}
            {% field form.password1 %}
            {% field form.password2 %}
            <input type="hidden" name="next" value="{{ redirect_field_value }}">
            <div class="form__buttons">
                <input type="submit" name="sign_up" value="Registreren" class="primaryAction login_button button"
                       id="submit-id-sign_up">
            </div>
        </div>
    </form>
{% endblock %}

