{% extends "admin/base.html" %}
{% load i18n static utils %}

{% block title %}
{{ title }} | {{ site_title|default:_('Administratie') }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bundles/admin_overrides.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'bundles/fontawesome.js' %}"></script>
    <script defer src="{% static 'bundles/sdg-js.js' %}"></script>
{% endblock %}

{% block branding %}
    {% version as build %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Administratie') }}
        </a>
    </h1>
{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{{ settings.SITE_TITLE }}</a> /
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Wachtwoord wijzigen' %}</a> /
    {% endif %}

    {% url 'maykin_2fa:account_security' as 2fa_account_security_url %}
    {% if 2fa_account_security_url %}
        <a href="{{ 2fa_account_security_url }}">{% trans "Beheer two-factor auth" %}</a> /
    {% endif %}

    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% trans 'Log out' %}</button>
    </form>
{% endblock %}

{% block nav-global %}
{% endblock %}

{% block messages %}
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div class="version">
        {{ settings.RELEASE }}
    </div>
{% endblock %}
