{% extends 'organisaties/base.html' %}
{% load static i18n utils l10n %}

{% block page_title %}{% trans "Bevoegde organisaties" %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% trans "Je kan hier extra bevoegde organisaties opgeven. De verantwoordelijke organisatie is standaard ook de bevoegde organisatie. Bij elk product kan je vervolgens een bevoegde organisatie selecteren uit deze lijst." %}
    </p>
{% endblock %}

{% block inner_content %}
    <form action="{% url "organisaties:bevoegde_organisaties" pk=lokaleoverheid.pk %}" method="post" class="form"
          id="bevoegde_organisaties_form">
        {% csrf_token %}
        <div class="formset">
            <div>
                {{ form.management_form }}
            </div>
            <div class="formset__body">
                {% for subform in form %}
                    {% if subform.instance.organisatie == lokaleoverheid.organisatie %}

                        <div class="formset__form formset__form--preview" data-prefix="{{subform.prefix}}">
                            {{ subform.non_field_errors }}

                            {% for hidden in subform.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            <div class="formset__form-header formset__form-header--small">
                                <h3 class="formset__form-title">
                                    <span>{% trans "Organisatie" %} </span>
                                    <span class="formset__current-order">{{ forloop.counter }}</span>
                                    <span class="formset__dynamic-title">({{ subform.instance.organisatie }})</span>
                                </h3>
                            </div>

                            <div class="form__block-group">
                                <div>
                                    <input type="hidden" name="{{ subform.organisatie.html_name }}" value="{% localize off %}{{ lokaleoverheid.organisatie.pk }}{% endlocalize %}">
                                    <label for="id_form-{{ forloop.counter }}-naam" class="form__label">{% trans "Standaard bevoegde organisatie" %}</label>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% organization_form subform initialOrder=forloop.counter %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="formset__button formset__button--add" data-formset-prefix="{{ locatie_formset.prefix }}" type="button">
            <i class="fas fa-plus"></i>
            {% trans "Nog een organisatie toevoegen" %}
        </button>
        <hr class="divider">
        <div class="form__actions">
            <button type="submit" class="button">{% trans "Opslaan" %}</button>
            <a href="{% url 'organisaties:bevoegde_organisaties' pk=lokaleoverheid.pk %}" class="button button--light">
                {% trans 'Annuleren' %}
            </a>
        </div>
    </form>

    <template class="formset__template">
        {% include "organisaties/_prefix/organisatie_formset.html" %}
    </template>
{% endblock inner_content %}
