{% extends 'organisaties/base.html' %}

{% load i18n %}
{% load producten %}
{% load utils %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block notifications %}{% endblock %}

{% block inner %}
    {{ block.super }}
    <div class="notifications">
        {% include "core/_notifications.html" %}
    </div>

    <div class="products">
        {% for catalog in catalogs %}
            {% include "_include/product_catalog.html" %}
            {% with catalog=catalog.referentie_catalogus %}
                {% if catalog.area_and_products %}
                    {% include "_include/product_catalog.html" %}
                {% endif %}
            {% endwith %}
        {% endfor %}
        {% include "producten/_include/legend.html" %}
    </div>
{% endblock inner %}
