{% extends 'organisaties/base.html' %}
{% load static i18n utils %}

{% block page_title %}{% trans "Locaties" %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% trans "Je kant hier alle locaties opgeven waar producten worden aangeboden. Bij elk product kan je vervolgens een of meer locaties selecteren uit deze lijst." %}
    </p>
{% endblock %}

{% block inner_content %}
    <form action="{% url "organisaties:locaties" pk=lokaleoverheid.pk %}" method="post" class="form">
        {% csrf_token %}
        <div class="formset">
            <div>
                {{ form.management_form }}
            </div>
            <div class="formset__body">
                {% for subform in form %}
                {% location_form subform initialOrder=forloop.counter %}
                {% endfor %}
            </div>
        </div>
        <button class="formset__button formset__button--add" data-formset-prefix="{{ locatie_formset.prefix }}" type="button">
            <i class="fas fa-plus"></i>
            {% trans "Nog een locatie toevoegen" %}
        </button>
        <hr class="divider">
        <div class="form__actions">
            <button type="submit" class="button">{% trans "Opslaan" %}</button>
            <a href="{% url 'organisaties:locaties' pk=lokaleoverheid.pk %}" class="button button--light">
                {% trans 'Annuleren' %}
            </a>
        </div>
    </form>

    <template class="formset__template">
        {% include "organisaties/_prefix/locatie_formset.html" %}
    </template>
{% endblock inner_content %}
