{% extends 'organisaties/base.html' %}
{% load crispy_forms_tags %}

{% block container_subtitle %}Wijzig contactgegevens{% endblock container_subtitle %}
{% block container_title %}SDG voor de <b>{{ lokaleoverheid.organisatie.owms_pref_label }}</b>{% endblock container_title %}

{% block inner %}
    <form action="{% url "organisaties:overheid_edit" pk=lokaleoverheid.pk %}" method="post" class="form">
        <fieldset class="form__group">
            {% crispy form %}
        </fieldset>
        <div class="form__subforms">
            {% crispy formset lokatie_helper %}
        </div>
        <div class="form__add-subform">
            <i class="fas fa-plus"></i>
            Nog een locatie toevoegen
        </div>
        <input type="submit" value="Opslaan" class="primaryAction login_button button">
    </form>

    <div class="form__actions">
        <p class="form__action-help">Wijzigingen worden direct gepubliceerd</p>
    </div>
{% endblock inner %}
