{% extends 'organisaties/base.html' %}

{% load static utils %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block container_subtitle %}Wijzig contactgegevens{% endblock container_subtitle %}
{% block container_title %}SDG voor de
    <b>{{ lokaleoverheid.organisatie.owms_pref_label }}</b>{% endblock container_title %}

{% block inner %}

    <form action="{% url "organisaties:overheid_edit" pk=lokaleoverheid.pk %}" method="post" class="form">
        {% form_field form.ondersteunings_organisatie %}
        {% form_field form.verantwoordelijke_organisatie %}
        {% form_field form.bevoegde_organisatie %}
        {% form_field form.organisatie %}
        {% form_field form.lau_code %}
        {% form_field form.contact_naam %}
        {% form_field form.contact_website %}
        {% form_field form.contact_telefoonnummer %}
        {% form_field form.contact_emailadres %}

        {# TODO: refactor formset #}
        {% crispy lokatie_formset lokatie_helper %}

        <div class="formset__add form__add-subform" data-formset-prefix="{{ lokatie_formset.prefix }}">
            <i class="fas fa-plus"></i>
            {% trans "Add another location" %}
        </div>
        <input type="submit" value="Opslaan" class="primaryAction login_button button">
    </form>

    <template class="formset__template">
        {% include "organisaties/_prefix/lokatie_formset.html" %}
    </template>

    <div class="form__actions">
        <p class="form__action-help">Wijzigingen worden direct gepubliceerd</p>
    </div>
{% endblock inner %}

{% block extra_js %}
    <script src="{% static 'formset.js' %}"></script>
    <script>
        new Formset();
    </script>
{% endblock %}
