{% extends 'organisaties/base.html' %}

{% load i18n %}
{% load producten %}
{% load utils %}
{% load humanize %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de
    <b>{{ lokaleoverheid }}</b>{% endblock container_title %}
{% block notifications %}{% endblock %}

{% block inner %}
    <form method="post">
        {% csrf_token %}
        <div class="subheading">
            {% blocktrans %}
                <p>Creëer nieuwe gebruikersrol voor <span class="text-bold">{{ lokaleoverheid }}.</span></p>
            {% endblocktrans %}
        </div>
        {{ form.as_p }}
        <input type="submit" class="button" value="{% trans 'Bevestig' %}">
    </form>
{% endblock inner %}
