{% extends 'organisaties/base.html' %}

{% load i18n %}
{% load producten %}
{% load utils %}
{% load humanize %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de
    <b>{{ lokaleoverheid }}</b>{% endblock container_title %}
{% block notifications %}{% endblock %}

{% block inner %}
    <div class="roles">
    {% with role_list.all as roles %}
        <div class="tabs">
        <div class="tabs__tabs">
            <a href="#roles" data-id="roles"
               class="tabs__tab tabs__tab--selected">{% trans "Roles" %}</a>
        </div>
        {% include "core/_notifications.html" %}
        <div class="tabs__tab-contents">
            <div class="tabs__tab-content tabs__tab-content--active"
                 id="roles">
                <table class="tabs__table">
                    <thead>
                    <tr>
                        <th class="tabs__table-header">{% trans "Naam" %}</th>
                        <th class="tabs__table-header">{% trans "Beheerder" %}</th>
                        <th class="tabs__table-header">{% trans "Redacteur" %}</th>
                        <th class="tabs__table-header" width="25%">{% trans "Acties" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                        {% with role.user as user %}
                            <tr>
                                <td class="tabs__table-cell">{{ user.get_full_name }}</td>
                                <td class="tabs__table-cell">{% status_icon role.is_beheerder %}</td>
                                <td class="tabs__table-cell">{% status_icon role.is_redacteur %}</td>
                                <td class="tabs__table-cell">
                                    {% if lokaleoverheid_beheerder %}
                                        {% if user.invitatie and not user.invitatie.accepted %}
                                            <span>{% trans "Uitnodiging verstuurd." %}</span>
                                        {% else %}
                                            <a href="

                                                {% if user != request.user %}{% url 'organisaties:overheid_role_delete' pk=lokaleoverheid.pk role_pk=role.pk %}{% endif %}">{% trans "Verwijderen" %}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="roles__control">
                    <a href="{% url 'organisaties:overheid_role_create' pk=lokaleoverheid.pk %}">
                        <i class="fas fa-plus"></i>
                        {% trans "Nieuwe rol toevoegen" %}
                        <a href="{% url 'organisaties:invitation_create' pk=lokaleoverheid.pk %}">
                            <i class="far fa-envelope"></i>
                            {% trans "Nieuwe gebruiker uitnodigen" %}
                </div>
            </div>
        </div>
    {% endwith %}
</div>
{% endblock inner %}
