{% extends 'organisaties/base.html' %}

{% load i18n %}
{% load producten %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de
    <b>{{ lokaleoverheid }}</b>{% endblock container_title %}
{% block notifications %}{% endblock %}

{% block inner %}
    <div class="selection">
        <div class="selection__tabs">
            {% for lokatie in lokaleoverheid.lokaties.all %}
                <a href="#{{ lokatie.pk }}" data-id="{{ lokatie.pk }}"
                   class="selection__tab selection__tab{% if forloop.first %}--selected{% endif %}">{{ lokatie.naam }}</a>
            {% endfor %}
        </div>
        <div class="selection__tab-contents">
            {% for lokatie in lokaleoverheid.lokaties.all %}
                <div class="selection__tab-content selection__tab-content{% if forloop.first %}--active{% endif %}"
                     id="{{ lokatie.pk }}">
                    <div>
                        <div class="selection__title">Bezoek adres</div>
                        <div class="selection__information">
                            {{ lokatie.get_formatted_address|linebreaks }}
                        </div>
                    </div>
                    <div>
                        <div class="selection__title">Openingstijden</div>
                        <div class="selection__tabled">
                            <div>Maandag</div>
                            <div>{{ lokatie.maandag|default:_("Gesloten") }}</div>
                            <div>Dinsdag</div>
                            <div>{{ lokatie.dinsdag|default:_("Gesloten") }}</div>
                            <div>Woensdag</div>
                            <div>{{ lokatie.woensdag|default:_("Gesloten") }}</div>
                            <div>Donderdag</div>
                            <div>{{ lokatie.donderdag|default:_("Gesloten") }}</div>
                            <div>Vrijdag</div>
                            <div>{{ lokatie.vrijdag|default:_("Gesloten") }}</div>
                            <div>Zaterdag</div>
                            <div>{{ lokatie.zaterdag|default:_("Gesloten") }}</div>
                            <div>Zondag</div>
                            <div>{{ lokatie.zondag|default:_("Gesloten") }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="selection__general">
            <a class="selection__general-link" href="#">
                <i class="fas fa-mouse-pointer"></i>
                {{ lokaleoverheid.contact_website|default:_("Geen website") }}
            </a>
            <a class="selection__general-link" href="#">
                <i class="fas fa-phone"></i>
                {{ lokaleoverheid.contact_telefoonnummer|default:_("Geen telefoonnummer") }}
            </a>
            <a class="selection__general-link" href="#">
                <i class="fas fa-envelope"></i>
                {{ lokaleoverheid.contact_emailadres|default:_("Geen e-mailadres") }}
            </a>
            <a class="selection__edit" href="{% url 'organisaties:overheid_edit' pk=lokaleoverheid.pk %}">
                <i class="fas fa-pencil-alt"></i>
                {% trans "Wijzigen" %}
            </a>
        </div>
    </div>

    <div class="legend">
        <div class="legend__content">
            <div class="legend__content__item primary">
                <i class="fas fa-dot-circle"></i>{% trans "Beschikbaar" %}
            </div>
            <div class="legend__content__item accent">
                <i class="fas fa-dot-circle"></i>{% trans "Onbeschikbaar" %}
            </div>
            <div class="legend__content__item dark">
                <i class="fas fa-dot-circle"></i>{% trans "Onbestaand" %}
            </div>
        </div>
    </div>

    {% include "core/_notifications.html" %}

    <div class="products">
        {% for catalog in catalogs %}
            <h2 class="products__title">{{ catalog.naam }}</h2>
            <div class="products__accordeon">
                {% for informatiegebied, producten in catalog.area_and_products.items %}
                    <div class="products__accordeon-item">
                        <div class="products__accordeon-title">
                            <span>
                            {{ informatiegebied|truncatechars:100 }}
                            </span>
                            <div>
                                <span class="products__accordeon-title-info">{{ producten|length }} Producten</span>
                                <i class="fas fa-angle-down"></i>
                                <i class="fas fa-angle-up"></i>
                            </div>
                        </div>
                        <div class="products__list">
                            <div class="products__list-container">
                                {% for product in producten %}
                                    {% if catalog.is_referentie_catalogus %}
                                        <a class="products__item" href="{% url 'producten:detail' pk=product.pk %}">
                                    {% else %}
                                        <a class="products__item"
                                           href="{% url 'producten:redirect' pk=product.pk catalog_pk=catalog.pk %}">
                                    {% endif %}
                                <div class="products__item-icon">
                                    <i class="fas fa-dot-circle {% if product.is_referentie_product %}dark{% elif product.beschikbaar %}primary{% else %}accent{% endif %}"></i>
                                </div>
                                <div>
                                    <div class="products__item-title">{{ product.upn_label }}</div>
                                    <div
                                        class="products__item-help">{{ product.beschikbare_talen|join:", " }}</div>
                                </div>
                                <div class="products__item-icon">
                                    <i class="fas fa-angle-right"></i>
                                </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if not forloop.last %}
                <hr class="divider">
            {% endif %}
        {% endfor %}
    </div>
{% endblock inner %}
