{% extends 'organisaties/base.html' %}

{% load i18n %}

{% block header_classes %}header--inset{% endblock header_classes %}
{% block container_title %}SDG voor de
    <b>{{ lokaleoverheid.organisatie.owms_pref_label }}</b>{% endblock container_title %}

{% block inner %}
    <div class="selection">
        <div class="selection__tabs">
            {% for lokatie in lokaleoverheid.lokaties.all %}
                <a href="#{{ lokatie.pk }}" data-id="{{ lokatie.pk }}"
                   class="selection__tab selection__tab{% if forloop.first %}--selected{% endif %}">{{ lokatie.naam }}</a>
            {% endfor %}
        </div>
        <div class="selection__tab-contents">
            {% for lokatie in lokaleoverheid.lokaties.all %}
                <div class="selection__tab-content selection__tab-content{% if forloop.first %}--active{% endif %}"
                     id="{{ lokatie.pk }}">
                    <div>
                        <div class="selection__title">Bezoek adres</div>
                        <div class="selection__information">
                            {{ lokatie.get_formatted_address|linebreaks }}
                        </div>
                    </div>
                    <div>
                        <div class="selection__title">Openingstijden</div>
                        <div class="selection__tabled">
                            <div>Maandag</div>
                            <div>{{ lokatie.maandag|default:_("Closed") }}</div>
                            <div>Dinsdag</div>
                            <div>{{ lokatie.dinsdag|default:_("Closed") }}</div>
                            <div>Woensdag</div>
                            <div>{{ lokatie.woensdag|default:_("Closed") }}</div>
                            <div>Donderdag</div>
                            <div>{{ lokatie.donderdag|default:_("Closed") }}</div>
                            <div>Vrijdag</div>
                            <div>{{ lokatie.vrijdag|default:_("Closed") }}</div>
                            <div>Zaterdag</div>
                            <div>{{ lokatie.zaterdag|default:_("Closed") }}</div>
                            <div>Zondag</div>
                            <div>{{ lokatie.zondag|default:_("Closed") }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="selection__general">
            <a class="selection__general-link" href="#">
                <i class="fas fa-mouse-pointer"></i>
                {{ lokaleoverheid.contact_website|default:_("No website") }}
            </a>
            <a class="selection__general-link" href="#">
                <i class="fas fa-phone"></i>
                {{ lokaleoverheid.contact_telefoonnummer|default:_("No phone number") }}
            </a>
            <a class="selection__general-link" href="#">
                <i class="fas fa-envelope"></i>
                {{ lokaleoverheid.contact_emailadres|default:_("No email-address") }}
            </a>
            <a class="selection__edit" href="{% url 'organisaties:overheid_edit' pk=lokaleoverheid.pk %}">
                <i class="fas fa-pencil-alt"></i>
                {% trans "Change" %}
            </a>
        </div>
    </div>

    <div class="products">
    <h2 class="products__title">Producten</h2>
    <div class="products__accordeon">
        <div class="products__accordeon-item">
            <div class="products__accordeon-title">
                Standaard Products (test)
                <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
            </div>
            <div class="products__list">
                {% for product in standaardproducten %}
                    <a class="products__item" href="{% url 'producten:std_detail' pk=product.pk %}">
                        <div>
                            <div class="products__item-title">{{ product.product_titel_decentraal }}</div>
                            <div class="products__item-help">Nederlands, Engels</div>
                        </div>
                        <div class="products__item-icon">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        {% for catalogus in lokaleoverheid.catalogi.all %}
            <div class="products__accordeon-item">
                <div class="products__accordeon-title">
                    {{ catalogus.naam }}
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-angle-up"></i>
                </div>
                <div class="products__list">
                    {% for product in catalogus.producten.all %}
                        <a class="products__item" href="{% url 'producten:std_detail' pk=product.pk %}">
                            <div>
                                <div class="products__item-title">{{ product.product_titel_decentraal }}</div>
                                <div class="products__item-help">Nederlands, Engels</div>
                            </div>
                            <div class="products__item-icon">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="products__accordeon-item">
            <div class="products__accordeon-title">
                Burger en Familierecht
                <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
            </div>
            <div class="products__list">
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
                <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                    <div>
                        <div class="products__item-title">Burger en Famiierecht</div>
                        <div class="products__item-help">Nederlands, Engels</div>
                    </div>
                    <div class="products__item-icon">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </a>
            </div>
        </div>
        <h3 class="products__subtitle">Niet in gebruik bij gemeente buren:</h3>
        <div class="products__list products__list--add">
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
            <a class="products__item" href="{% url 'producten:std_detail' pk=1 %}">
                <div>
                    <div class="products__item-title">Burger en Famiierecht</div>
                    <div class="products__item-help">Nederlands, Engels</div>
                </div>
                <div class="products__item-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </a>
        </div>
    </div>
{% endblock inner %}
