{% extends 'organisaties/base.html' %}
{% load static i18n utils %}

{% block page_title %}{% trans "Organisatie instellingen" %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% trans "Je kan hier de contactgegevens van de organisatie wijzigen." %}
    </p>
{% endblock %}

{% block inner_content %}
    <form action="{% url "organisaties:edit" pk=lokaleoverheid.pk %}" method="post" class="form">
        {% csrf_token %}

        <div class="form__forms">
            {% field_readonly form.organisatie value=lokaleoverheid.organisatie %}
            {% field form.contact_website %}
            {% field form.contact_telefoonnummer %}
            {% field form.contact_emailadres %}
        </div>
        <hr class="divider">
        <div class="form-actions">
            <div class="form__buttons">
                <input type="submit" value="Opslaan" class="primaryAction login_button button">
                <a href="{% url 'organisaties:catalogi:list' pk=lokaleoverheid.pk %}">
                    <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
                </a>
            </div>
        </div>
    </form>
{% endblock inner_content %}
