{% extends 'organisaties/base.html' %}
{% load static i18n utils %}

{% block page_title %}{% trans "Organisatie instellingen" %}{% endblock %}
{% block page_intro %}
    <p class="subheading">
        {% trans "Je kan hier de contactgegevens van de organisatie wijzigen. Let op: Deze contactgegevens worden ook gebruikt door engelstalige bezoekers." %}
    </p>
{% endblock %}

{% block inner_content %}
    <form action="{% url "organisaties:edit" pk=lokaleoverheid.pk %}" method="post" class="form">
        {% csrf_token %}

        <div class="form__forms">
            {% field_readonly form.organisatie value=lokaleoverheid.organisatie %}
            {% field form.contact_website %}
            {% field form.contact_telefoonnummer %}
            {% field form.contact_emailadres %}
            {% field form.contact_formulier_link %}
        </div>
        <hr class="divider">
        <div class="form__actions">
            <button type="submit" class="button">{% trans "Opslaan" %}</button>
            <a href="{% url 'organisaties:edit' pk=lokaleoverheid.pk %}" class="button button--light">
                {% trans 'Annuleren' %}
            </a>
        </div>
    </form>
{% endblock inner_content %}
