{% extends 'organisaties/base.html' %}

{% load static %}
{% load i18n %}
{% load utils %}

{% block inner_content %}
    <form action="{% url "organisaties:edit" pk=lokaleoverheid.pk %}" method="post" class="form">
        {% csrf_token %}

        <div class="form__forms">
            {% field_readonly form.organisatie value=lokaleoverheid.organisatie %}
            {% field form.contact_naam %}
            {% field form.contact_website %}
            {% field form.contact_telefoonnummer %}
            {% field form.contact_emailadres %}
        </div>

        <div class="form__subforms formset">
            <div>
                {{ formset.management_form }}
            </div>
            <div class="formset__body">
                {% for subform in formset %}
                    <div class="form__subforms">
                        {% for hidden in subform.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ subform.DELETE|addclass:"hidden" }}
                        <h3 class="form__subtitle">
                            <span>Lokatie {{ forloop.counter }}</span>
                            <a class="formset__remove" href="#">
                                <i class="far fa-trash-alt"></i>
                                {% trans "Lokatie verwijderen" %}
                            </a>
                        </h3>
                        <div class="form__block-group">
                            <div>
                                <div class="form__table-header-left">Lokatie</div>
                                {% field subform.naam %}
                                {% field subform.straat %}
                                {% field subform.nummer %}
                                {% field subform.plaats %}
                                <div class="form__table form__special-group">
                                    {% field subform.postcode %}
                                    {% field subform.land %}
                                </div>
                                {% field subform.openingstijden_opmerking %}
                            </div>
                            <div class="form__table">
                                <div class="form__table-header">Dag</div>
                                <div class="form__table-header">Openingstijden</div>
                                {% table_grid_field subform.maandag %}
                                {% table_grid_field subform.dinsdag %}
                                {% table_grid_field subform.woensdag %}
                                {% table_grid_field subform.donderdag %}
                                {% table_grid_field subform.vrijdag %}
                                {% table_grid_field subform.zaterdag %}
                                {% table_grid_field subform.zondag %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="formset__add form__add-subform" data-formset-prefix="{{ lokatie_formset.prefix }}">
            <i class="fas fa-plus"></i>
            {% trans "Nog een locatie toevoegen" %}
        </div>
        <input type="submit" value="Opslaan" class="primaryAction login_button button">
        <a href="{% url 'organisaties:catalogi:list' pk=lokaleoverheid.pk %}">
            <button type="button" class="button button--light">{% trans 'Annuleren' %}</button>
        </a>
    </form>

    <template class="formset__template">
        {% include "organisaties/_prefix/lokatie_formset.html" %}
    </template>

    <div class="form__actions">
        <p class="form__action-help">Wijzigingen worden direct gepubliceerd</p>
    </div>
{% endblock inner_content %}
